@import '../vars'

//----------------------------------------- START general style for control panel

.youtube, .instagram, .linkedin, .facebook, .telegram
	height 70px
	width 100%
	display flex
	justify-content center
	align-items center
	transform skewX(-30deg)
	transition 0.2s all ease-in-out
	
//----------------------------------------- END general style for control panel
.social 
	display flex
	max-width 350px
	width 100%
	
	@media screen and (max-width: 1650px) {
		max-width 265px
	}

	@media screen and (max-width: 1440px) {
		height 50px
	}

	@media screen and (max-width: 1280px) {
		padding-top 1px
	}

	@media screen and (max-width: 920px) {
		max-width 255px
	}	

	@media screen and (max-width: 720px) {
		display none
	}

.control-panel
	display flex
	justify-content space-between
	position relative
	overflow hidden

.contol-panel-top
	@media screen and (max-width: 630px) {
		height 400px // высота 3 рядов панели для перехода на мобильную версию
	}


.control-panel-btm
	background-color semiGray
	border-top 1px solid #dbe0ea

	@media screen and (max-width: 1280px) {
		flex-wrap wrap
	}	

	.panel-left
		background-color semiGray

	@media screen and (max-width: 1280px) {
		padding 0
	}	
	
	.youtube, .instagram, .linkedin, .facebook, .telegram
		background-color #f0f2f4
	
	.panel-email
		background white

		@media screen and (max-width: 1600px) {
			width 400px
		}

		@media screen and (max-width: 1280px) {
			transform skewX(0deg)
			max-width 1000px
			width 100%
		}

		.search
			@media screen and (max-width: 1280px) {
				transform skewX(0deg)
			}

	.panel-btm
		display flex

		@media screen and (max-width: 1280px) {
			width 100%
			justify-content space-between
		}

			
.control-panel-btm
	.panel-left--bottom
		justify-content center
		padding-right 20px

		@media screen and (max-width:1550px) {
			justify-content flex-start
		}

		@media screen and (max-width: 729px) {
			width 100%
			max-width none
			padding 0
			justify-content center
		}

		.youtube
			@media screen and (max-width: 720px) {
				border-left none
			}
		
		.telegram
			@media screen and (max-width: 720px) {
				border-right none
			}

	.panel-right-btm
		max-width 875px
		flex 1

		@media screen and (max-width: 1280px) {
			justify-content flex-end
		}

		@media screen and (max-width: 729px) {
			display none
		}


.panel-left, .panel-right
	display flex
	align-items flex-start
	width 100%

	@media screen and (max-width: 1280px) {
		max-width none
		width 50%
	}

.panel-right
	max-width 810px
	justify-content flex-end

	@media screen and (max-width: 1280px) {
		flex-wrap wrap
	}


.panel-left
	max-width 700px

.panel-left-top
	justify-content flex-start

	@media screen and (max-width: 1800px) {
		max-width 650px
	}

	@media screen and (max-width: 1700px) {
		max-width 600px
	}

	@media screen and (max-width: 1500px) {
		max-width 550px
	}

	@media screen and (max-width: 1370px) {
		max-width 520px
	}

	@media screen and (max-width: 1280px) {
		flex-wrap wrap
		max-width 260px
	}

	@media screen and (max-width: 920px) {
		max-width 255px
	}

	@media screen and (max-width: 768px) {
		max-width 200px
	}

	@media screen and (max-width: 720px) {
		max-width none
		width 0
	}
	
.panel-left-top
	.youtube, .instagram, .linkedin, .facebook, .telegram
		@media screen and (max-width: 1440px) {
			height 50px
		}

		@media screen and (max-width: 1280px) {
			transform skewX(0deg)
		}

.panel-left-top
	.yt, .insta, .linked, .fb, .teleg
		.transform
			@media screen and (max-width: 1280px) {
				transform skewX(0deg)
			}

.youtube, .instagram, .linkedin, .facebook, .telegram
	max-width 90px
	border-bottom 1px solid #dbe0ea
	border-right 2px solid #dbe0ea
	height 69px
	background-color whiteColor

	@media screen and (max-width: 1500px) {
		max-width 69px
	}

	@media screen and (max-width: 920px) {
		max-width 50px
	}

.yt, .insta, .linked, .fb, .teleg
	width 100%
	height 100%
	display flex
	align-items center
	justify-content center

	.transform
		transform skewX(30deg)
		display flex
		align-items center
		justify-content center

		.yt-hover, .insta-hover, .linked-hover, .fb-hover, .telegram-hover
			display none

.youtube
	&:hover
		border-color #d64848
		background-color #d64848

		.yt
			img
				display none

			.yt-hover
				display block
				width 100%
				height 100%

.instagram
	&:hover
		border-color #e39362
		background-color #e39362

		.insta
			img
				display none

			.insta-hover
				display block
				width 100%
				height 100%

.linkedin
	&:hover
		border-color #0080c6
		background-color #0080c6

		.linked
			img
				display none

			.linked-hover
				display block
				width 100%
				height 100%

.facebook
	&:hover
		border-color #366199
		background-color #366199

		.fb
			img
				display none

			.fb-hover
				display block
				width 100%
				height 100%

.telegram
	&:hover
		border-color #1a89c0
		background-color #1a89c0

		.teleg
			img
				display none

			.telegram-hover
				display block
				width 100%
				height 100%


.panel-calendar
	max-width 355px
	background-color semiViolet
	margin-left -20px
	height 70px
	width 100%
	display flex
	justify-content center
	align-items center
	transform skewX(-30deg)
	transition 0.2s all ease-in-out

	@media screen and (max-width: 1650px) {
		max-width 280px
		width 100%
	}

	@media screen and (max-width: 1280px) {
		order 6
		position absolute
		top 51px
	}

	@media screen and (max-width: 1440px) {
		height 50px
	}

	@media screen and (max-width: 630px) {
		top 101px
		max-width 100px
	}


.calend
	width 100%
	height 100%
	display flex
	align-items center
	justify-content center


	.transform
		transform skewX(30deg)
		display flex
		align-items center
		justify-content center

		img
			padding-right 15px

			@media screen and (max-width: 630px) {
				padding 0

			}
		
		p
			font-size 14px
			font-family 'Helvetica-Bold'
			color whiteColor
			letter-spacing 0.1em
			text-transform uppercase

			
			@media screen and (max-width: 630px) {
				display none
			}

	&:hover
		background-color semiBlue


.panel-login
	display flex
	justify-content center
	align-items center
	height 70px
	width 100%
	max-width 150px
	background-color semiViolet 
	transform skewX(30deg)
	transition 0.2s all ease-in-out
	z-index 1

	@media screen and (max-width: 1650px) {
		max-width 100px
	}

	@media screen and (max-width: 1440px) {
		height 52px
	}

	@media screen and (max-width: 1280px) {
		transform skewX(0deg)
	}

	@media screen and (max-width: 630px) {
		width 35%
		max-width none
	}

	&:hover 
		background-color semiBlue

.login, .registration
	width 100%
	height 100%
	display flex
	align-items center
	justify-content center
	font-size 14px
	font-family 'Helvetica-Bold'
	color whiteColor
	letter-spacing 0.1em
	text-transform uppercase

	.transform
		transform skewX(-30deg)
		display flex
		align-items center
		justify-content center

		@media screen and (max-width: 1280px) {
			transform skewX(0deg)
		}


.login
	&:hover
		background-color semiBlue


.registration 
	z-index 3

.panel-registration
	max-width 280px
	background-color semiPurple
	position relative	
	height 70px
	width 100%
	display flex
	justify-content center
	align-items center
	transition 0.2s all ease-in-out	

	@media screen and (max-width: 1650px) {
		max-width 240px
	}

	@media screen and (max-width: 1440px) {
		height 52px
	}

	@media screen and (max-width: 800px) {
		max-width 200px
	}

	@media screen and (max-width: 630px) {
		max-width none
		width 65%
	}

	&:after	
		position relative
		display block
		width 50px
		height 100%
		top 0 
		right 80%
		background semiPurple
		transform-origin bottom left
		transform skew(30deg, 0deg)
		z-index: 2
		content ''
		transition 0.2s all ease-in-out	
		cursor pointer

		@media screen and (max-width: 1280px) {
			display none
		}

	&:hover
		background-color themeColor
		

.panel-registration:hover:after 
	background-color themeColor


.panel-subscribe 
	display flex
	flex-direction column
	color darkCerulean
	align-items center
	padding 10px 40px 10px 0

	@media screen and (max-width: 1280px) {
		align-items flex-start	
	}
	

.panel-subscribe-title, .panel-subscribe-subtitle
	width 305px


.panel-subscribe-title
	font-weight 700
	font-family 'OpenSans-Bold'
	font-size 18px


.panel-subscribe-subtitle 
	font-weight 300
	font-family 'OpenSans-Light'
	font-size 14px

.subscribe-text
	transform skewX(-30deg)
	display flex
	align-items center
	justify-content center

	&:hover
		background-color semiPurple


.panel-btn--subscribe
	max-width 280px
	background-color semiViolet
	height 70px
	width 100%
	display flex
	justify-content center
	align-items center
	transition 0.2s all ease-in-out

	@media screen and (max-width: 540px) {
		max-width 180px
		flex-direction row-reverse
	}

	@media screen and (max-width: 370px) {
		position relative
		max-width 45%
	}


	&:after		
		position relative
		display block
		width 50px
		height 100%
		top 0 
		right 85%
		background semiViolet
		transform-origin bottom left
		transform skew(30deg, 0deg)
		z-index: 99
		content ''
		transition 0.2s all ease-in-out	
		cursor pointer

		@media screen and (max-width: 540px) {
			right 0%
			width 100px
		}

		@media screen and (max-width: 370px) {
			position absolute
			width 50px
			right 70%
		}

		@media screen and (max-width: 320px) {
			width 45px
		}


	&:hover
		background-color semiPurple



.panel-btn--subscribe:hover:after 
	background-color semiPurple

.subscribe-link
	width 100%
	height 100%
	display flex
	align-items center
	justify-content center
	font-size 14px
	font-family 'Helvetica-Bold'
	color whiteColor
	letter-spacing 0.1em
	text-transform uppercase

	@media screen and (max-width: 540px) {
		width 100%
		margin-right 20px
	}

	@media screen and (max-width: 540px) {
		margin-right 5px
		z-index 100
	}


// input[type="search"]::-webkit-input-placeholder
// 	color semiBlack
// 	transform skewX(-30deg)
// 	font-family 'HelveticaNeue-Light'
// 	letter-spacing 0.1em
// 	font-size 14px
// 	padding-left 35px

// input[type="search"]:-ms-input-placeholder
// 	color semiBlack
// 	transform skewX(-30deg)
// 	font-family 'HelveticaNeue-Light'
// 	letter-spacing 0.1em
// 	font-size 14px

// input[type="search"]::-ms-input-placeholder
// 	color semiBlack
// 	transform skewX(-30deg)
// 	font-family 'HelveticaNeue-Light'
// 	letter-spacing 0.1em
// 	font-size 14px

// input[type="search"]::placeholder
// 	color semiBlack
// 	transform skewX(-30deg)
// 	font-family 'HelveticaNeue-Light'
// 	letter-spacing 0.1em
// 	font-size 14px


.panel-search
	transform skewX(30deg)
	width 100%
	height 70px
	border-left 1px solid #dbe0ea
	border-bottom: 1px solid #dbe0ea

	@media screen and (max-width: 1440px) {
		height 51px
	}

	@media screen and (max-width: 1280px) {
		transform skewX(0deg)
		flex-grow 1
		width 200px
	}

	@media screen and (max-width: 630px) {
		order 3
		position absolute
		top 50px
		width 100%
	}

	.search-input-label
		@media screen and (max-width: 1440px) {
			top 15px
		}


.panel-email
	transform skewX(30deg)
	width 580px
	height 70px
	border-left 1px solid #dbe0ea

.search
	width 100%
	height 100%
	display flex
	justify-content flex-end
	align-items center
	transform skewX(-30deg)

.panel-right-top
	@media screen and (max-width: 1800px) {
		max-width 750px
	}

	@media screen and (max-width: 1700px) {
		max-width 700px
	}

	@media screen and (max-width: 1370px) {
		max-width 650px
	}

	@media screen and (max-width: 1280px) {
		flex-grow 1
		max-width none
	}

	.search	
		@media screen and (max-width: 1280px) {
			transform skewX(0deg)
			flex-grow 1
		}

.submit-search
	width 100%
	height 100%
	background-color transparent

.submit-search__wrap
	position relative
	transition 0.2s all ease-in-out
	transform skewX(30deg)
	height 70px
	width 90px
	z-index 1
	height 100%
	border-left 1px solid #dbe0ea

	@media screen and (max-width: 1280px) {
		transform skewX(0deg)
		background bgHeaderColor
		width 60px
	}

	&:before
		content ''
		position absolute
		display block
		background url('../../img/main/menu-search.png')
		transform skewX(-30deg)
		top 26px
		left 25%
		width 24px
		height 24px
		z-index 99
		cursor pointer

		@media screen and (max-width: 1440px) {
			top 15px
		}

		@media screen and (max-width: 1280px) {
			transform skewX(0deg)
		}
	
	&:hover
		background-color #2b3384
		border-color #2b3384

.submit-search__wrap:hover::before
	background url('../../img/main/menu-search-hover.png')

.search-input__wrap
	width 100%
	height 100%
	position relative
	display flex
	flex-direction column
	align-items flex-start
	justify-content center
	padding-left 50px

	@media screen and (max-width: 1280px) {
		padding-left 10%
	}

	@media screen and (max-width: 920px) {
		padding-left 5%
	}

.search-bar
	width 80%
	display block
	transition all 0.5ms ease-in-out
	cursor text
	position relative
	bottom 10px

.input-search:focus ~ .search-bar
	padding-top 2px
	border-bottom 3px solid semiViolet
	
.input-search
	cursor text
	width 100%
	height 100%

	&:focus ~ .search-input-label
		top 5px
		color semiViolet
		font-size 12px

.search-input-label 
	font-family 'HelveticaNeue-Light'
	font-size 14px
	color semiBlack
	letter-spacing 1.4px
	position absolute
	top 30px
	transition: all 0.2s ease 
	cursor text

.menu-burger-wrap
	display none
	height 50px

	@media screen and (max-width: 1280px) {
		display flex
		justify-content: flex-end
		width 100%

	}

	@media screen and (max-width: 630px) {
		position absolute
		top 100px
		max-width 70px
	}

	&:hover
		cursor pointer

.menu-burger 
	display none

	img
		margin-right 26px

		@media screen and (max-width: 630px) {
			margin 0
		}
	
	p
		font-family Helvetica-Bold, sans-serif
		text-transform uppercase
		font-size 14px
		letter-spacing 1.4px
		color semiPurple

		@media screen and (max-width: 630px) {
			display none
		}
	
	&:after		
		position relative
		display block
		width 50px
		height 100%
		top 0 
		right 85%
		background bgHeaderColor
		transform-origin bottom left
		transform skew(30deg, 0deg)
		z-index: 99
		content ''
		transition 0.2s all ease-in-out	
		cursor pointer

		@media screen and (max-width: 630px) {
			position absolute
			right 40%
			z-index -10
			width 40px
		}

	@media screen and (max-width: 1280px) {
		background-color bgHeaderColor
		max-width 295px
		width 100%
		height 50px
		display flex
		align-items center
		justify-content flex-end
		order 5
	}  

	@media screen and (max-width: 630px) {
		max-width 70px
		justify-content center
	}

	

//--------------------------------------MENU------------------------

header
	border-bottom 1px solid #dbe0ea
	display flex
	flex-direction column

	@media screen and (max-width: 630px) {
		height 180px
		padding-bottom 20px
	}

 //---------menu----------------------

.main-menu
	display flex
	justify-content center
	padding 0 40px
	height 40px
	position relative

	@media screen and (max-width: 1280px) {
		padding 0 20px
	}
 
.logo-wrap 
	align-self center
	position: relative
	bottom: 25px



	.logo-link
		width 100%
		height 100%

	
	img
		width 100px

		@media screen and (max-width: 1440px) {
			width 123px
			height 90px
		}

		@media screen and (max-width: 720px) {
			width 96px
			height 70px
		}

.menu-block-left, .menu-block-right
	width auto
	margin 10px 0 10px
	display flex
	flex-direction: column
	justify-content center

	@media screen and (max-width: 1281px) {
		display block
	}

	@media screen and (max-width: 1280px) {
		display none
	}


.menu
	display flex

.menu-block-left
	margin-right: 50px

.menu-block-right
	margin-left: 50px

.menu-item
	z-index 99
	text-align center
	box-sizing: border-box
	float: left
	white-space: nowrap
	display: inline-block

	a
		font-size 14px
		font-family 'HelveticaNeue-Medium'
		color semiBlack
		text-transform uppercase
		letter-spacing 0.025em
		line-height 1.2em
		position relative
		width 100%
		padding-right 3px


	&:hover
		a
			color semiViolet


		.submenu
			visibility visible
			opacity 1

		.item-with-sublist::after 
			border-top-color semiViolet


.menu-item:not(:last-child)
	margin-right 30px

	@media screen and (max-width: 1370px) {
		margin-right 5px
	}

//////////!* Start style for triangle in main navigation

.item-with-sublist, .submenu-item__link
	position relative

	&:after
		position absolute
		content ''
		width 0
		height 0
		border-left 4px solid transparent
		border-right 4px solid transparent
		border-top 4px solid semiBlack 
		top 50%
		

.submenu-item__link::after
	right 5px

.item-with-sublist::after 
	left 100%


//////////!* End style for triangle in main navigation

.submenu
	position absolute
	top 0
	padding-top 40px
	z-index 99
	font-size 12px
	text-align left
	background transparent
	visibility hidden
	opacity 0
	transition visibility 1s, opacity 0.5s ease

	&:hover
		visibility visible
		opacity 1

.submenu
	.submenu-item
		width 100%
		background-color semiWhite
		transition all .2s ease-in-out
		position relative

		&:hover
			.item-with-sublist::after, .submenu-item__link::after
				border-top-color #fff

			.second-submenu
				visibility visible
				opacity 1

		a	
			display block
			width 100%
			height 100%
			padding 5px
			background-color semiWhite
			color submenuItemText
			font-family 'Helvetica-Bold', 'sans-serif'
			padding 15px 0px 10px 10px
			margin-right 10px
			text-transform none

			&:hover
				cursor pointer
				color whiteColor
				background-color semiViolet
				text-transform uppercase


//-------------------------------- second submenu-------------------//
.second-submenu
	position absolute
	left 100%
	top 0%
	margin-left 10px
	width 230px
	visibility hidden
	opacity 0
	transition visibility 1s, opacity 0.5s ease

	.submenu-item
		width 100%

		a
			text-transform none
			padding 15px 0 10px 10px

			&:hover
				text-transform uppercase
			

.submenu .submenu-item:hover .submenu-item__link
	background semiViolet
	color whiteColor

