@import '../vars'

footer
    display flex
    flex-direction column
    align-items center
    color whiteColor
    
 

.upperfooter 
    background url("../../img/main/bottombg.jpg")
    background-repeat no-repeat
    background-size cover
    width 100%
    padding 60px 0 
    
    @media screen and (max-width: 1100px) {
        background url("../../img/main/bottombg-tablet.jpg")
        background-repeat no-repeat
        background-size cover
        height 100%
        padding 40px 0
    }

    @media screen and (max-width: 500px) {
        background url("../../img/main/bottombg-mobile.jpg")
        background-repeat no-repeat
        background-size cover
        padding 0
    }

.bottomnav

    @media screen and (max-width: 1100px) {
        height 700px
        padding-top 40px
        padding-bottom 0px
    }

    @media screen and (max-width: 750px) {
        height 1100px
    }

    @media screen and (max-width: 500px) {
        height 1350px
    }




.bottomnav__list 
    display flex
    flex-direction column
    flex-wrap wrap
    height 360px

    @media screen and (max-width: 1100px) {
        height 100%
    }

    @media screen and (max-width: 500px) {
        align-items center
        flex-wrap nowrap
    }

.bottomnav__list-item 
    margin 0
    width 270px

    @media screen and (max-width: 1100px) {
        width 245px
    }

    @media screen and (max-width: 500px) {
        width normal
        text-align center
    }

    &:nth-child(1)
        margin-left 321px
        
        @media screen and (min-width: 500px) and  (max-width: 1400px) {
            margin-left 35px
        }

        @media screen and (max-width: 1100px) {
            height 100%
        }

        @media screen and (max-width: 501px) {
            margin-left 0 
            height auto
        }

.bottomnav__list-item-img
    width 220px
    height 160px
    margin-bottom 47px

    @media screen and (max-width: 768px) {
        width 180px
        height 132px
    }

    @media screen and (max-width: 500px) {
        width 137px
        height 100px
        margin-bottom 28px
    }


.bottomnav__list-item--title
    text-transform uppercase 
    font-weight 700
    margin-bottom 18px
    letter-spacing 0.7px
    line-height 24px
    font-family 'HelveticaNeue-Roman'
    text-align left

    @media screen and (max-width: 501px) {
        text-align center
    }

    &:hover
        font-family 'Helvetica-Bold'

.bottomnav__list-item--subtitle 
    font-size 14px
    font-weight 100
    letter-spacing 0.7px
    line-height 24px
    display flex
    flex-direction column
    width 230px
    font-family 'HelveticaNeue-Roman'
    transition all 1s ease-in-out

    &:hover
        font-family 'Helvetica-Bold'

    @media screen and (max-width: 501px) {
        margin-bottom 20px
    }


.bottomnav__list-item--link 
    color whiteColor
    font-family 'Helvetica-Regular'
    font-size 14px
    font-weight 400px
    letter-spacing 0.4px
    line-height 30px
    transition all 0.5s ease-in-out

    &:hover 
        font-family 'Helvetica-Bold'

.bottomnav__sublist
    list-style-type disc
    margin-left 40px

    @media screen and (max-width: 500px) {
        margin-left 0
        }

.bottomnav__sublist-item--link
    color whiteColor
    font-family 'Helvetica-Regular'
    font-size 14px
    font-weight 400px
    letter-spacing 0.4px
    line-height 30px
    text-transform: none
    transition all 0.5s ease-in-out

    &:hover 
        font-family 'Helvetica-Bold'    

