@import '../vars'

.bottom-footer
    background-color #496bab
    box-sizing border-box
    width 100%
    margin 0
    padding 0 15px
    height 80px
    display flex
    align-items center
    justify-content space-around
    font-size 14px
    font-family 'Helvetica-Regular'
    color whiteColor
    line-height 1.2em
    letter-spacing 0.075em

    @media screen and (max-width: 768px) {
        padding 20px 0
        height 100% 
        flex-direction column
    }

    .copyright
        max-width 70%
    
        @media screen and (max-width: 768px) {
            text-align center
            max-width 685px
            width 100%
            margin-bottom 30px
        }

        @media screen and (max-width: 500px) {
            max-width 243px    
        }


    .author
        display flex
        align-items center
        max-width 30%
        

        @media screen and (max-width: 768px) {
            max-width 50%
            }

        p
            line-height 1.5em
            font-size 14px
            font-family 'Helvetica-Regular'

        a
            padding-left 15px
            transition all .2s ease-in-out

            &:hover
                opacity 0.6


.bottom-footer .author 
    @media screen and (max-width: 515px) {
        max-width 85%
    }
    