@import '../vars'

//-------------------------------slider------------------------
.tpc-slider
	.heading 
		h2, .defaultTitle
			font-size 30px
			letter-spacing 0.1px

			@media screen and (max-width 767px)
				font-size 22px
				line-height 22px

.tpc-slider__wrap
	max-width 1280px
	width 100%
	margin 0 auto
	box-sizing border-box

	.container
		padding 100px 0 0 0

.tpc-slider__wrap
	.tpc-slider__slide
		display none
		justify-content center
		margin-bottom 20px

.slick-initialized
	.tpc-slider__slide
		display flex	

.tpc-slider__slide--img---wrap
	max-width 190px
	width 100%
	height 130px
	position relative
	left 0
	display flex
	justify-content center
	align-items center
	border 1px dotted #ccc
	background-color whiteColor
	overflow: hidden

	a
		display flex
		align-items center
		justify-content center
		overflow: hidden

.tpc-slider__slide--img
	max-width 80%
	overflow hidden


.tpc-slider
	.container
		max-width 1280px
		flex-direction column

//-------------------------------------dots------------

.main-dots
	display flex
	justify-content center
	padding 40px 0 

	li
		position relative
		height 10px
		padding 0
		cursor pointer

		:nth-child(n+7)
			margin-top 10px

		&:before
			content ''
			display block
			width 19px
			height 18px
			background url('../img/all/dots.png') no-repeat

		&:hover
			cursor pointer

		&:nth-child(odd)
			top 9px

		&:nth-child(1), &:nth-child(3), &:nth-child(5)
			top 9px

		button
			background-color transparent
			font-size 10px
			color transparent

	.slick-active
		&:before
			content ''
			display block
			width 19px
			height 18px
			background url('../img/all/dots-active.png') no-repeat

.tpc-slider.general-partners,
.tpc-slider.partners-committee,
.media-partners.tpc-slider
	background-color: semiGray

	@media screen and (max-width 767px)
		.media-partners.tpc-slider
			background-color: #ffffff