@import '../../common/common-stylus/vars'
@import '../../common/common-stylus/components/controlpanel'
@import '../../common/common-stylus/components/footer'


//-------------------------------------------general_style-------------------------------------
.about-aau
    .about-aau__principle, .about-aau__objective
        .container
            flex-direction column

    .about-aau__principle
        background-color: #f0f2f4

.about-aau.about-stndrt.about-aau-main
    .general-partners
        background-color #fff

    .about-aau--subsliders.subsliders
        background-color: semiGray

        .tpc-slider.partners-committee
            .container
                background-color: semiGray

        .media-partners.tpc-slider
            .container
                background-color: semiGray

                @media screen and (max-width 1280px)
                    background-color: #fff

.about-aau
    h2
        font-size 24px
        font-weight bold
        text-transform: uppercase

        @media screen and (max-width 767px)
            font-size: 18px
            line-height: 18px
        
.about-aau.about-stndrt
    p
        font-family 'HelveticaNeue-Light'
        line-height 30px
        color semiBlack
        font-size 16px
        text-align justify
        margin-bottom 20px
        
        @media screen and (max-width: 767px) {
            text-align justify
            line-height 22px
            font-size 14px
            margin-bottom 5px
        }
        
        &:not(:last-child)
            margin-bottom 40px
            
            @media screen and (max-width: 767px) {
                margin-bottom 20px
            }

    .about-aau__intro
        .container.about-aau__intro-wrap
            flex-direction row

            @media screen and (max-width 1280px)
                flex-direction column
//-----------------------------------------end_general_style-------------------------------------

//////////////////////////////////////////////////////////
//
// START STYLE FOR ABOUT-WORKERS
// 
//////////////////////////////////////////////////////////

//-----------------------start geneeral styles ------------------------
.about-stndrt
    .container
        flex-direction column


//-----------------------end general styles------------------------
.about-stndrt
    h1
        @media screen and (max-width: 1280px){
            font-size 30px
            letter-spacing 1.5px
            text-align left
        }
        
        @media screen and (max-width 767px)
            text-align center
            font-size: 22px
            letter-spacing: normal

.about-stndrt
    .intro
        .intro__subtitle
            font-size 24px
            width 80%

            @media screen and (max-width: 1280px){
                width 100%
                text-align left
                font-size 20px
            }

            @media screen and (max-width 767px)
                text-align: center
                font-size: 16px
                line-height: 16px
    
    h2
        text-transform none
        font-size 24px
        letter-spacing 1.2px
        font-weight 600

        @media screen and (max-width 767px)
            letter-spacing: normal
            font-size: 18px
            line-height: 18px

    .general-partners__title
        text-transform uppercase
        font-size 36px
        letter-spacing 1.8px

        @media screen and (max-width: 1280px){
            font-size 30px
            letter-spacing 1.5px
        }
        
        @media screen and (max-width: 768px){
            font-size 20px
            letter-spacing 0
        }
    
    .about-aau--subsliders 
        .partners-committee__title, .media-partners__title
            text-transform uppercase
            font-size 30px
            letter-spacing 1.5px

            @media screen and (max-width: 768px){
                font-size 20px
                line-height 20px
                letter-spacing 0
            }


.about-stndrt
    .stndrt__text:not(:last-of-type) 
        margin-bottom 20px

//---card worker
.worker-card-group
    display flex
    

.worker
    display flex
    flex-direction column
    min-width 290px
    min-height 500px

    @media screen and (max-width 1280px)
        min-width 260px
        width 260px
        min-height: 420px

.worker__img-wrap
    height 400px

    @media screen and (max-width 1280px)
        height 360px

    img
        width 100%
        height 100%
        object-fit cover

.worker__text-wrap
    height 100px
    background url('../img/staff/bottom__bg.png')
    background-repeat round
    background-size cover

    .worker__text
        font-family 'HelveticaNeue-Black'
        font-size 18px
        letter-spacing 0.9px
        color whiteColor 
        margin 30px
        text-align: center

        @media screen and (max-width 1280px)
            font-size: 14px
            margin 15px 30px

.board__members-list 
    .worker__text-wrap 
        .worker__company
            margin-top 10px
            font-size 12px
            font-family 'HelveticaNeue-Medium'
            font-weight 500
            letter-spacing 1.2px
    

.worker__wishes
    margin-top auto
    align-self flex-end
    position relative

    &:before
        content ''
        width 5px
        background-color semiPurple
        display block
        height 100%
        left 0
        position absolute
    
    @media screen and (max-width 767px)
        align-self: flex-start

.worker__wishes-text
    margin-left 20px
    font-style italic
    letter-spacing 0.8px
    font-size 16px
    color semiPurple
    font-family 'HelveticaNeue-Bold'
    font-weight 400
    line-height 24px

    @media screen and (max-width 1280px)
        font-size 14px
    
    @media screen and (max-width 767px)
        font-size: 12px
        line-height: 14px

.worker-card
    margin-top 45px
    display flex

    @media screen and (max-width:1280px){
        margin-top 0
    }

    @media screen and (max-width 767px)
        flex-direction: column
        align-items center

.worker-card__article
    margin-left 40px
    display flex
    flex-direction column

    .worker-card__article--text.stndrt__text{
        @media screen and (max-width: 767px) {
            text-align justify
            font-size 14px
            } 
        }

.worker-card__article
    h3, h2, h4, h5
        margin-bottom 20px
    
    ul, ol
        list-style: disc
        padding-left: 20px
        

    @media screen and (max-width 767px)
        margin-left 0
        margin-top 20px

.stndrt__competence-list
    list-style-type disc
    padding-left 15px

    .stndrt__competence-list--item
        color semiBlue

        @media screen and (max-width 767px)
            p
                text-align: left
                font-size 14px


//////////////////////////////////////////////////////////
//
// START STYLE FOR DEPARTMENTS
// 
//////////////////////////////////////////////////////////
.departments-subtitle {
    font-family 'HelveticaNeue-Roman', sans-serif
    font-size 24px
    line-height 30px
    color semiPurple
    }
        
.intro__descr.departments-intro
    margin-top 55px
    
.departments-contancts
    color semiBlack
    font-family 'HelveticaNeue-Black', sans-serif
    font-size 16px

    @media screen and (max-width 767px)
        font-size 14px

        a
            font-size: 14px
            white-space: pre-line
            display block

.departments-list
    display flex
    flex-wrap wrap
    justify-content flex-start

.departments-list__item
    min-width: 290px
    min-height: 520px
    max-width 290px
    max-height 520px
    height 100%
    width 100%
    display flex
    flex-direction column
    margin-right 40px
    margin-bottom 40px

    &:nth-child(4n){
        margin-right 0
    }



.departments-list__item-region
    min-height 60px
    height 60px
    width 100%
    background-color semiViolet
    display flex
    justify-content center
    align-items center

.departments-list__item:nth-child(1)
    .departments-list__item-region
        align-items flex-start

//for ARK

.departments-list__item-region--title
    font-family 'HelveticaNeue-Bold', sans-serif
    color #ffffff
    font-size 16px
    text-align center
    white-space pre-line
    width 100%
    text-transform uppercase
    height auto

.departments-list__item-img
    min-height: 355px
    width 100%
    object-fit cover

.departments-list__item-descr
    width 100%
    min-height 105px
    height 105px
    background: url('../img/staff/bottom__bg.png') 
    background-size cover
    display flex
    flex-direction column
    align-items center
    justify-content center

.departments-list__item-descr--name
    font-size 18px
    color whiteColor
    text-transform uppercase
    font-family 'HelveticaNeue-Black', sans-serif
    white-space pre-line
    text-align center

.departments-list__item-descr--contacts
    color whiteColor 
    font-size 14px
    font-family 'HelveticaNeue-Medium'
    text-transform: none 
    margin-top 10px
    position relative
    transition all 0.5s ease
    letter-spacing: -0.5px;
    display flex
    align-items center
    margin-right: auto
    margin-left: auto

    &:hover
        color rgba(255, 255, 255, .5)

        &:before
            opacity 0.5 

    &:before
        display inline-block
        margin-right 10px
        content: ''
        width 20px
        height 14px
        background url('../img/staff/mail.png') center center no-repeat
        transition all 0.5s ease

    
    
//////////////////////////////////////////////////////////
//
// END STYLE FOR DEPARTMENTS
// 
//////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////
//
// END STYLE FOR ABOUT-WORKERS
// 
//////////////////////////////////////////////////////////

.about-aau__intro-wrap
    display flex
    justify-content space-between
    align-items center
    overflow-x: hidden

.about-aau__intro-article
    width 50%
    
    @media screen and (max-width: 1280px){
        width 100%
    }

    .stndrt__text.about-aau__intro-text
        @media screen and (max-width: 768px){
            font-size 14px
            }

.about-aau__intro-video
    align-self flex-end
    width 440px
    height 248px
    margin-bottom 20px

    @media screen and (max-width: 1280px){
        margin-top 50px
        align-self center
        }

    .video {
        @media screen and (max-width: 500px){
            max-width: 280px;
            max-height: 160px;
        }
    }
        

.about-aau__list
    display flex
    flex-wrap wrap
    padding 0 5px

.about-aau__list.principle__list.checklist
    justify-content: space-between

    .about-aau__list-item.principle__list-item.checklist-item
        margin-right: 0
        margin-bottom: 10px
        display flex
        align-items: center
        min-height: 40px
        height 40px

        @media screen and (max-width 767px)
            margin-bottom: 5px
            min-height: 30px
            height 30px

.about-aau__list-item
    font-size 18px
    line-height: 20px
    min-width: 30%
    width 30%
    min-height: 60px
    height 60px
    font-family: 'HelveticaNeue-Light', sans-serif
    color: #4a4b4d
    display flex
    margin-right 40px
    margin-bottom 40px

    &:nth-child(3n)
        margin-right: 0
    
    @media screen and (max-width: 1280px){
        max-width 48%
        min-width: 48%
        margin-right: 20px
        align-items: center
    }

    &:nth-child(2n)
        @media screen and (max-width 1280px)
            margin-right 0

    @media screen and (max-width: 767px){
        font-size 16px
        max-width: inherit
        width 100%
        margin-right 0
        margin-bottom: 10px
        min-height: inherit
        height auto
        
    }


.main-info
    display flex
    justify-content center

    @media screen and (max-width: 1280px){
        flex-direction column
    }

    .structure
        width 62%
        padding 100px 70px 100px 100px
        background-color: #f0f2f4

        @media screen and (max-width: 1280px){
            padding: 60px 35px
            max-width none
            align-items flex-start
            width auto
            }

        .structure__heading, .structure__article
            max-width 811px

            @media screen and (max-width: 1280px){
                max-width none
            }

.structure__heading
    align-self center

    @media screen and (max-width: 1280px){
        margin 0
    }



//-----------------------------------------start block documents-------------------------------------
.main-info
    .documents
        background url('../img/about/main-bg.jpg')
        background-repeat repeat
        background-size cover
        position relative
        width 50%
        padding 100px 240px 100px 70px

        &:before
            content ''
            top 0
            right 0
            position absolute
            display block
            background url('../img/about/main-bg-before.png')
            background-size cover
            background-repeat no-repeat
            width 100%
            height 452px
        
        @media screen and (max-width: 1280px){
            max-width none
            background-repeat round
            background-size cover
            padding 60px 35px
            width auto
            }
    
    .structure__heading-left
        max-width 330px
        width 100%
        z-index: 10

        @media screen and (max-width: 1280px){
            max-width none
        }

        .structure__title-left
            color whiteColor 
            text-transform none
            text-align: left

        .separator
            &:after
                background-color whiteColor 

.documents__list-item
    display flex
    flex-direction column
    margin-bottom 60px
    z-index: 10

.documents__list-item--link
    color whiteColor
    text-transform none
    font-size 16px
    line-height 36px
    text-decoration underline
    letter-spacing 0.8px
    font-family 'HelveticaNeue-Bold'
    z-index 10

    &:hover
        font-family 'HelveticaNeue-Black'

    @media screen and (max-width 767px)
        font-size 14px
        letter-spacing: normal

        &:focus
            text-decoration none


//-----------------------------------------end block documents-------------------------------------

//-----------------------------------------sliders-------------------------------------

//////////////////////////////////////////////////////////
//
// START STYLE FOR ABOUT-STRUCTURE
// 
//////////////////////////////////////////////////////////

.about-stndrt
    .intro
        font-family: 'HelveticaNeue-Light',sans-serif
        font-size: 16px
        line-height: 24px
        color: #343537
        text-transform: none
        
        @media screen and (max-width 767px)
            font-size 14px
            letter-spacing: normal
            line-height 20px


.about-structure.about-stndrt
    .structure__article, 
    .structure__heading
        max-width: inherit
        width 100%

        @media screen and (max-width 1280px)
            p
                text-align: left
    .structure
        padding 0

//////////////////////////////////////////////////////////
//
// END STYLE FOR about-president-aau
// 
//////////////////////////////////////////////////////////
    
//////////////////////////////////////////////////////////
//
// START STYLE FOR about-president-aau
// 
//////////////////////////////////////////////////////////

.about-aau
    .general-partners__title
        font-size 30px
      
.worker-card__article--text---bold
    color semiViolet
    font-size 18px
    font-family 'HelveticaNeue-Bold'
    
    @media screen and (max-width: 1280px){
        margin-bottom 50px
    }

    @media screen and (max-width 767px)
        margin-bottom 30px
        font-size 14px

.worker__text-wrap.position
    .worker__text
        margin 20px 50px 10px
        text-transform uppercase

.worker__position 
    color #ffffff
    font-size 12px
    font-family 'HelveticaNeue-Medium', sans-serif
    text-align center

//////////////////////////////////////////////////////////
//
// END STYLE FOR about-president-aau
// 
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
//
// START STYLE FOR about-congress-aau
// 
//////////////////////////////////////////////////////////


.congress-aau__intro-article
    .stndrt__text.congress-aau__intro-article--text
        @media screen and (max-width: 768px){
            font-size 14px
            text-align: justify
            letter-spacing 0px
        }

.congress-aau__intro-article--title
    margin-bottom 54px
    font-size 24px
    color #5073b6

    @media screen and (max-width: 767px){
        font-size 16px
        letter-spacing 0px
        text-align center
        margin-bottom 25px
    }

.congress-aau__competence-subtitle 
    font-size 16px
    line-height 30px
    color semiPurple
    font-family 'HelveticaNeue-Bold'

    @media screen and (max-width: 768px){
        text-align center
        font-size 14px
        line-height 20px
    }

.congress-aau__competence
    .congress-aau__competence--title
        @media screen and (max-width: 768px){
            font-size 18px
            line-height 18px
            letter-spacing normal
        }

    .congress-aau__competence-list--item.checklist-item
        .competence-list__text
            @media screen and (max-width: 768px){
                font-size 14px
                text-align left
            }


.congress-aau__competence, .general-partners 
    background semiGray

.congress-aau__competence-list
    margin-bottom: 40px
    
    @media screen and (max-width: 1280px){
        margin-bottom: 40px
        }

.congress-aau__exclusive-heading
    margin-top 77px

    @media screen and (max-width: 1280px){
        margin-top 50px
        }

.congress-aau__competence-list, .congress-aau__exclusive-list
    @media screen and (max-width: 1280px){
        width 100%
        }


.congress-aau__exclusive
    .stndrt__text.congress-aau__exclusive-article--text
        @media screen and (max-width: 768px){
            text-align left
            font-size 14px
        }

.congress-aau__exclusive--title {
    @media screen and (max-width: 768px){
        font-size 18px
        line-height 20px
        letter-spacing normal
    }
}

.congress-aau__exclusive-list.checklist {
    .congress-aau__exclusive-list--item.checklist-item.stndrt__text {
        @media screen and (max-width: 768px){
            text-align left
            font-size 14px    
        }
    }
}

//////////////////////////////////////////////////////////
//
// END STYLE FOR about-congress-aau
// 
//////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////
//
// START STYLE FOR about-board-members
// 
//////////////////////////////////////////////////////////


.intro__subtitle
    margin-bottom: 55px

.board__members-list
    flex-wrap wrap
    justify-content flex-start

    .board__members-list--item 
        margin-right 40px
        margin-top 40px
        width 400px
        
        @media screen and (max-width: 1280px){
            margin-right: 30px
        }

        @media screen and (max-width: 920px){
            width 330px
            height 430px       
        }

        &:nth-of-type(3n)
            margin-right 0

            @media screen and (max-width: 1280px){
                margin-right 30px
            }
        
        &:nth-of-type(2n)
            @media screen and (max-width: 920px){
                margin-right 0
            }

        .worker__img
            width 400px
            
            @media screen and (max-width: 920px){
                width 330px
                height 330px
                }

        .worker__text-wrap
            display flex
            flex-direction column
            justify-content center
            align-items center
            height 100px

            .worker__text.worker__company
                margin-top: 10px

            .worker__text
                margin 0

            

        .worker__img-wrap
            height 400px

            @media screen and (max-width: 920px){
                height 330px
            }

.worker__text_secondname
    display block

.competence-board, .general-partners
    background-color semiGray

.competence-board__list-item
    .competence-board__list-item--text
        margin-bottom 10px

//////////////////////////////////////////////////////////
//
// END STYLE FOR about-board-members
// 
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
//
// START STYLE FOR about-revision-commission
// 
//////////////////////////////////////////////////////////

.revision-commission
    h4
        color semiPurple
        font-size 14px
        font-weight 400
        letter-spacing 1.4px
        line-height 36px
        font-family 'HelveticaNeue-Black'


.worker-card-group
    flex-wrap wrap
    justify-content flex-start

    @media screen and (max-width 1280px)
        justify-content: space-around
    

    @media screen and (max-width 767px)
        justify-content: center

    .board__members-list--item 
        margin-right 40px
        margin-top 40px
        width 400px
        overflow: hidden
        
        @media screen and (max-width: 1280px){
            margin-right: 30px
            min-width: 330px
            width 330px
            min-height: 430px
            height 430px
        }

        @media screen and (max-width 700px)
            min-width: 300px
            width 300px
            min-height: 390px
            height 390px

        @media screen and (max-width 700px)
            margin-right: 0

        &:nth-of-type(3n)
            margin-right 0

            @media screen and (max-width: 1200px){
                margin-right 30px
            }

            @media screen and (max-width 700px)
                margin-right: 0
        
        &:nth-of-type(2n)
            @media screen and (max-width: 1200px){
                margin-right 0
            }

        .worker__img
            width 400px
            object-fit: cover

            @media screen and (max-width: 1280px){
                min-width 330px
                min-height 330px
                width 330px
                height 330px
            }

            @media screen and (max-width 700px)
                width 300px
                height: 304px
                min-width 30px
                min-height: 304px

        .worker__text-wrap
            display flex
            flex-direction column
            justify-content center
            align-items center
            min-height 100px
            height 100px

            @media screen and (max-width 700px)
                min-height: 85px
                height 85px

            .worker__text
                margin 0

        .worker__img-wrap
            height 400px

            @media screen and (max-width: 1280px){
                height 330px
            }

            @media screen and (max-width 700px)
                height 304px

.worker__text_secondname
    display block

.revision-commission__list-item
    .revision-commission__list--text
        margin-bottom 0

.general-partners
    background-color semiGray

.revision-commission__list
    margin-bottom 40px
//////////////////////////////////////////////////////////
//
// END STYLE FOR about-revision-commission
// 
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
//
// START STYLE FOR about-secretariat
// 
//////////////////////////////////////////////////////////
.secretariat
    .worker-card-group
        .worker__text_secondname
            text-transform uppercase
            font-size 18px
            font-weight 500
            font-family 'HelveticaNeue-Black'
            margin-bottom 10px

            @media screen and (max-width 767px)
                font-size 14px
        
        .worker__text
            font-size 14px
            font-weight 400
            font-family 'HelveticaNeue-Medium'


//////////////////////////////////////////////////////////
//
// END STYLE FOR about-secretariat
// 
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
//
// START STYLE FOR about-vice-president-aau
// 
//////////////////////////////////////////////////////////

.worker-card__article-list
    margin-bottom 20px
    
    .stndrt__text
        margin-bottom 5px

.worker__wishes-text

    &:first-of-type
        margin-top 10px

        @media screen and (max-width 1280px)
            margin-top 0

    &:last-of-type
        margin-bottom 10px

        @media screen and (max-width 1280px)
            margin-bottom 0

//////////////////////////////////////////////////////////
//
// END STYLE FOR about-vice-president-aau
// 
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
//
// START STYLE FOR about-committee
// 
//////////////////////////////////////////////////////////


.committee-intro
    .container
        display flex
        flex-direction column

.committee-list__item-descr--wraper
    display none

//////////////////////////////////////////////////////////
//
// END STYLE FOR COMMITTEE 
// 
//////////////////////////////////////////////////////////

.committee-list__item
    width 100%
    background-color semiGray

    &:not(:last-child)
        margin-bottom 2px

.committee-list__item-title--wrap
    height 60px
    display flex
    align-items center
    background url('../img/staff/bg-unactive.png') no-repeat
    background-size: 100px 53px
    background-position-x: -15px
    background-position-y: -15px
    position relative

    @media screen and (max-width 767px)
        background semiGray


    &:hover
        cursor pointer

    &:after
        content ''
        display block
        position absolute
        right 13px
        background-image url('../img/staff/unactive.png')
        background-repeat no-repeat
        width 25px
        height 21px
        z-index 10

        @media screen and (max-width 767px)
            background-image url('../img/staff/active.png')

//стили для активного комитетта

.committee-list__item.active
    .committee-list__item-title--wrap
        background url('../img/staff/bg-active.jpg') no-repeat

        @media screen and (max-width 767px)
            background #5073b6

        &:after
            content ''
            background-image url('../img/staff/active.png')

            @media screen and (max-width 767px)
                background-image url('../img/staff/unactive.png')

    
    .committee-list__item-title
        color whiteColor


.committee-list__item-title
    font-size 18px
    color: semiBlack
    font-family 'HelveticaNeue-Bold', sans-serif
    height auto
    text-align left
    padding-left 80px
    
    @media screen and (max-width 767px)
        font-size 12px
        padding-left 10px
        padding-right 60px


.committee-list__item-descr--wraper
    padding 55px 70px 100px 55px
    margin-bottom: 10px
    flex-direction column

    @media screen and (max-width 1280px)
        padding 20px 10px


.committee-list__item-descr--title
    width 100%
    font-size 24px
    font-family 'HelveticaNeue-Bold', sans-serif
    letter-spacing 0px
    line-height 24px
    color semiViolet
    text-transform none

.committee-list__item-info--wraper
    display flex
    justify-content space-between

    @media screen and (max-width 767px)
        flex-direction column

//////////////////////////////////////////////////////////
//
// START STYLE FOR .worker-block
// 
//////////////////////////////////////////////////////////

.worker-block
    max-width 290px
    width 100%
    height auto

    @media screen and (max-width 1280px)
        max-width 260px
        min-width 260px
        margin-right 20px

        img
            min-height: 360px
            height 360px
            max-height 360px
    
    @media screen and (max-width 767px)
        margin 0 auto 30px

.worker-img
    width 100%
    margin-bottom:  -10px

.worker-info
    height 80px
    display flex
    align-items center
    justify-content center
    flex-direction column
    background url('../img/staff/bottom__bg.png')
    
.worker-name
    text-transform uppercase
    font-family 'HelveticaNeue-Black', sans-serif
    font-size 18px
    line-height 24px
    color whiteColor

.worker-position
    font-family 'HelveticaNeue-Roman', sans-serif
    font-size 16px
    color whiteColor

.worker-bio
    background-color #2d3484
    padding 30px 20px 10px

.worker-biot__text
    color whiteColor
    font-size 12px
    text-align center
    line-height 20px
    font-family 'HelveticaNeue-Medium', sans-serif
//////////////////////////////////////////////////////////
//
// END STYLE FOR .worker-block
// 
//////////////////////////////////////////////////////////

.committee-maintext__wraper
    max-width 810px
    width 100%
    font-family 'HelveticaNeue-Roman', sans-serif
    
    .committee-third__title, h3
        color #5073b6
        font-size 24px
        line-height 30px
        font-family 'HelveticaNeue-Roman', sans-serif
        text-transform uppercase
        margin-bottom 20px

        @media screen and (max-width 767px)
            text-align center
    
    p
        color semiBlack
        font-size 16px
        font-family 'HelveticaNeue-Light', sans-serif
        text-align justify
        line-height 30px
        margin-bottom 10px
        margin-top 10px
        
        @media screen and (max-width 767px)
            font-size 14px
            line-height 24px
    
    img
        margin-top 10px
        margin-bottom: 10px
    
    ul, ol
        margin-bottom: 10px
        margin-top 10px

        li
            font-size 16px
            line-height 30px
            font-family 'HelveticaNeue-Light', sans-serif
            color semiBlack
            padding-left 53px
            position relative
            margin-bottom 20px
            display flex
            align-items center

            &:before
                content: ''
                display block
                width 35px
                height 41px
                position absolute
                background: url('../img/all/icon-check.png') center center no-repeat
                background-size cover
                left 0%
                top 50%
                transform translateY(-50%)

            &:last-child
                margin-bottom 0
            
            @media screen and (max-width 767px)
                font-size 14px

.committee-text.stndrt-text
    color semiBlack
    font-size 16px
    font-family 'HelveticaNeue-Light', sans-serif
    text-align justify
    line-height 30px
    margin-bottom 40px
    margin-top 40px

    @media screen and (max-width 767px)
        font-size 14px
        line-height 24px


.committee-list
    width 100%

.committee-sublist
    margin 40px 0

    @media screen and (max-width 1280px)
        margin 20px 0

.committee-sublist__item
    position relative
    margin-bottom 20px
    display flex
    align-items center

    &:before
        content: ''
        display block
        width 35px
        height 41px
        position absolute
        background: url('../img/all/icon-check.png') center center no-repeat
        background-size cover
        left 0%
        top 50%
        transform translateY(-50%)

    &:last-child    
        margin-bottom 0

.committee-sublist__item-text
    font-size 16px
    line-height 30px
    font-family 'HelveticaNeue-Light', sans-serif
    color semiBlack
    padding-left 53px

    @media screen and (max-width 767px)
        font-size 14px



//////////////////////////////////////////////////////////
//
// END STYLE FOR about-committee
// 
//////////////////////////////////////////////////////////

.board__members-list .worker__text-wrap .worker__text, .worker-card-group .board__members-list--item .worker__text-wrap .worker__company
    margin-top 10px


.board-members__descr,
.intro__descr
    @media screen and (max-width 767px)
        p
            text-align: justify
            font-size 14px