@import '../../common/common-stylus/vars'
@import '../../common/common-stylus/components/controlpanel'
@import '../../common/common-stylus/components/footer'


//-------------------------------------------general_style-------------------------------------
.about-aau
    .about-aau__principle, .about-aau__objective
        .container
            flex-direction column

.about-aau
    h2
        font-size 24px
        font-weight 500
//-----------------------------------------end_general_style-------------------------------------

.about-aau__principle, .structure
    background-color semiGray

.about-aau__intro-wrap
    display flex
    justify-content space-between
    align-items center
    overflow-x: hidden

.about-aau__intro-article
    width 50%
    
    @media screen and (max-width: 1280px){
        width 100%
    }

    .stndrt__text.about-aau__intro-text
        @media screen and (max-width: 768px){
            font-size 14px
            }

.about-aau__intro-video
    align-self flex-end
    width 440px
    height 248px
    margin-bottom 20px

    @media screen and (max-width: 1280px){
        margin-top 50px
        align-self center
        }

    .video {
        @media screen and (max-width: 500px){
            max-width: 280px;
            max-height: 160px;
        }
    }
        

.about-aau__list
    display flex
    justify-content space-between
    flex-wrap wrap
    padding 0 5px

.about-aau__list-item
    font-size 20px
    max-width 330px
    width 100%
    height 60px
    
    @media screen and (max-width: 1280px){
        max-width 200px
    }

    @media screen and (max-width: 768px){
        font-size 16px
    }

.main-info
    display flex
    justify-content center

    @media screen and (max-width: 1280px){
        flex-direction column
        }

.structure
    max-width 1200px
    width 100%
    padding 100px 70px 100px 0
    display flex
    flex-direction column
    align-items flex-end

    @media screen and (max-width: 1280px){
        padding: 60px 35px
        max-width none
        align-items flex-start
        width auto
        }

    .structure__heading, .structure__article
        max-width 811px

        @media screen and (max-width: 1280px){
            max-width none
        }

.structure__heading
    align-self center
    margin-left 20px

    @media screen and (max-width: 1280px){
        margin 0
    }



//-----------------------------------------start block documents-------------------------------------
.documents
    background url('../img/about/main-bg.jpg')
    background-repeat round
    max-width 720px
    width 100%
    padding 100px 0 100px 70px
    
    @media screen and (max-width: 1280px){
        max-width none
        background-repeat round
        background-size cover
        padding 60px 35px
        width auto
        }
    
    .structure__heading-left
        max-width 330px
        width 100%

        @media screen and (max-width: 1280px){
            max-width none
        }

        .structure__title-left
            color whiteColor 
            text-transform none

        .separator
            &:after
                background-color whiteColor 

.documents__list-item
    display flex
    flex-direction column
    margin-bottom 60px

.documents__list-item--link
    color whiteColor
    text-transform none
    font-size 16px
    line-height 36px
    text-decoration underline
    letter-spacing 0.8px
    font-family 'HelveticaNeue-Bold'

    &:hover
        font-family 'HelveticaNeue-Black'


//-----------------------------------------end block documents-------------------------------------

//-----------------------------------------sliders-------------------------------------

.about-aau
    .general-partners__title
        font-size 30px


        
            