@import '../../common/common-stylus/vars'

.events__content
    .container
        flex-direction column



    #pagingControls
        margin-top 100px

    .tpc-slider.general-partners
        background-color: #f0f2f4
.events__main
    .tpc-slider.general-partners
        background-color: #f0f2f4
        
.events-pages__list
    border-bottom: 5px solid semiPurple
    width 100%
    display flex
    margin-bottom: 60px

    @media screen and (max-width 767px)
        flex-direction column
        border-bottom 0px

    &-item
        width 180px
        height 50px
        display flex
        justify-content center
        align-items center
        text-align center
        background-color rgb(240, 242, 244)
        margin-right 2px
        margin-left 2px

        &:first-child
            margin-left 0px

        &:last-child
            margin-right 0px
        
        @media screen and (max-width 767px)
            width 100%
            
.events-pages__list-item--link
    text-transform none
    font-family 'HelveticaNeue-Bold', sans-serif
    font-size 18px
    color semiPurple
    z-index 5
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center

.events-pages__list-item.active
    background-image: url('../img/all/litle-bg.jpg')
    position relative
    
    &:before
        content: ''
        position absolute
        top 0%
        left: 0%
        background-image: url('../img//all/sota-left.png')
        background-repeat: no-repeat
        width 107px
        height 50px
        background-size: cover
        background-position-x: -5px
        background-position-y: bottom
    
    .events-pages__list-item--link
        color whiteColor
        text-transform uppercase
    

.events-mainlist
    display flex
    flex-wrap wrap

    @media screen and (max-width 1280px)
        justify-content: space-between
    
    @media screen and (max-width 767px)
        align-items: center
        justify-content center
        flex-direction: column

.events-mainlist__item
    max-width 400px
    width 100%
    margin-bottom 60px
    margin-right 40px
    display flex
    flex-direction column
    justify-content: space-between
    min-height 640px

    &:nth-of-type(3n)
        margin-right 0
    
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:last-child
        margin-bottom 0

        @media screen and (max-width 1280px)
            margin-bottom 40px
    
    @media screen and (max-width 1280px)
        max-width 330px
        min-width 330px
        margin-right 0
        margin-bottom 40px
    
    @media screen and (max-width 767px)
        min-width 280px
        max-width 280px


    &-imgwrap
        max-width 400px
        max-height 300px
        width 100%
        height 100%
        margin-bottom 30px

        @media screen and (max-width 1280px)
            max-width inherit
            height inherit

        @media screen and (max-width 767px)
            max-width 280px
            margin 0 auto 30px
            max-height inherit

    &-img
        width 100%
        height 100%
        object-fit cover
    
    &-titlewrap
        display flex
        flex-direction column
        justify-content space-between
        overflow hidden
        min-height: 130px

    &-title
        font-size 18px
        line-height 24px
        font-family 'HelveticaNeue-Bold', sans-serif
        color semiViolet
        min-height 70px
        // margin-bottom 40px

    .blog-entry__date
        margin-bottom 5px

        @media screen and (max-width 1280px)
            margin-top 10px
    
    &-category
        font-size 14px
        line-height 24px
        font-family 'HelveticaNeue-Bold', sans-serif
        color semiPurple
        text-transform uppercase
        text-align right
        margin-bottom 20px

    &-descr
        text-align justify
        font-family 'HelveticaNeue-Light', sans-serif
        font-size 14px
        line-height 24px
        color semiBlack
        width: 400px
        min-height: 130px
        position: relative
        margin-bottom 20px
        overflow hidden
        display block
        text-overflow: ellipsis

        @media screen and (max-width 1280px)
            width inherit




.calendar-wrap
    margin-top: 100px

    @media screen and (max-width 1280px)
        margin-top 60px
    
    @media screen and (max-width 767px)
        margin-top 40px
        max-width inherit
        width 100%

.calendar-wrap.calendar-page
    margin-top 0

.calendar-content
    display flex

    @media screen and (max-width 1280px)
        flex-direction column

    .calendar-content__object
        max-width 440px
        width 100%
        margin-right: 70px

        @media screen and (max-width 1280px)
            margin-right auto
            margin-left auto
            margin-bottom 40px
        
        @media screen and (max-width 767px)
            max-width 280px

    .calendar-content__descr
        max-width 770px
        width 100%

    .calendar-content__descr-list
        display flex
        flex-direction column

.calendar-content__descr-list--item
    position relative
    display flex

    @media screen and (max-width 767px)
        flex-direction column

    &:not(:last-of-type)
        margin-bottom 55px
    
    &:hover
        cursor pointer

    &---date
        min-width 130px
        max-width: 130px
        width 100%
        height 118px
        background-image: url('../img/events/events-bg.png')
        background-repeat no-repeat
        display flex
        flex-direction column
        align-items center
        font-family 'HelveticaNeue-Bold', sans-serif
        color whiteColor
        letter-spacing 0.1em
        line-height auto
        position relative
        padding-right 60px
        transition: .2s all ease-in-out

        @media screen and (max-width 767px)
            margin 0 auto
            padding-right: 0
            min-width 90px
            max-width 90px
            width 100%
            height 80px
            min-height 80px
            margin-bottom 20px
            background-size cover

        &__time
            font-size 36px
            padding-top 12px

            @media screen and (max-width 767px)
                font-size 16px
                    
        &__month
            font-size 18px
            text-transform uppercase

            @media screen and (max-width 767px)
                font-size: 12px
                
        &__year
            font-size 24px
            padding-top 3px
            padding-bottom: 20px

            @media screen and (max-width 767px)
                font-size 16px
        
        &:after
            content ''
            display block
            position absolute
            z-index 10
            top 50%
            right 0%
            transform translateY(-50%)
            background-image: url('../img/events/events-bg-before.png')
            background-repeat no-repeat
            transition: .2s all ease-in-out
            width 60px
            height 20px

            @media screen and (max-width 767px)
                display none

.calendar-content__descr-list--item:hover > .calendar-content__descr-list--item---date,
.calendar-content__descr-list--item.active > .calendar-content__descr-list--item---date
    background-image: url('../img/events/events-bg__hover.png')


.calendar-content__descr-list--item:hover > .calendar-content__descr-list--item---date::after,
.calendar-content__descr-list--item.active > .calendar-content__descr-list--item---date::after
    background-image: url('../img/events/events-bg-before-hover.png')

.calendar-content__descr-list--item:hover > .calendar-content__descr-list--item---maininfo > .maininfo-title,
.calendar-content__descr-list--item.active > .calendar-content__descr-list--item---maininfo > .maininfo-title
    color semiPurple

.calendar-content__descr-list--item.active > .calendar-content__descr-list--item---maininfo > .maininfo-title
    margin-top 45px

    @media screen and (max-width 767px)
        margin-top 10px

.calendar-content__descr-list--item.active > .calendar-content__descr-list--item---maininfo:before
    display block

    @media screen and (max-width 767px)
        display none

.calendar-content__descr-list--item---maininfo
    display flex
    max-width 550px
    width 100%
    flex-direction column
    padding-left 30px
    position relative

    @media screen and (max-width 767px)
        padding-left 0
        max-width inherit

    &:before
        content ''
        display none
        border-left 4px dotted #0080c6
        height calc(100% - 30px)
        position: absolute
        left -13px
        top 75px
        z-index 2

    .maininfo-title
        font-size 24px
        color #3e3f40
        font-family 'HelveticaNeue-Bold', sans-serif
        margin auto 0
        transition: .2s all ease-in-out

        @media screen and (max-width 1280px)
            font-size 20px
        
        @media screen and (max-width 767px)
            font-size 16px
            text-align center

.calendar-content__descr-list--item__descr
    display none
    max-width 550px
    width 100%
    flex-direction column
    font-family 'HelveticaNeue-Roman', sans-serif
    font-size 16px
    line-height 24px
    color semiBlack

    @media screen and (max-width 767px)
        max-width inherit
        font-size 14px


.calendar-content__descr-list--item__descr-title
    font-family 'HelveticaNeue-Bold', sans-serif
    font-size 18px
    line-height 24px
    color semiPurple
    margin-top 60px
    margin-bottom 35px
    position relative

    @media screen and (max-width 767px)
        margin-top 20px
        margin-bottom: 20px
        font-size 16px

    &:before
        content ''
        display block
        position absolute
        top 50%
        transform: translateY(-50%)
        background-image url('../img/events/hexagon-before.png') 
        background-position: center center
        background-repeat no-repeat
        background-color whiteColor
        width 22px
        height 20px
        left -52px
        z-index 10
        padding-top 15px
        padding-bottom 15px

        @media screen and (max-width 767px)
            display none

.calendar-content__descr-list--item__descr-list
    list-style: disc

    @media screen and (max-width 767px)
        padding-left 20px

    &--item
        color semiPurple
        
        p
            font-family 'HelveticaNeue-Roman', sans-serif
            font-size 16px
            line-height 24px
            color semiBlack

            @media screen and (max-width 767px)
                font-size: 14px

.calendar-content__descr-list--item__descr-link
    height 80px
    max-width 330px
    width 100%
    margin-top 45px

//////////////////////////////////////////////////////////
//
// START STYLE FOR FUTURE-EVENTS__EVENT
// 
//////////////////////////////////////////////////////////

.intro-slider
	margin: 20px 20px 0

	.container 
		max-width 1880px
		width: 100%
		flex-direction column
		justify-content space-between
		align-items center


.intro__slide-item
	background: url('../img/main/introbg.jpg')
	background-size cover
	background-repeat no-repeat
	position relative
	display none
    overflow: hidden

	&:first-child
		display block

	&:before 
		content ''
		display block
		width 550px
		height 415px
		position absolute
		left 0 
		top 0
		background url('../img/main/sota-left.png')
		background-repeat no-repeat
		background-size: cover !important

	&:after
		content ''
		display block
		width 601px
		height 426px
		position absolute
		bottom 0
		right 0
		background url('../img/main/sota-right.png')
		background-repeat no-repeat
		background-size cover !important

.slick-initialized
	.intro__slide-item
		display block

.events__content
    overflow-y hidden

.intro__event
    min-height: 500px
    height: 500px
    justify-content space-between

.intro__event
	display flex
    align-items: center
    justify-content space-between
	flex-direction column
	position relative
	padding-top 5px


	.intro-logo
		display none

		@media screen and (max-width: 1280px) {
			display block
			width 261px
			height 191px
			margin 42px 0 120px 0
		}

.intro__event
    p
        z-index 20


    @media screen and (max-width 1280px)
        &:before
            left inherit
            right 0
            margin 0px auto 60px

.intro-title
	font-size 50px
	color whiteColor
	text-align left
    z-index: 20
	position relative
	font-family 'Helvetica-Bold'
	font-weight 700

.intro-title
    text-align: left
    margin-top: 35px


.intro-subtitle
	color #fcdab0
	font-size 30px
	font-family 'HelveticaNeue-Bold'
	line-height 72px
	margin 20px auto 30px auto  	
	width 100%
    text-align: center
    z-index: 20



.main-about.container.index
	padding-top: 40px
	padding-bottom 0

	.heading.about__article-title--wrap
		.separator
			margin-bottom 20px
	


.intro-bottomtitle
	color whiteColor
	font-size 50px
	font-weight 700 
	font-family 'HelveticaNeue-Bold', sans-serif
	text-align center
	line-height 1.2
	z-index: 1

.intro-bottomtitle
    margin-top auto

.intro-place-wrap
	margin 20px 0
	align-self flex-end
	position absolute
    bottom 60px
	height 60px
	width 500px
	background-color #2b3384
	display flex
	justify-content flex-end
	align-items center
    

	&:after
		content ''
		position relative
		display block
		width 50px
		height 99%
		top 0 
		right 0
		background #2b3384
		transform-origin bottom left
		transform skew(-30deg, 0deg)
	
		@media screen and (max-width: 700px) {
			width 100px
		}
	

.intro__place 
	color #e1e1eb
	text-transform uppercase
	align-self center
	background-color semiViolet
	font-family 'Helvetica-Bold', sans-serif
	font-size 12px
	font-weight 500
	letter-spacing 1px
	position relative
	margin 0
	text-align right
	z-index 99
	width: 100%

.intro__place
    display flex
    align-items center
    justify-content center
    max-height 60px
    min-height 60px
    overflow hidden

.intro-dots
	position relative
	bottom 50px
	display flex	
	width 100%
	padding 0
	list-style none
	text-align center
	justify-content center

.intro-dots 
	li
		position relative
		height 10px
		padding 0
		cursor pointer

		&:before
			content ''
			display block
			width 19px
			height 18px
			background url('../img/all/intro-dots.png') no-repeat

		&:hover
			cursor pointer

		&:nth-child(odd)
			top 9px

		&:nth-child(1), &:nth-child(3), &:nth-child(5)
			top 9px

		button
			background-color transparent
			font-size 10px
			color transparent

	.slick-active
		&:before
			content ''
			display block
			width 19px
			height 18px
			background url('../img/all/intro-dots-actv.png') no-repeat

@media screen and (max-width 1280px)
    .intro-place-wrap
        margin-bottom 90px

    .intro-bottomtitle
        margin-left 100px
        margin-right 100px
    
    .intro-dots
        bottom 50px
    
    .intro-subtitle
        margin 15px 0
        line-height 38px

    .intro__slide-item:after
        display none

    .intro__slide-item:before
        width 320px
        opacity 0.6
        height 280px


@media screen and (max-width 767px)
    .intro__slide-item:before
        width 200px
        opacity 0.4
        height 170px

    .intro-title
        font-size 26px
        text-align center
        margin-right 10px
        margin-left 10px
    
    .intro-subtitle
        font-size 24px
        letter-spacing 1.2px
        line-height 36px
        margin 15px 0
        text-align center


    .intro-bottomtitle
        font-size 24px
        letter-spacing 1.2px
        margin: 10px 0px
    
    .intro-place-wrap
        width 240px
        height 63px
        margin-bottom 70px
        z-index 20

        @media screen and (max-width 767px)
            min-width 210px
            width 210px

        &:after
            height 100%
        
    .intro__place
        text-align left
        font-size 8px
        letter-spacing 0.9px
        line-height 1.5
        padding 5px 10px 5px 20px
        background-color: transparent

    .intro-dots
        bottom 50px

.event__mainfo
    display flex
    justify-content: space-between
    box-sizing: border-box
    width 100%

    @media screen and (max-width 1280px)
        flex-direction column

.event__descr
    max-width: 840px
    width 100%
    display block
    margin-right 110px
    box-sizing: border-box
    font-family: 'HelveticaNeue-Light',sans-serif
    font-size: 16px
    line-height: 24px
    color: #343537
    text-transform: none

    p
        font-family: 'HelveticaNeue-Light',sans-serif
        font-size: 16px
        line-height: 24px
        color: #343537
        text-transform: none
        display block
    

        @media screen and (max-width 767px)
            font-size 14px
            letter-spacing: normal
            line-height 20px
    

    @media screen and (max-width 1280px)
        max-width inherit
        margin-right inherit
        padding 0 20px
    
    @media screen and (max-width 767px)
        font-size 14px
        letter-spacing: normal
        line-height 20px


    &-title, h2
        font-size 24px
        line-height 30px
        color semiPurple
        font-family 'HelveticaNeue-Roman', sans-serif
        text-transform none
        letter-spacing 0.8px
        margin-bottom 50px

        @media screen and (max-width 767px)
            font-size 16px
            line-height 16px
            letter-spacing normal
            margin-bottom 40px

    .event__descr-infolist
        display flex
        justify-content space-between

        @media screen and (max-width 1280px)
            flex-direction column

        .event__descr-infolist--item
            max-width 180px
            width 100%
            
            &:not(:last-child)
                margin-right 50px

                @media screen and (max-width 1280px)
                    margin-right 0
                    margin-bottom 30px
                

            h5, .event__descr-infolist--item---title
                font-size 16px
                line-height 18px
                color semiPurple
                font-family 'HelveticaNeue-Bold', sans-serif
                text-transform uppercase

                @media screen and (max-width 767px)
                    font-size 14px
            
            p, .event__descr-infolist--item---subtitle
                font-size 14px
                line-height 18px
                font-family 'HevleticaNeue-Light', sans-serif
                color semiBlack

.event__speaker
    display flex
    flex-direction column
    max-width 330px
    width 100%
    box-sizing border-box

    @media screen and (max-width 1280px)
        max-width inherit
        margin-top 40px
        flex-direction: column

    h4, .event__speaker-title
        font-size 22px
        font-family 'HelveticaNeue-Bold', sans-serif
        color semiViolet

    .separator
        margin 5px 0 30px 0

    .event__speaker-subtitle
        font-family: 'HelveticaNeue-Light',sans-serif
        font-size 16px
        line-height 24px
        color semiBlack
        margin-bottom 30px

        @media screen and (max-width 767px)
            font-size 14px
            padding 0 20px

    .event__speaker-personlist,
    .event__speaker-partnerlist
        display flex
        flex-direction column
        box-sizing border-box

        @media screen and (max-width 1280px)
            flex-direction row
            flex-wrap wrap
    
    .event__speaker-personlist.slick-initialized.slick-slider
        flex-wrap nowrap
        max-height 500px
        
        @media screen and (max-width 1280px)
            flex-wrap nowrap
            flex-direction column

.event__speaker-personlist--item
    display flex
    flex-direction column
    justify-content center

    @media screen and (max-width 1280px)
        width 320px

    &-img
        width 100%
        max-height 340px
        height 100%
        object-fit: cover

    &-wrap
        height: 100px
        background: url(../img/staff/bottom__bg.png)
        background-repeat: round
        background-size: cover
        display flex
        flex-direction column
        justify-content center

    &-title, h5
        font-family: 'HelveticaNeue-Black'
        font-size: 18px
        letter-spacing: 0.1em
        color: whiteColor
        text-align: center
        text-transform uppercase

        @media screen and (max-width 767px)
            font-size 14px

    &-subtitle, p
        margin-top 10px
        font-size: 12px
        font-family: 'HelveticaNeue-Medium'
        font-weight: 500
        letter-spacing: 0.1em
        color whiteColor
        text-align center

.event__speaker-personlist--item
    &:not(:last-child)
        margin-bottom 30px

        @media screen and (max-width 1280px)
            margin-right 40px
        
        @media screen and (max-width 767px)
            margin-left 0
            margin-right 0

.event__speaker-partnerlist--item
    &:not(:last-child)
        margin-bottom 30px
    
    @media screen and (max-width 1280px)
        margin-right 40px

.event__speaker-partnerlist--item
    @media screen and (max-width 1280px)
        max-width 320px
        min-width 320px
    
    @media screen and (max-width 767px)
        margin-left auto
        margin-right auto
        max-width 280px
        min-width 280px

.event__speaker-partnerlist
    @media screen and (max-width 1280px)
        margin-top 40px
        justify-content: flex-start

.event__speaker-partnerlist--imgwrap
    align-items: center
    border: 1px dotted #ccc
    background-color: #fff
    display flex
    justify-content center
    width 100%
    height 190px

.event__speaker-partnerlist--img
    max-width 80%
    max-height 80%
    object-fit: cover

.event__descr-infolist--item
    position relative
    padding-left 61px

    &:before
        content ''
        display block
        position absolute
        width 46px
        height 40px
        top 0%
        background-position center center
        left 0
        margin-right 15px
    
        
    &:nth-child(1):before
        background url('../img/events/calendar.png')
    
    &:nth-child(2):before
        background: url('../img/events/time.png')
        
    &:nth-child(3):before
        background url('../img/events/location.png')

.event__descr-descrlist
    margin 30px 0
    display flex
    flex-direction column

    &--item
        position relative
        padding-left 61px

        &:not(:last-child)
            margin-bottom 60px

            @media screen and (max-width 1280px)
                margin-bottom: 30px
        
        &:before
            content ''
            display block
            position absolute
            width 46px
            height 40px
            top 0%
            background-position center center
            left 0
            margin-right 15px
            
    h5, .event__descr-descrlist--item-title
        font-size 16px
        line-height 18px
        color semiPurple
        font-family 'HelveticaNeue-Bold', sans-serif
        text-transform uppercase
    
    p, .event__descr-descrlist--item-text
        font-family: 'HelveticaNeue-Light',sans-serif
        font-size: 14px
        line-height: 24px
        color: #343537
        text-transform: none

        @media screen and (max-width 767px)
            font-size 14px
            letter-spacing: normal
            line-height 20px
    
    h6, .event__descr-descrlist--item-subtitle
        font-size 16px
        line-height 30px
        font-weight 400
        color semiBlack
        font-family 'HelveticaNeue-Medium', sans-serif
    
    ul, .sublist
        list-style: disc
        padding-left 90px

        @media screen and (max-width 767px)
            padding-left 20px

        li, &__item
            color: #0080c6
            letter-spacing 1.0px


.event__descr-descrlist--item.format
    &:before
        background: url('../img/events/buck.png')

.event__descr-descrlist--item.info
    &:before
        background: url('../img/events/info.png')

.event__descr-descrlist--item.speakers
    &:before
        background url('../img/events/user.png')

.event__descr-descrlist--item.contacts
    &:before
        background: url('../img/events/tel.png')
.event__descr-descrlist--item-row
    width 100%
    display flex

    @media screen and (max-width 1280px)
        justify-content space-between
    
    @media screen and (max-width 767px)
        flex-direction column

.event__descr-descrlist--item-column
    margin-right 50px

    &:last-of-type
        margin-right 0

    @media screen and (max-width 1280px)
        margin-right 0px
    
    @media screen and (max-width 767px)
        &:not(:last-of-type)
            margin-bottom 20px

    .sublist
        padding-left 0

        @media screen and (max-width 1280px)
            padding-left 15px

.event-price
    font-family 'HelveticaNeue-Black', sans-serif
    font-size 14px
    line-height 30px
    color semiPurple

    @media screen and (max-width 767px)
        font-size 14px
        line-height 24px
        letter-spacing: normal


.event__descr-video
    margin-bottom: 60px
    margin-top: 60px
    border: 5px solid #fff
    box-sizing: border-box
    width: 100%
    box-shadow: 0 0 20px 0 rgb(0,0,0)
    height 490px

    @media screen and (max-width 1280px)
        margin-top 20px
        margin-bottom 20px

.event-contancts
    text-decoration none
    text-transform none
    color #343537
    letter-spacing normal
    font-family: 'HelveticaNeue-Light',sans-serif

.event__btngroup
    max-width 600px
    width 100%
    display flex
    flex-wrap: wrap
    flex-direction row
    justify-content space-between

.event__btn
    height 70px
    max-width 290px
    width 100%
    margin-bottom 20px
    text-align center
    white-space: pre-line

.event__share
    .event_share-title, p
        font-size 16px
        line-height 18px
        color semiPurple
        text-transform uppercase
        letter-spacing 0.1em
        font-family 'HelveticaNeue-Bold'
        margin-bottom 17px
        margin-top 20px

        @media screen and (max-width 767px)
            text-align center


.event__share-network
    max-width 46px
    margin-right 15px
    display inline
    float left

    .event__share-network--link
        display flex
        width 46px
        height 40px
        background-repeat: no-repeat
        background-position: center center
        background: url('../img/events/network-bg.png')
        transition .2s all ease-in-out
        position relative

        &:hover
            background url('../img/events/network-bg-hover.png')
        
        img
            position: absolute
            top 50%
            left 50%
            transform: translate(-50%, -50%)

        .default
            display block
        
        .hover
            display none
        
        .event__share-network--img
            margin auto
        
        .event-facebook
            width 8px
            height 16px
        
        .event-linked
            width 16px
            height 16px


.event__share-network--link:hover > .hover,
.event__share-network--link:focus > .hover,
.event__share-network--link:active > .hover
    visibility visible
    opacity 1
    display block

// .event__share-network--link:visited > .event__share-network--img,
// .event__share-network--link:visited .default
//     display block

.event__share-network--link:hover > .default
.event__share-network--link:focus > .default
    visibility hidden
    opacity 0

.event__share-network--link:visited .default
    display block



.partners-event__slider
    width 100%
    background-color: #f0f2f4

.partners-event__slide.slick-slide
    flex-direction: column
    display flex
    width 290px
    height 260px
    margin-right 30px

    @media screen and (max-width 1280px)
        width 220px
    
    @media screen and (max-width 767px)
        margin-right 0
        
.partners-event__slide-descr
    display flex
    justify-content center
    align-items center
    height 60px
    min-height 60px
    
    p, .partners-event__slide-descr--text
        font-family 'HelveticaNeue-Medium', sans-serif
        font-size 15px
        letter-spacing 0.1em
        color whiteColor
        white-space: pre-line
        text-align center
        text-transform uppercase

.expo-partners__descr.partners-event__slide-descr
    background-color: #284988

.partners-event__slide-descr.media-partners__descr
    background-color: #345ca7

.info-partners__descr.partners-event__slide-descr
    background-color: #5073b6

.partners-event__slide-descr.general-partners__descr
    background-color: #0d86c9

.partners-event__slider.info-partners
    background-color: whiteColor

// event-program__tablist


    
.tablist__header
    display flex
    justify-content: space-between

    @media screen and (max-width 1280px)
        width 100%
    
    @media screen and (max-width 767px)
        flex-direction: column



.tablist__nav,
.tablist-btnlist
    display flex
    align-items: flex-start

@media screen and (max-width 767px)
    .tablist__nav
        flex-direction: column
        margin-bottom 10px
    
.tablist-btnlist__item
    width 50px
    height 50px
    display flex
    justify-content center
    align-items center
    background-color #f0f2f4

    &:hover
        cursor pointer

    &:not(:last-of-type)
        margin-right: 2px

.tablist__header
    border-bottom: 5px solid #5073b6



.tablist__nav-tabitem
    background-color: #f0f2f4
    position: relative
    height 50px
    margin-right: 2px
    text-transform none
    font-family 'HelveticaNeue-Bold', sans-serif
    font-size 18px
    width: 200px
    color semiPurple
    z-index 5
    display flex
    justify-content center
    align-items center

    &:hover
        cursor pointer
    
    @media screen and (max-width 767px)
        width 100%
        margin-right 0
        margin-bottom: 2px
    
    p, span
        width 100%
        height 100%
        display flex
        justify-content: center
        align-items: center
        font-size 18px
        color semiPurple

.tablist__nav-tabitem.active
    background: url(../img/all/litle-bg.jpg)

    &:before
        content: ''
        position absolute
        top 0%
        left: 0%
        background-image: url('../img//all/sota-left.png')
        background-repeat: no-repeat
        width 107px
        height 50px
        background-size: cover
        background-position-x: -5px
        background-position-y: bottom
    
    .tablist__nav-tabitem--text
        color whiteColor 
        text-transform uppercase
        z-index 10

.event-program__infolist
    display flex
    flex-direction column
    margin-top 60px

.tabs
    .event-program__infolist
        display none

    .event-program__infolist.active
        display flex

.event-program__infolist-item
    display flex
    padding-bottom 60px
    padding-left 20px
    position relative
    margin-left: 10px
    border-left: 4px dotted #0080c6

    @media screen and (max-width 1280px)
        flex-direction column
        padding-bottom 20px
    
    @media screen and (max-width 767px)
        border-left 0px

    &:last-of-type
        border-left none

        &:before
            left - 9px

    &:before
        content ''
        display block
        position absolute
        top 0
        left -13px
        background-image url('../img/events/hexagon-before.png') 
        background-position: center center
        background-repeat no-repeat
        background-color whiteColor
        width 22px
        height 20px
        z-index 10

    .infolist-item__time
        font-family 'HelveticaNeue-Black', sans-serif
        font-size 20px
        color #3877bb
        margin-right: 40px
        max-width: 160px
        width 100%

        @media screen and (max-width 1280px)
            margin-right 20px

        @media screen and (max-width 767px)
            font-size 16px
            margin-bottom 10px
            margin-right 0

    .infolist-item__descr
        font-family 'HelveticaNeue-Medium', sans-serif
        font-size 18px
        color #3e3f40
        letter-spacing: 0.2px

        @media screen and (max-width 767px)
            font-size 14px
            line-height 24px

.infolist-item__row
    max-width 1060px
    width 100%
    display flex
    flex-direction: column

    @media screen and (max-width 1280px)
        flex-direction column
        max-width inherit
    
    .speakers-row
        display flex

        @media screen and (max-width 1280px)
            flex-direction column

    .infolist-item__title, h6
        font-family 'HelveticaNeue-Bold', sans-serif
        font-size 16px
        line-height 24px
        color #3877bb
        width 100%

    .infolist-item__text, p
        font-family 'HelveticaNeue-Light', sans-serif
        font-size 16px
        line-height 24px
        color #3e3f40

        @media screen and (max-width 767px)
            font-size 14px


.infolist-item__column.theme,
.infolist-item__theme
    max-width 400px
    width 100%
    margin-right 40px
    min-width 400px
    

    @media screen and (max-width 1280px)
        max-width inherit
        margin-right 0
        margin-top 20px
    
    @media screen and (max-width 767px)
        margin-top 10px
        min-width inherit

.infolist-item__column.speakers
    .speakers-row
        display flex
        margin-bottom 20px

        @media screen and (max-width 767px)
            flex-direction column

        span, .speakers-company
            display block
            color #3877bb
            font-family 'HelveticaNeue-Light', sans-serif
            font-size 16px
            line-height 24px
            font-weight 600
            width 100%

            @media screen and (max-width 767px)
                font-size 14px

        h6, .infolist-item__title
            @media screen and (max-width 1280px)
                margin-right auto

            @media screen and (max-width 767px)
                font-size 14px

            span, .country
                display inline
                font-family 'HelveticaNeue-Light', sans-serif
                font-size 16px
                line-height 24px
                color #000000

                @media screen and (max-width 767px)
                    font-size 14px
            
// end event-program__tablist

.future-events-preview
    background-color: #f0f2f4

    h2
        @media screen and (max-width 1280px)
            font-size 30px
            letter-spacing: normal

.future-events-preview__list
    display flex
    justify-content: space-between
    width 100%

    @media screen and (max-width 1280px)
        flex-wrap wrap
        justify-content: space-between

    .future-events-preview__list-item
        max-width 400px
        width 100%

        @media screen and (max-width 1280px)
            max-width 330px
        
        @media screen and (max-width 767px)
            margin-right auto
            margin-left auto

        &:not(:last-of-type)
            margin-right 40px

            @media screen and (max-width 1280px)
                margin-right 0
                margin-bottom: 40px
            
            @media screen and (max-width 767px)
                margin-right auto

.future-events-preview__archive
    height 70px
    max-width 290px
    margin 100px auto 0


//////////////////////////////////////////////////////////
//
// END STYLE FOR FUTURE-EVENTS__EVENT
// 
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
//
// START STYLE FOR FUTURE-EVENTS__EVENT-REG
// 
//////////////////////////////////////////////////////////

.registration__info-form
    margin-top 55px

.event__infouser-list
    display flex
    flex-direction column
    margin-top 60px

    li, .event__infouser-list--item
        display flex
        align-items center

        @media screen and (max-width 767px)
            flex-direction column
            align-items flex-start
            
            &:not(:last-child)
                margin-bottom 20px

        h5
            max-width 285px
            width 100%
            margin-right 40px
            font-family 'HelveticaNeue-Bold', sans-serif
            color #5073b6
            font-size 18px
            line-height 36px

            @media screen and (max-width 767px)
                font-size 16px
                margin-right 0
                line-height 16px
        p
            color #343537
            font-family 'HelveticaNeue-Light', sans-serif
            font-size 18px

            @media screen and (max-width 767px)
                font-size 16px
        
        span
            font-family 'HelveticaNeue-Black', sans-serif
            font-size 18px
            line-height 36px
            color #343537
            
            

.event__price-block
    display flex
    align-items center
    margin-top 50px

    @media screen and (max-width 767px)
        margin-top 10px
    
    h5
        max-width 285px
        width 100%
        margin-right 40px
        font-family 'HelveticaNeue-Bold', sans-serif
        color #5073b6
        font-size 18px
        line-height 36px

        @media screen and (max-width 767px)
            font-size 16px
            margin-right 5px
            max-width inherit
            width auto

    span
        font-family 'HelveticaNeue-Black', sans-serif
        font-size 18px
        line-height 36px
        color #343537

        @media screen and (max-width 767px)
            font-size 16px

.event__buy-btn-group
    display flex
    margin-top 30px
    width 100%

    @media screen and (max-width 767px)
        flex-direction column
        margin-top 10px

    .event__buy-btn 
        height 70px
        max-width 440px
        width 100%
        text-transform uppercase

        &:not(:last-child)
            margin-right 20px

            @media screen and (max-width 767px)
                margin-right 0
                margin-bottom 20px
//////////////////////////////////////////////////////////
//
// END STYLE FOR FUTURE-EVENTS__EVENT-REG
// 
//////////////////////////////////////////////////////////

.event__speaker
    @media screen and (max-width 767px)
        .heading
            padding 0 20px
            box-sizing border-box



// .intro-title:before 
//     content ''
//     display block
//     width 180px
//     height 131px
//     background url('../img/all/logo.png') no-repeat
//     position absolute
//     top 60px
//     left -20px
//     margin-bottom 120px
//     background-size cover
    
    
//     @media screen and (max-width 1280px)
//         display block
//         position relative
//         top 40px
    


// .intro-title
//     display flex
//     align-items center
//     text-align center
//     min-width 1020px
//     text-align center
//     justify-content center
//     max-width inherit
//     margin-left 50px

//     @media screen and (max-width 1800px)
//         min-width: 920px
    
//     @media screen and (max-width 1700px)
//         min-width 820px
//         max-width 820px
    
//     @media screen and (max-width 1600px)
//         min-width 720px
//         max-width: 720px
    
//     @media screen and (max-width 1500px)
//         min-width: 630px
//         max-width 630px
    
//     @media screen and (max-width 1400px)
//         min-width 520px
//         max-width 520px
    
//     @media screen and (max-width 1400px)
//         min-width 480px
//         max-width 480px
    
//     @media screen and (max-width 1280px)
//         margin-left 0
//         min-width inherit
//         max-width inherit
//         margin-bottom 20px

// .intro-title__wrap
//     display flex
//     align-items center

//     @media screen and (max-width 1280px)
//         flex-direction column

//     .intro-title__img
//         width 180px
//         height 131px
//         margin-left: 200px
//         margin-top 70px
        
//         @media screen and (max-width 1280px)
//             margin-left 0
        
//         @media screen and (max-width 767px)
//             width 130px
//             height 101px


// .intro-subtitle
//     max-width 800px
//     margin 0 auto
//     text-align center

//     @media screen and (max-width 1280px)
//         margin-bottom 20px

.intro-slider
    overflow: hidden

.intro-bottomtitle
    @media screen and (max-width 767px)
        margin-right: 0
        width 100%

.intro-title
    text-align center

.intro-subtitle
    text-align center

.intro-slider
    .intro__slide-item.banner-img
        &:before
            display none
        
        &:after
            display none

        .intro__event
            padding-top 0

            img
                width 100%
                height 100%
                margin 0 auto
                object-fit: unset
            
            .mobile,
            .tablet
                display none
            
            @media screen and (max-width 1660px)
                .desktop
                    display none
                
                .laptop
                    display block
            
            @media screen and (max-width 800px)
                .laptop
                    display none
                
                .tablet
                    display block
                
            @media screen and (max-width 500px)
                .tablet
                    display none
                
                .mobile
                    display block
                    object-fit: inherit
                    height 100%

.tcp-slider__wrap.partners-event__slider-wrap
    .partners-event__js.slick-initialized.slick-slider.slick-dotted
        .slick-list.draggable
            max-height: 260px

.event__speaker-personlist.slick-initialized.slick-slider.slick-dotted
    .main-dots
        padding-top 0


.event__speaker-partnerlist--imgwrap
    a
        display flex
        justify-content center
        align-items center

.tpc-slider__slide--img---wrappartners-event__slide-img--wrap
    min-height: 190px
    display flex
    justify-content center
    align-items center

    .tpc-slider__slide--img.partners-event__slide-img, img
        width 80%

.tcp-slider__wrap.partners-event__slider-wrap
    width 100%

.infolist-item__column.speakers
    .infolist-item__theme
        .infolist-item__title, h6
            margin-right 0


.speakers-company
    display block
    color #3877bb
    font-family 'HelveticaNeue-Light', sans-serif
    font-size 16px
    line-height 24px
    font-weight 600
    width 100%

    @media screen and (max-width 767px)
        font-size 14px

.event-program
    .tabs
        width 100%


.event__speaker-personlist.slick-initialized.slick-slider
    .event__speaker-personlist--item.slick-slide
        @media screen and (max-width 767px)
            width 100%

            &:not(:last-child)
                margin-right 0
                margin-left 0

.fixed-menu
    position fixed
    left 10px
    top 50%
    transform: translateY(-50%)
    background-color: #f0f2f4
    border-top-right-radius: 25px
    border-bottom-right-radius: 25px
    border 1px solid #f0f2f4

    // &__open
    //     background-image: url(../img/all/dots-active.png)
    //     display: block
    //     width: 19px
    //     height: 18px

.fixed-menu__list
    padding 20px 20px 20px 0
    

    &-item
        .fixed-menu__list-item--link
            width 100%
            height 100%
            display flex
            align-items center

            &:before
                content: ''
                display: block
                width: 19px
                height: 18px
                background: url(../img/all/dots-active.png) no-repeat
                margin-right 5px

.fixed-menu__list-item
    display flex
    align-items center
    margin-bottom 5px
    margin-top 5px




