h1 {
  font-size: 72px;
  line-height: 1.2em;
  font-family: 'Helvetica-Bold';
  text-transform: uppercase;
  color: lightColor;
}
h2 {
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  font-family: 'Helvetica-Bold';
  color: #fff;
}
h3 {
  font-size: 36px;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  font-family: 'Helvetica-Bold';
  color: #2b3384;
  text-transform: uppercase;
}
h4 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.05em;
  font-family: 'HelveticaNeue-Roman';
  color: #0080c6;
  margin-bottom: 30px;
}
h5 {
  font-size: 18px;
  font-family: 'HelveticaNeue-Bold';
  line-height: 24px;
  letter-spacing: 0.001em;
  color: #2b3384;
}
p {
  font-size: 16px;
  font-family: 'HelveticaNeue-Light';
  letter-spacing: 0.05em;
}
a {
  font-family: 'Helvetica-Bold';
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #0080c6;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  line-height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.btn-xl {
  max-width: 440px;
  background-color: #fff;
}
.btn-xl:hover {
  background-color: #0080c6;
  color: #fff;
}
.btn-l {
  max-width: 330px;
  background-color: #0080c6;
  color: #fff;
  line-height: 76px;
  border: 2px solid #0080c6;
}
.btn-l:hover {
  background-color: #fff;
  color: #0080c6;
  border: 2px solid #0080c6;
}
.btn-m {
  max-width: 310px;
  background-color: transparent;
  border: 2px solid #0080c6;
  line-height: 76px;
}
.btn-m:hover {
  background-color: #0080c6;
  color: #fff;
  border: 2px solid #0080c6;
}
.btn-s {
  max-width: 290px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  line-height: 76px;
}
.btn-s:hover {
  background-color: #fff;
  color: #0080c6;
  border: 2px solid #fff;
}
.btn-xs {
  max-width: 220px;
  background-color: #0080c6;
  color: #fff;
  border: 2px solid #0080c6;
  line-height: 76px;
}
.btn-xs:hover {
  color: #0080c6;
  border: 2px solid #0080c6;
  background-color: #fff;
}
.container {
  max-width: 1310px;
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}
.heading .heading-blue {
  padding: 90px 0 10px;
}
.heading .separator {
  margin-bottom: 40px;
  position: relative;
  height: 11px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.heading .separator:after {
  content: '';
  display: block;
  height: 1px;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  background-color: #0080c6;
  position: absolute;
  top: 5px;
  right: 0;
}
.blog-entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}
.blog-entry .blog-entry-preview {
  width: 180px;
  height: 180px;
  margin-top: 5px;
}
.blog-entry .blog-entry-preview img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-entry .blog-entry-text {
  margin-left: 40px;
}
.blog-entry .blog-entry-text .blog-heading {
  margin-bottom: 15px;
}
.blog-entry .blog-entry-text .blog-date {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.001em;
  font-family: 'HelveticaNeue-Bold';
  background: url("../img/all/date-blog.png") no-repeat;
  padding-left: 22px;
  position: relative;
  margin-bottom: 20px;
}
.blog-entry .blog-entry-text .blog-date:after {
  content: '';
  display: block;
  height: 1px;
  width: -webkit-calc(100% - 110px);
  width: calc(100% - 110px);
  position: absolute;
  top: 11px;
  left: 110px;
  background-color: #0080c6;
}
.blog-entry .blog-entry-text .blog-text-preview {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.025em;
  margin-bottom: 15px;
}
.blog-entry .blog-entry-text .read-more {
  font-family: 'HelveticaNeue-Black';
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.01em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.blog-entry .blog-entry-text .read-more img {
  margin-left: 10px;
}
.blog-entry .blog-entry-text .read-more:hover {
  opacity: 0.7;
}
