footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: lightColor;
}
.upperfooter {
  background: url("../img/main/bottombg.png");
  width: 100%;
  padding: 60px 0 60px 0;
}
.bottomnav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 360px;
}
.bottomnav__list-item {
  margin: 0;
}
.bottomnav__list-item:nth-child(1) {
  margin-left: 321px;
}
.bottomnav__list-item-img {
  width: 220px;
  height: 160px;
  margin-bottom: 47px;
}
.bottomnav__list-item--title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 18px;
  letter-spacing: 0.7px;
  line-height: 24px;
  font-family: 'HelveticaNeue-Roman';
  text-align: left;
}
.bottomnav__list-item--subtitle {
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.7px;
  line-height: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 230px;
  font-family: 'HelveticaNeue-Roman';
}
.bottomnav__list-item--link {
  color: lightColor;
  font-family: 'Helvetica-Regular';
  font-size: 14px;
  font-weight: 400px;
  letter-spacing: 0.4px;
  line-height: 30px;
}
.bottomnav__sublist {
  list-style-type: disc;
  margin-left: 40px;
}
.bottomnav__sublist-item--link {
  color: lightColor;
  font-family: 'Helvetica-Regular';
  font-size: 14px;
  font-weight: 400px;
  letter-spacing: 0.4px;
  line-height: 30px;
  text-transform: none;
}
.bottom-footer {
  background-color: #496bab;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 15px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-size: 14px;
  font-family: 'Helvetica-Regular';
  color: #fff;
  line-height: 1.2em;
  letter-spacing: 0.075em;
}
.bottom-footer .copyright {
  max-width: 70%;
}
.bottom-footer .author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 30%;
  line-height: 1.5em;
}
.bottom-footer .author a {
  padding-left: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.bottom-footer .author a:hover {
  opacity: 0.6;
}
