@import '../../common/common-stylus/vars'

.section-projects__info.reg
    display flex
    flex-direction: column

.projects__info-column--title.reg
    font-size 30px

.projects-infotext
    color: semiBlack
    font-size 16px
    line-height 30px
    font-family 'HelveticaNeue-Light', sans-serif
    max-width: 870px
    width 100%
    margin 60px 0

.projects-list__wrap
    padding-left: 60px

.projects-list__title.reg
    &:before
        background-image: url('../img/projects/step-3.png')

.user-info__list
    margin-bottom 35px

.user-info__list-item
    margin-bottom 20px
    width 100%
    display flex

    @media screen and (max-width 760px)
        flex-direction column

    .personal-info__title
        max-width 400px
        max-height 20px
        line-height 18px
        width 100%

        &:last-of-type
            max-width inherit
    
    .user-info__text
        max-width 600px
        width 100%

.title
    font-size 18px
    font-family 'HelveticaNeue-Bold', sans-serif
    color semiPurple
    line-height 18px

    @media screen and (max-width 760px)
        font-size 16px
        line-height 16px

.text
    font-size 18px
    font-family 'HelveticaNeue-Light'
    color semiBlack
    line-height 18px
    
    @media screen and (max-width 760px)
        font-size 16px
        line-height 16px

.user-info__list
    margin-top 60px
    margin-bottom 30px

.license-title.title
    margin-bottom 10px

.license-link.title
    color: #2d3484
    margin-right 30px

// form

.committee-membership__title
    margin-bottom: 20px

.personal-info__form
    margin-top: 30px

.personal-info__title
    font-size: 18px
    color: #5073b6
    line-height: 2
    font-family: 'HelveticaNeue-Bold', sans-serif
    display: flex
    flex-direction: column
    margin-bottom: 30px

.personal-info__form input[placeholder]
    font-style: italic
    font-size: 14px
    font-family: 'HelveticaNeue-Light', sans-serif
    color: #343537
    line-height: 2.571


.personal-info__label
    display flex
    flex-direction column
    margin-bottom 30px

    .personal-info__input__date
        width 200px
    
        @media screen and (max-width:1280px){
            width 33%
        }

        &:not(:last-child)
            margin-right 10px

        &:first-child
            @media screen and (max-width 760px){
                width 29%
            }

.personal-info__input
    border 1px solid rgb(219, 224, 234)
    margin-top 16px
    height 60px
    max-width 620px
    width 100%
    box-sizing border-box
    padding-left 28px
    transition 0.2s all ease-in-out
    font-style normal

    &:focus
        border 2px solid semiPurple

    &:hover
        border 1px solid rgb(219, 224, 234)
    

.personal-info__form
    input[placeholder]
        font-style italic
        font-size 14px
        font-family 'HelveticaNeue-Light', sans-serif
        color rgb(52, 53, 55)
        line-height: 2.571
        
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button
        -webkit-appearance none
        -moz-appearance none
        -ms-appearance none
        -o-appearance none 
        appearance none
        margin 0

    input[type=number]
        -moz-appearance:textfield
        
    select:-moz-focusring 
        color transparent
        text-shadow 0 0 0 #000

.personal-info__label-subtitle
    font-size 14px
    line-height 24px
    color: semiBlack
    font-family: 'HelveticaNeue-Light', sans-serif
    font-style: italic

.account-checkbox__wrap
    display flex
    flex-direction row
    align-items center
    position relative
    margin-bottom 20px

.account-checkbox__input
    appearance none
    margin 0
    width 23px
    height 20px
    box-sizing border-box
    position relative
    z-index 3

.account-checkbox__input-wrap
    width 23px
    height 23px

.account-checkbox__input-checkmark
    position absolute
    display inline-block
    width 23px
    height 23px
    left 0
    top 0
    transform translateY(25%)
    
    &:after
        display block
        content ''
        width 23px
        height 20px
        background url('../img/all/dots.png') no-repeat
        position absolute
        top 50%
        transform translateY(-50%)
        z-index: 1

.account-checkbox__input-wrap input:checked ~ .account-checkbox__input-checkmark:after
    background url('../img/all/dots-active.png') no-repeat

.account-checkbox__descr
    margin-left 5px
    font-family 'Helvetica-Regular'
    font-size 18px
    line-height 30px

    @media screen and (max-width 760px)
        font-size 16px

.form-typical-subtitle
    font-family: 'HelveticaNeue-Roman', sans-serif
    color: #5073b6
    font-size 30px
    line-height 36px
    margin-top 60px
    margin-bottom 30px

.personal-info__label-points
    font-size 14px
    line-height 24px
    color: #3877bb
    font-family: 'HelveticaNeue-Light', sans-serif
    font-style: italic 

.account-submit__wrap
    display flex

.account-payment-amount__wrap
    display flex
    align-items center

.account-payment-amount__user
    margin-left 50px
    font-size 18px
    line-height 36px
    color: #343537
    font-family 'HelveticaNeue-Black', sans-serif

.personal-info__form-submit
    max-width: 330px
    width 100%
    height 70px
    text-transform uppercase
    margin-top 40px

    &:first-of-type
        margin-right: 20px