@import '../../common/common-stylus/vars'

//-----------------------start geneeral styles ------------------------
.container
    flex-direction column

.tpc-slider.general-partners
    background-color: #f0f2f4
//-----------------------end general styles------------------------

.project-main
    .project-title
        white-space: pre-line

.section-projects__info
    display flex
    justify-content: space-between
    
    &-column
        max-width: 67%
    
.projects__info-column--title
    color: lightViolet
    font-size 22px
    line-height 26px
    letter-spacing 0.1em
    font-family 'HelveticaNeue-Roman', sans-serif
    text-transform: none

.section-projects__info-column.partners
    max-width: 320px
    width 100%

.projects__info-column--video
    margin-bottom: 60px
    margin-top: 60px
    border: 5px solid #fff
    box-sizing: border-box
    width: 100%
    box-shadow: 0 0 20px 0 rgb(0,0,0)
    height 490px

// start style block project-partners
.section-projects__partners
    &:first-of-type
        margin-bottom: 80px

    &--img_wrap
        align-items: center
        border: 1px dotted #ccc
        background-color: #fff
        display flex
        justify-content center
        width 100%
        height 190px
        
    &--img
        max-width 80%
        max-height 80%
        object-fit: cover

.section-projects__partners-subtitle
    font-size 22px
    font-family 'HelveticaNeue-Bold', sans-serif
    color semiViolet

    .separator
        margin 5px 0 30px 0

.section-projects__partners-btn
    margin-top 30px
    height 70px
    width 100%
    color whiteColor
