@import '../../common/common-stylus/vars'

//-----------------------start geneeral styles ------------------------
.container
    flex-direction column

//-----------------------end general styles------------------------
