#modal h4 {
    font-family: 'HelveticaNeue-Roman',sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #5073b6;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 30px;
}
.gc {
    margin: 20px 0;
}
.hideout {
    position: absolute;
    left: -99999999px;
    top:  -99999999px;
}
.input-search.has-value~.search-input-label {
    top: 5px;
    color: #2b3384;
    font-size: 12px;
}
.main-vote.container {
    margin-bottom: 0;
}
#table_id_paginate {
    margin-top: 40px;
    float: left
}
#table_id_paginate span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
#table_id_paginate .paginate_button.current {
    color: #fff
}
#table_id_paginate .paginate_button.current:after {
    background: url(../img/account/table-btn-active.png) center center no-repeat
}
@media screen and (max-width: 760px) {
    #table_id_paginate .paginate_button.current:after {
        background: url(../img/account/table-btn-active-mob.png) center center no-repeat
    }
}
#table_id_paginate .paginate_button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    font-family: 'HelveticaNeue-Bold', sans-serif;
    position: relative;
    margin-right: 12px;
    width: 48px;
    height: 40px;
    z-index: 2;
    padding-top: 2px;
    color: #5073b6
}
@media screen and (max-width: 760px) {
    #table_id_paginate .paginate_button {
        font-size: 12px;
        width: 34px;
        height: 28px
    }
}
#table_id_paginate .paginate_button:after {
    display: block;
    width: 48px;
    height: 40px;
    content: '';
    top: 0;
    left: -1px;
    position: absolute;
    z-index: -1;
    background: url(../img/account/table-btn.png) center center no-repeat
}
@media screen and (max-width: 760px) {
    #table_id_paginate .paginate_button:after {
        width: 34px;
        height: 28px;
        background: url(../img/account/table-btn-mob.png) center center no-repeat
    }
}
.news-aau__post-info--descr {
    font-family: 'HelveticaNeue-Light',sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #343537;
    text-align: justify;
    margin-bottom: 30px;
}
.menu-item span {
    font-family: 'HelveticaNeue-Medium';
    color: #343537;
    letter-spacing: .025em;
    line-height: 1.2em;
    position: relative;
    width: 100%;
    padding-right: 3px;
    text-transform: uppercase;
    font-size: 14px;
}
.events-mainlist__item {
    min-height: 640px;
}
.events__content #table_id_paginate {
    margin-top: 80px;
}
.fc-content-skeleton .fc-today {
    border: 2px solid #d64848!important;
}
.fc-bg .fc-today {
    border: none!important;
}
.departments-list__item:nth-child(1) .departments-list__item-region {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.input-search.has-value~.search-input-label {
        top: 5px;
    color: #2b3384;
    font-size: 12px;
}
.worker-card__article {
    font-family: 'HelveticaNeue-Light';
    line-height: 30px;
    color: #343537;
    font-size: 16px;
    text-align: justify;
}
.worker-card__article p, .worker-card__article div {
    margin-bottom: 20px;
}
.membership-advantages__btn:first-child {
    margin-right: 40px;
    height: 75px;
}
.events-mainlist__item-imgwrap {
    text-align: center;
}
@media screen and (min-width: 760px) {
    .events-mainlist__item-img {
        max-width: 100%;
    }
}
.photo__slider-wrap.active .slider__nav .slider__nav-slide {
    text-align: center;
}
.photo__slider-wrap.active .slider__nav .slider__nav-slide img {
    display: inline-block;
    min-width: auto;
}

main.project-main p {
    font-family: 'HelveticaNeue-Light';
    line-height: 30px;
    color: #343537;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
}
.worker-name {
    text-align: center;
}
.mb60 {
    margin-bottom: 60px;
}
.personal-info__departments {
    max-width: 620px;
}
/*.event__descr-descrlist--item-column {*/
    /*margin-right: 95px;*/
/*}*/
.about-aau__intro-video img {
    max-width: 100%;
    max-height: 100%;
}
.infolist-item__descr .infolist-item__text {
    font-family: 'HelveticaNeue-Light',sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #3e3f40;
}
.intro__slide-item.banner-img {
    background: white;
}
.intro__slide-item.banner-img .intro__event {
    text-align: center;
}
@media screen and (min-width: 1400px) {
    .events__content .intro-slider .intro__slide-item.banner-img .intro__event img,
    .intro.index .intro-slider .intro__slide-item.banner-img .intro__event img {
        width: auto;
        height: auto;
    }
}
@media screen and (max-width: 1400px)
{
    .events__content .intro-slider .intro__slide-item.banner-img .intro__event img,
    .intro.index .intro-slider .intro__slide-item.banner-img .intro__event img {
        width: 99%;
        height: auto;
    }
    .intro.index .intro__event {
        min-height: auto;
        height: auto;
    }
}
label.error {
    color: lightcoral;
}
.lawyer-profile-page .worker__text-wrap.position .worker__text {
    margin: 20px 5px 10px;
}
.lawyer-profile-page .worker-card {
    margin-top: 0;
}
.about-stndrt .worker-card__article ul {
    margin-bottom: 20px;
    list-style-type: disc;
    padding-left: 10px;
    margin-left: 20px;
}
.about-stndrt .worker-card__article ul li {
    color: #0080c6;
}
.about-stndrt .worker-card__article ul li p {
    color: #343537;
}
#modal {
    border: 2px solid #5073b6;
    max-width: 570px;
}
/*.news-entry__wrapimage.blog-entry__wrapimage {*/
    /*overflow: hidden;*/
/*}*/
/*.news-entry__wrapimage.blog-entry__wrapimage img {*/
    /*max-width: none;*/
/*}*/
.speakers-row.experts-row {
    margin-top: 4px;
}
.speakers-row.experts-row .infolist-item__theme {
    font-weight: bold;
}
.speakers-row.experts-row .infolist-item__title,
.speakers-row.experts-row .speakers-company
{
    color: #3e3f40;
}