@import '../../common/common-stylus/vars'

.contacts
    display flex
    flex-direction column

    .tpc-slider.general-partners
        background-color #f0f2f4
        z-index 10
    

.contacts-wrap
    display flex
    margin-bottom -25px

    @media screen and (max-width 1280px)
        flex-direction column
        margin-bottom 0


.contacts-map
    width 50%

    @media screen and (max-width 1280px)
        width 100%
        height 500px

.contacts-info
    width 50%
    display flex
    flex-direction column
    justify-content flex-start
    box-sizing border-box
    
    @media screen and (max-width 1280px)
        width 100%
        padding 50px 40px


.contacts-info__wraper
    max-width 550px
    padding 90px 0px 115px 90px
    width 100%

    .contacts-heading
        .separator
            &:before,
            &:after
                background-color: rgb(0, 128, 198)

    @media screen and (max-width 1280px)
        max-width inherit
        margin 0 auto
        padding 0

.contacts-title
    font-size 36px
    color semiViolet
    font-family 'HelveticaNeue-Bold', sans-serif

    @media screen and (max-width: 767px)
        font-size 22px
        line-height 22px
        letter-spacing: 0.1px

.contacts-subtitle
    color semiPurple
    font-size 24px
    line-height 30px
    font-family 'HelveticaNeue-Roman', sans-serif
    margin-bottom 55px

    @media screen and (max-width: 767px)
        text-align center
        font-size 16px
        line-height 16px
        margin-bottom 25px

    span
        display block

.contacts-list__item
    @media screen and (max-width 767px)
        flex-direction column

.contacts-list__item-text,
.contacts-list__item-text--link
    font-family 'HelveticaNeue-Bold', sans-serif
    font-size 24px
    color #3e3f40
    text-transform: none

    @media screen and (max-width 767px)
        text-align center
        font-size 18px
        line-height 18px

.contacts-list__item-text--link
    transition all 0.8s ease
    &:hover
        color rgba(62, 63, 64, .5)
        text-decoration underline

.contacts-list__item-text
    display flex
    align-items center
    flex-direction column
        

.contacts-list__item
    position relative
    padding-left 180px
    height: 98px
    display flex
    box-sizing: border-box
    align-items center

    @media screen and (max-width 767px)
        padding-left 0
        height auto

    &:not(:last-child)
        margin-bottom 30px
    
    &:before
        display block
        content ''
        position absolute
        left 0% 
        top 0%
        background-repeat no-repeat
        background-position top center
        width 150px
        height 98px

        @media screen and (max-width 767px)
            width 56px
            height 50px
            min-height 50px
            margin 0 auto 10px
            position relative
            background-size cover
            background-position center

    &:nth-child(1)
        &:before
            background-image url('../img/contacts/tel.png')
            
            @media screen and (max-width 767px)
                background-image url('../img/contacts/tel-mob.png')
    &:nth-child(2)
        &:before
            background-image url('../img/contacts/email.png')
            
            @media screen and (max-width 767px)
                background-image url('../img/contacts/email-mob.png')

    &:nth-child(3)
        &:before
            background-image url('../img/contacts/location.png')

            @media screen and (max-width 767px)
                background-image url('../img/contacts/location-mob.png')


.requisites-wrap
    margin-top 60px

    @media screen and (max-width 767px)
        margin-top 35px
        text-align center

.requisites-title
    font-size 22px
    line-height 18px
    color semiPurple
    font-family 'HelveticaNeue-Bold', sans-serif
    margin-bottom 33px
    text-transform uppercase

    @media screen and (max-width 767px)
        margin-bottom 15px

.requisites-descr
    font-family 'HelveticaNeue-Light', sans-serif
    font-size 18px
    line-height 30px
    color semiBlack
    white-space pre-line
    margin-bottom 30px

    @media screen and (max-width 767px)
        font-size 14px
        line-height 24px

.contacts-people__descr
    font-size 16px
    font-family 'HelveticaNeue-Bold', sans-serif
    color semiBlack
    line-height 30px
    text-transform none
    display block
    letter-spacing 0

    &:not(:last-child)
        margin-bottom 30px

    @media screen and (max-width 767px)
        font-size 14px
        line-height 24px
        text-align: center

.contacts-people__descr-position
    color semiPurple
    margin-right 10px

    @media screen and (max-width 767px)
        display block
        text-align center
        width 100%
        margin-right 0


.contacts-people__descr-link
    display inline
    font-family 'HelveticaNeue-Light', sans-serif
    color #2d3484
    text-transform none
    letter-spacing: 0
    transition all 0.6s ease

    &:hover
        text-decoration underline
        color darkCerulean



//////////////////////////////////////////////////////////
//
// start style form  
// 
//////////////////////////////////////////////////////////

.contacts-form__wrap
    display block
    position relative
    width 100%
    height 695px
    background url('../img/contacts/bg.jpg') center center no-repeat

    @media screen and (max-width 767px)
        height auto
        background-size cover

    &:before,
    &:after
        content: ''
        position absolute 
        top 0

    &:before
        background  url('../img/contacts/sota-left.png')
        left 0
        width 520px
        height 340px

        @media screen and (max-width 1280px)
            width 515px
            height 250px
            opacity 0.5
        
        @media screen and (max-width 767px)
            width 300px
            height 260px
            background-size cover
    
    &:after
        background  url('../img/contacts/sota-right.png')
        right 0
        width 600px
        height 350px
        z-index 0

        @media screen and (max-width 1280px)
            display none

.contacts-form 
    margin 100px auto
    max-width: 1280px
    display flex
    flex-direction: column
    z-index 100

    @media screen and (max-width 1280px)
        margin 60px auto
        padding 0 20px
        max-width inherit
.contacts-form__title
    color: #ffffff
    text-align center
    background-color: trasparent

    @media screen and (max-width 767px)
        font-size 22px
        line-height 22px
        letter-spacing 0.1px

.contacts-heading
    z-index: 10


    .separator
        svg
            margin 0 auto

        &:after
            background-color: #ffffff
            width: calc(50% - 20px);
            right: 0%

        &:before
            background-color: #ffffff
            width: calc(50% - 20px);
            left: 0%
            content: ''
            display: block
            height: 1px
            top 5px
            position: absolute


.contacts-form__input-wrap
    display flex

    @media screen and (max-width 767px)
        flex-direction column

.contacts-form__input-wrap__column
    &:first-of-type
        box-sizing: border-box
        margin-right: 40px
        display flex
        flex-direction: column
        width: 400px
        max-height: 300px
        height 100%

        @media screen and (max-width 1280px)
            width 50%

        @media screen and (max-width 767px)
            width 100%

    &:last-of-type
        max-width: 880px
        width: 100%
        flex 2 0 auto
        height: 300px

        @media screen and (max-width 1280px)
            width 50%
        
        @media screen and (max-width 767px)
            width 100%

        .contacts-form__label
            height 100%
            margin-bottom 0

.contacts-form__label
    font-family 'HelveticaNeue-Bold', sans-serif
    font-size 24px
    color: #ffffff
    line-height 36px
    display flex
    flex-direction: column
    margin-bottom 20px
    z-index: 10

    @media screen and (max-width 767px)
        font-size 16px

    &:last-of-type
        margin-bottom 0
    
    &:hover
        cursor pointer

    

.contacts-form__input
    box-sizing: border-box
    max-width: 400px
    height 50px
    width: 100%
    padding-left: 28px
    border: 1px solid #dbe0ea
    transition: .2s all ease-in-out
    background-color: #ffffff

    &:hover
        border: 2px solid semiViolet
        background-color: #ffffff
        cursor pointer
    
    @media screen and (max-width 1280px)
        max-width inherit
    
    @media screen and (max-width 767px)
        padding-left 20px

.contacts-form__input[placeholder]
    font-style: italic
    font-size: 14px
    font-family: 'HelveticaNeue-Light'
    color: #343537
    line-height: 2.571

    @media screen and (max-width 767px)
        font-size 12px

.contacts-form__input.textarea
    width 100%
    max-width: inherit
    height 100%
    z-index 10
    

.contacts-form__input.submit
    margin-top 20px
    align-self flex-end
    margin-left: auto
    max-width: 290px
    width 100%
    height 60px
    background-color: transparent
    color: #ffffff
    border: 2px solid #ffffff
    font-size 16px 
    font-family 'HelveticaNeue-Bold', sans-serif
    text-transform uppercase
    outline: none

    @media screen and (max-width 767px)
        font-size 12px
        line-height 12px
        height 40px
        margin-left 0
        max-width inherit

    &:hover
        background-color semiViolet
        transition all 0.5s ease-in-out
        color whiteColor
        border-color: semiViolet
//////////////////////////////////////////////////////////
//
// end style form  
// 
//////////////////////////////////////////////////////////
