@import '../../common/common-stylus/vars'
@import '../../common/common-stylus/components/controlpanel'
@import '../../common/common-stylus/components/footer'

//-----------------------start geneeral styles ------------------------
.container
    flex-direction column

//-----------------------end general styles------------------------


//-----------------------styles for title------------------------

