@import '../../common/common-stylus/vars'

.partners-advantages
    ul
        list-style: none
        display flex
        flex-wrap: wrap
        justify-content: space-between
        margin-top: 30px

        li
            margin-bottom 20px
            width 45%
            line-height: 20px
            position: relative
            font-family: 'HelveticaNeue-Light'
            padding-left 50px
            color: #4a4b4d
            box-sizing: border-box
            min-height: 43px
            display flex
            align-items center
            
            @media screen and (max-width: 1280px)
                text-align left
                font-size 14px
                padding-bottom 0
                padding-left 35px
                margin-bottom 10px
                line-height 14px
                width 100%
                margin-bottom 15px
                min-height: auto

                &:last-child,
                &:nth-last-child(2)
                    margin-bottom 15px
            
            &:before
                content ''
                display block
                background-image url('../img/all/icon-check.png')
                width 37px
                height 43px
                left 0
                top 0
                position absolute
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                
                @media screen and (max-width 1280px)
                    width 25px
                    height 29px
                    transform translateY(-50%)
                    top 50%
                    
                    &:last-child
                        margin-bottom 0
                    
                    &:nth-last-child(2)
                        margin-bottom 0

.partners-template__wrap
    .container
        display flex
        flex-direction: column

.partners-subtitle
    font-family 'HelveticaNeue-Bold', sans-serif
    font-size 24px
    color semiViolet
    margin 40px 0
    text-transform uppercase

    @media screen and (max-width 1280px)
        font-size 18px
        margin 20px 0

.partners-template__list
    display grid
    width 100%
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 1360px)
        grid-template-columns: repeat(3, 1fr);
    
    @media screen and (max-width 980px)
        grid-template-columns: repeat(2, 1.5fr);
        justify-items: center
    
    @media screen and (max-width: 620px)
        grid-template-columns: repeat(1, 1.5fr);

    &-item
        max-width: 280px;
        max-height: 190px;
        height 190px
        width 100%
        border 1px dotted #ccc
        background-color whiteColor
        display flex
        justify-content center
        align-items center
        margin-bottom: 40px

    &-item--img
        max-width: 235px
        max-height: 130px
        object-fit: cover
        display block

.partners-template__text
    font-family 'HelveticaNeue-Light', sans-serif
    font-size 16px
    line-height 30px
    color semiBlack
    text-align: justify

    &:not(:last-child)
        margin-bottom 30px


.partners-template__section-title
    font-size 24px
    font-family 'HelveticaNeue-Bold', sans-serif
    letter-spacing: 0


.partners-checklist
    width 100%
    display flex
    flex-wrap: wrap

    &__item
        padding-left 80px
        margin-bottom 40px
        margin-right 40px

        @media screen and (max-width 1280px)
            margin-bottom 30px
            margin-top 0
            padding-left 35px
            margin-right 0
            width 100%

    &__item-text
        max-width: 480px
        font-size 20px
        color #4a4b4d
        font-family 'HelveticaNeue-Light', sans-serif

        @media screen and (max-width 1280px)
            font-size 18px
            max-width inherit

        @media screen and (max-width 1280px)
            font-size 14px
            line-height 14px

.partners-advantages__btn-group
    width 100%
    display flex
    margin-top 20px
    margin-bottom 80px
    text-transform uppercase

    @media screen and (max-width 767px)
        flex-direction column

        .btn-template
            margin-bottom: 20px
            height 40px
            font-size 12px


    &:hover
        cursor pointer

    .btn-template
        max-width: 400px
        height: 52px
        font-size 14px
        letter-spacing 0


.partners-advantages__btn
    &:first-of-type
        margin-right: 40px


.partners-program
    font-family: 'HelveticaNeue-Light',sans-serif
    font-size: 16px
    line-height: 24px
    color: #343537
    text-transform: none
    
    .container
        section
            &:not(:first-child)
                margin-top: 40px
            
            &:last-child
                margin-bottom 40px

    @media screen and (max-width 767px)
        font-size 14px
        letter-spacing: normal
        line-height 20px

    .tpc-slider.general-partners
        background-color: #f0f2f4

.overlay-main
	background-color rgba(40, 40, 40, 0.8)
	width 100%
	height 100%
	z-index 100
	position fixed
	left 0
	top 0
	display none
	

.popup-wrap
	box-sizing border-box
	max-width 620px
	width 100%
	position fixed
    height: 90vh
	z-index 102
	top 50%
	left 50%
	transform: translate(-50%, -50%)
	background-color whiteColor
	padding 70px 70px 50px 70px
	display none

    

.popup-close
    position absolute
    right 10px
    top 10px
    width 30px
    height 30px
    display block
    background url('../img/main/close.jpg') center center no-repeat
    background-size cover
    z-index 103

    &:hover
        cursor pointer

.popup-title__wrap
    .separator
        margin-top 10px
        margin-bottom 20px

        &:before
            content: ''
            display: block
            height: 1px
            width: calc(50% - 20px)
            background-color: #0080c6
            position: absolute
            top: 5px
            left: 0

        &:after
            content: ''
            display: block
            height: 1px
            width: calc(50% - 20px)
            background-color: #0080c6
            position: absolute
            top: 5px
            right: 0

.popup-title
	font-size 30px

.popup-form 
	display flex
	flex-direction column


.popup-submit
	margin-top 30px
	box-sizing border-box
	height 70px
	text-transform uppercase
	font-size 16px
	font-family 'HelveticaNeue-Bold', sans-serif
	color semiPurple
	background-color white
	border: 2px solid semiPurple
	transition: .2s all ease-in-out
	letter-spacing: .1em

	&:hover
		background-color #5073b6
		color #fff
		border 2px solid #5073b6

.popup-lable
    display flex
    flex-direction: column
    box-sizing: border-box
    font-family 'HelveticaNeue-Bold', sans-serif
    font-size 18px
    color semiPurple
    margin: 15px 0

    &:nth-child(1)
        margin-top: 0

.popul-input
    margin-top 5px
    border: 1px solid #dbe0ea
    height: 50px
    width: 100%
    box-sizing: border-box
    padding-left: 28px
    transition: .2s all ease-in-out

    &:hover
        border: 2px solid #5073b6


.popul-input[placeholder]
    font-style: italic
    font-size: 14px
    font-family: 'HelveticaNeue-Light'
    color: #343537
    line-height: 2.571

.partners--popup-title__wrap
    text-align: center

    svg
        margin 0 auto

.partners-popup__wrap
    max-height: 840px
    overflow-y: auto
    height: 90vh

    @media screen and (max-width 767px)
        padding: 35px 20px
        max-width inherit
        width calc(100% - 20px)
        box-sizing border-box
        max-height 720px
