@import '../../common/common-stylus/vars'


.partners-template__wrap
    .container
        display flex
        flex-direction: column

.partners-subtitle
    font-family 'HelveticaNeue-Bold', sans-serif
    font-size 24px
    color semiViolet
    margin 40px 0
    text-transform uppercase

.partners-template__list
    display flex
    flex-wrap: wrap

    &-item
        max-width: 280px;
        max-height: 190px;
        height 190px
        width 100%
        border 1px dotted #ccc
        background-color whiteColor
        display flex
        justify-content center
        align-items center
        margin-right: 40px

        &:nth-child(n+5)
            margin-top 40px

        &:nth-child(4n+4)
            margin-right 0
            

    &-item--img
        max-width: 235px
        max-height: 130px
        object-fit: cover
        display block

.partners-template__text
    font-family 'HelveticaNeue-Light', sans-serif
    font-size 16px
    line-height 30px
    color semiBlack
    text-align: justify

    &:not(:last-child)
        margin-bottom 30px

.partners-advantages
    margin-top 50px

.partners-template__section-title
    font-size 24px
    font-family 'HelveticaNeue-Bold', sans-serif
    letter-spacing: 0

.partners-checklist
    width 100%
    display flex
    flex-wrap: wrap

    &__item
        padding-left 80px
        margin-bottom 40px
        margin-right 40px

    &__item-text
        max-width: 480px
        font-size 20px
        color #4a4b4d
        font-family 'HelveticaNeue-Light', sans-serif

.partners-advantages__btn-group
    width 100%
    display flex
    margin-top 20px
    margin-bottom 80px
    text-transform uppercase

    &:hover
        cursor pointer

    .btn-template
        max-width: 400px
        height: 52px
        font-size 14px
        letter-spacing 0

.partners-advantages__btn
    &:first-of-type
        margin-right: 40px


.partners-program
    .tpc-slider.general-partners
        background-color: #f0f2f4

.overlay-main
	background-color rgba(40, 40, 40, 0.8)
	width 100%
	height 100%
	z-index 100
	position fixed
	left 0
	top 0
	display none
	

.popup-wrap
	box-sizing border-box
	max-width 620px
	width 100%
	position fixed
	z-index 102
	top 50%
	left 50%
	transform: translate(-50%, -50%)
	background-color whiteColor
	padding 70px 70px 50px 70px
	display none

.popup-close
    position absolute
    right 10px
    top 10px
    width 30px
    height 30px
    display block
    background url('../img/main/close.jpg') center center no-repeat
    background-size cover
    z-index 103

    &:hover
        cursor pointer

.popup-title__wrap
    .separator
        margin-top 10px
        margin-bottom 20px

        &:before
            content: ''
            display: block
            height: 1px
            width: calc(50% - 20px)
            background-color: #0080c6
            position: absolute
            top: 5px
            left: 0

        &:after
            content: ''
            display: block
            height: 1px
            width: calc(50% - 20px)
            background-color: #0080c6
            position: absolute
            top: 5px
            right: 0

.popup-title
	font-size 30px

.popup-form 
	display flex
	flex-direction column


.popup-submit
	margin-top 30px
	box-sizing border-box
	height 70px
	text-transform uppercase
	font-size 16px
	font-family 'HelveticaNeue-Bold', sans-serif
	color semiPurple
	background-color white
	border: 2px solid semiPurple
	transition: .2s all ease-in-out
	letter-spacing: .1em

	&:hover
		background-color #5073b6
		color #fff
		border 2px solid #5073b6

.popup-lable
    display flex
    flex-direction: column
    box-sizing: border-box
    font-family 'HelveticaNeue-Bold', sans-serif
    font-size 18px
    color semiPurple
    margin: 15px 0

    &:nth-child(1)
        margin-top: 0

.popul-input
    margin-top 5px
    border: 1px solid #dbe0ea
    height: 50px
    width: 100%
    box-sizing: border-box
    padding-left: 28px
    transition: .2s all ease-in-out

    &:hover
        border: 2px solid #5073b6


.popul-input[placeholder]
    font-style: italic
    font-size: 14px
    font-family: 'HelveticaNeue-Light'
    color: #343537
    line-height: 2.571

.partners--popup-title__wrap
    text-align: center

    svg
        margin 0 auto

.partners-popup__wrap
    height: 840px
    overflow-y: auto

