@import '../../common/common-stylus/vars'

//////////////////////////////////////////////////////////
//
// START STYLE FOR COMMITTEE 
// 
//////////////////////////////////////////////////////////

.committee-intro
    .container
        display flex
        flex-direction column

.committee-list__item-descr--wraper
    display none

//////////////////////////////////////////////////////////
//
// END STYLE FOR COMMITTEE 
// 
//////////////////////////////////////////////////////////

.committee-list__item
    width 100%
    background-color semiGray

.committee-list__item-title--wrap
    height 60px
    display flex
    align-items center
    background url('../img/staff/bg-unactive.png') no-repeat
    background-size: 100px 53px
    background-position-x: -15px
    background-position-y: -15px
    position relative


    &:hover
        cursor pointer

    &:after
        content ''
        display block
        position absolute
        right 13px
        background-image url('../img/staff/unactive.png')
        background-repeat no-repeat
        width 25px
        height 21px
        z-index 10

//стили для активного комитетта

.committee-list__item.active
    .committee-list__item-title--wrap
        background url('../img/staff/bg-active.jpg') no-repeat

        &:after
            content ''
            background-image url('../img/staff/active.png')

    
    .committee-list__item-title
        color whiteColor


.committee-list__item-title
    font-size 18px
    color: semiBlack
    font-family 'HelveticaNeue-Bold', sans-serif
    height auto
    text-align left
    padding-left 80px


.committee-list__item-descr--wraper
    padding 55px 70px 100px 55px
    margin-bottom: 10px
    flex-direction column


.committee-list__item-descr--title
    width 100%
    font-size 24px
    font-family 'HelveticaNeue-Bold', sans-serif
    letter-spacing 0px
    line-height 24px
    color semiViolet
    text-transform none

.committee-list__item-info--wraper
    display flex
    justify-content space-between

//////////////////////////////////////////////////////////
//
// START STYLE FOR .worker-block
// 
//////////////////////////////////////////////////////////

.worker-block
    max-width 290px
    width 100%
    height auto


.worker-img
    width 100%
    max-height 400px
    height 100%
    margin-bottom:  -10px

.worker-info
    height 80px
    display flex
    align-items center
    justify-content center
    flex-direction column
    background url('../img/staff/bottom__bg.png')
    
.worker-name
    text-transform uppercase
    font-family 'HelveticaNeue-Black', sans-serif
    font-size 18px
    line-height 24px
    color whiteColor

.worker-position
    font-family 'HelveticaNeue-Roman', sans-serif
    font-size 16px
    color whiteColor

.worker-bio
    background-color #2d3484
    padding 30px 20px 10px

.worker-biot__text
    color whiteColor
    font-size 12px
    text-align center
    line-height 20px
    font-family 'HelveticaNeue-Medium', sans-serif
//////////////////////////////////////////////////////////
//
// END STYLE FOR .worker-block
// 
//////////////////////////////////////////////////////////

.committee-maintext__wraper
    max-width 810px
    width 100%

.committee-third__title
    color #5073b6
    font-size 24px
    line-height 30px
    font-family 'HelveticaNeue-Roman', sans-serif

.committee-text.stndrt-text
    color semiBlack
    font-size 16px
    font-family 'HelveticaNeue-Light', sans-serif
    text-align justify
    line-height 30px
    margin-bottom 40px
    margin-top 40px


.committee-sublist
    margin 40px 0

.committee-sublist__item
    position relative
    margin-bottom 20px
    display flex
    align-items center

    &:before
        content: ''
        display block
        width 35px
        height 41px
        position absolute
        background: url(../../img/all/icon-check.png) center center no-repeat
        background-size cover
        left 0%
        top 50%
        transform translateY(-50%)

    &:last-child
        margin-bottom 0

.committee-sublist__item-text
    font-size 16px
    line-height 30px
    font-family 'HelveticaNeue-Light', sans-serif
    color semiBlack
    padding-left 53px

