@import '../../common/common-stylus/vars'

.worker-card__article-list
    margin-bottom 20px
    
    .stndrt__text
        margin-bottom 5px

.worker__wishes-text

    &:first-of-type
        margin-top 10px

    &:last-of-type
        margin-bottom 10px