@import '../../common/common-stylus/vars'
@import '../../common/common-stylus/components/controlpanel'
@import '../../common/common-stylus/components/footer'

//-----------------------start geneeral styles ------------------------
.container
    flex-direction column

//-----------------------end general styles------------------------




.about-stndrt
    .stndrt__text:not(:last-of-type) 
        margin-bottom 20px
    

.worker-card__article-list
    margin-bottom 20px
    list-style-type disc
    padding-left 15px

    .worker-card__article-list--item
        color semiBlue

        .stndrt__text
            margin-bottom 5px

.worker__wishes-text

    &:first-of-type
        margin-top 10px

    &:last-of-type
        margin-bottom 10px