@import '../../common/common-stylus/vars'

//-------------------------------------------preview-------------------------------------------
.intro
	margin: 20px 20px 0
	.container 
		max-width 1880px
		width: 100%
		flex-direction column
		justify-content space-between
		align-items center



.intro__slide-item
	background: url('../img/main/introbg.jpg')
	background-size cover
	background-repeat no-repeat
	position relative
	display none

	&:first-child
		display block

	&:before 
		content ''
		display block
		width 550px
		height 415px
		position absolute
		left 0 
		top 0
		background url('../img/main/sota-left.png')
		background-repeat no-repeat
		background-size: cover !important

	&:after
		content ''
		display block
		width 601px
		height 426px
		position absolute
		bottom 0
		right 0
		background url('../img/main/sota-right.png')
		background-repeat no-repeat
		background-size cover !important

.slick-initialized
	.intro__slide-item
		display block

.intro__event 
	width 100%
	display flex
	flex-direction column
	align-items center
	position relative
	padding-top 5px

	&:before 
		content ''
		display block
		width 180px
		height 131px
		background url('../img/all/logo.png') no-repeat
		position absolute
		top 60px
		left 200px
		margin-bottom 120px
		background-size cover

		@media screen and (max-width 1600px) {
			right: 75%
		}

		@media screen and (max-width 1280px) {
			display block
			position relative
			top 40px 
			right 0%
		}

		@media screen and (max-width 700px) {
			width 179px
			height 131px
		}


	.intro-logo
		display none

		@media screen and (max-width: 1280px) {
			display block
			width 261px
			height 191px
			margin 42px 0 120px 0
		}

.intro-title 
	text-transform uppercase
	font-size 62px
	color whiteColor
	text-align center
	position relative
	font-family 'Helvetica-Bold'
	font-weight 700

	@media screen and (max-width: 700px) {
		font-size 30px
		margin 0 30px 0 30px
	}

.intro-subtitle 
	color #fcdab0
	font-size 38px
	font-family 'HelveticaNeue-Bold'
	line-height 72px
	margin 20px 0 30px 0	
	width 100%
	text-align center

	@media screen and (max-width: 1280px) {
		margin 30px 0
	}

	@media screen and (max-width: 700px) {
		font-size 24px
		letter-spacing 1.2px
		line-height 36px
		margin 15px 0
	}

.main-about.container.index
	padding-top: 40px
	padding-bottom 0

	.heading.about__article-title--wrap
		.separator
			margin-bottom 20px
	


.intro-bottomtitle 
	color whiteColor
	font-size 50px
	font-weight 700 
	font-family 'HelveticaNeue-Bold'
	text-align center
	line-height 1.2
	z-index: 1

	@media screen and (max-width: 700px) {
		font-size 24px
		letter-spacing 1.2px
		width 250px
		margin: 0 40px
	}

.intro-place-wrap
	margin 20px 0
	align-self flex-start
	position relative
	height 60px
	width 500px
	background-color #2b3384
	display flex
	justify-content flex-end
	align-items center

	@media screen and (max-width: 1280px) {
		width 75%
	}

	&:after
		content ''
		position absolute
		display block
		width 50px
		height 99%
		top 0 
		right 0
		background #2b3384
		transform-origin bottom left
		transform skew(-30deg, 0deg)
	
		@media screen and (max-width: 700px) {
			width 100px
		}
	
	&:before
		content ''
		display: block
		width 100%
		position absolute
		bottom: 50%
		height: 65px
		background-image: url('../img/main/shadow.png')
		background-repeat: no-repeat
		background-size cover
		left 0px
		overflow-x hidden



.intro__place 
	color #e1e1eb
	text-transform uppercase
	align-self center
	background-color semiViolet
	font-family 'Helvetica-Bold'
	font-size 20px 
	font-weight 500
	letter-spacing 1px
	position relative
	margin 0
	text-align right
	z-index 99
	width: 100%

	@media screen and (max-width: 1280px) {
		padding 15px 25px 15px 54px
	}

	@media screen and (max-width: 700px) {
		text-align left
		font-size 18px
		letter-spacing 0.9px
		line-height 1.5
		padding 5px 10px 5px 20px
	}
		
.intro-dots
	position relative
	bottom 50px
	display flex	
	width 100%
	padding 0
	list-style none
	text-align center
	justify-content center

.intro-dots 
	li
		position relative
		height 10px
		padding 0
		cursor pointer

		&:before
			content ''
			display block
			width 19px
			height 18px
			background url('../img/all/intro-dots.png') no-repeat

		&:hover
			cursor pointer

		&:nth-child(odd)
			top 9px

		&:nth-child(1), &:nth-child(3), &:nth-child(5)
			top 9px

		button
			background-color transparent
			font-size 10px
			color transparent

	.slick-active
		&:before
			content ''
			display block
			width 19px
			height 18px
			background url('../img/all/intro-dots-actv.png') no-repeat


//--------------------------------------------main-about---------------------------------------
.about__article-wrap
	max-width 730px
	width 100%
	margin-right 60px
	display flex
	flex-direction column

	@media screen and (max-width: 1280px) {
		max-width none
		margin 0
	}

	@media screen and (max-width: 510px) {
		text-align center
		align-items center
	}

	.separator
		@media screen and (max-width: 510px) {
			justify-content center
		}

		&:after
			@media screen and (max-width: 510px) {
				width 100%
			}

.about__article-subtitle
	margin-bottom 20px

.about__article-text-wrap
	@media screen and (max-width: 1280px) {
		padding-right 20px
	}

	@media screen and (max-width: 510px) {
		padding 0
	}

.about__article-btn-link
	margin-top 45px
	

.calendar
	max-width 440px
	width 100%

	@media screen and (max-width: 1280px) {
		max-width none
	}


.calendar__title-wrap 

	@media screen and (max-width: 1280px) {
		margin-top 80px
	}

	@media screen and (max-width 510px) {
		margin-top 60px
	}

//------------------------------------main-forum-------------------------------------

////*! start general style for this block
	
	// .heading__subtitle


.forum-subtitle
	width 100%
	color whiteColor
	text-transform uppercase
	font-family 'HelveticaNeue-Bold'
	font-size 14px


.forum-text
	font-size 14px
	color whiteColor 
	font-family 'HelveticaNeue-Light'
	text-transform none

////*! end general style for this block

.forum__wrap
	display flex
	padding-top 100px
	
	@media screen and (max-width: 1280px) {
		flex-direction column
	}
		
		
.forum__media
	max-width 35%
	width 100%
	position relative
	background url('../img/main/main-forum.jpg')
	background-size cover
	background-position center

	@media screen and (max-width: 1280px) {
		max-width none
		width 100%
		height 450px
		background-size cover
		display flex
		align-items flex-end
		justify-content center
	}

	&:before
		content ''
		display block
		background url('../img/main/main-forum-bg-line.jpg') repeat round
		background-repeat round
		width 10px
		height 100%
		top 0
		right 10px
		position absolute

		@media screen and (max-width: 1280px) {
			display none
		}

.forum__media
	.video
		position absolute
		top 70px
		left 320px

		@media screen and (max-width: 1680px) {
			left 180px
		}

		@media screen and (max-width: 1500px) {
			left 120px
		}	

		@media screen and (max-width: 1400px) {
			left 80px
		}		

		@media screen and (max-width: 1400px) {
			left 50px
		}

		@media screen and (max-width: 1280px) {
			left initial 
			top 100px
			position relative
		}

		@media screen and (max-width: 500px) {
			max-width 275px
			max-height 153px
			border 5px solid whiteColor
			}
		

.forum__info--wrap
	background url('../img/main/main-forum-bg.jpg')
	background-size cover
	background-repeat round
	max-width 65%
	width 100%
	padding 80px 0 60px 165px

	@media screen and (max-width: 1680px) {
		padding 80px 0 60px 100px
		background-repeat round
	}

	@media screen and (max-width: 1500px) {
		padding 80px 0 60px 80px
	}		

	@media screen and (max-width: 1400px) {
		padding 80px 0 60px 60px
	}

	@media screen and (max-width: 1280px) {
		max-width none
		width 100%
		padding 160px 60px 80px 60px
		background-repeat round
	}

	@media screen and (max-width: 1150px) {
		padding 160px 40px 80px 0px
		display flex
		justify-content center
	}

	@media screen and (max-width: 600px) {
		background: url('../img/main/main-forum-bg-mob.jpg')
		background-repeat round
	}

.forum__info
	max-width 850px
	width 100%
	box-sizing border-box
	padding 0 15px

	@media screen and (max-width: 1280px) {
		max-width 1100px
	}

	@media screen and (max-width: 1150px) {
		max-width 900px
	}

	@media screen and (max-width: 850px) {
		padding 0 30px
	}

	@media screen and (max-width: 500px) {
		padding 0 20px
	}

.forum__heading
	h1
		margin-bottom 40px
		font-size 36px
		display flex
		flex-direction column
		width 100%
		letter-spacing 1.8px
		color whiteColor
		text-transform none
		font-family 'HelveticaNeue-Bold'

		@media screen and (max-width: 1280px) {
			text-align center
		}

		@media screen and (max-width: 500px) {
			margin: 0 0 80px 0
		}

// 
// 
///////// start .forum__timeplace-list
//
//

.forum__timeplace-list
	display flex
	align-items center

	@media screen and (max-width: 920px) {
		flex-direction column
		align-items flex-start
	}



.forum__timeplace-list--item
	display flex
	align-items center
	justify-content flex-start
	width 30%
	margin-bottom 25px
	position relative

	@media screen and (max-width: 920px){
		width 100%
	}

	@media screen and (max-width: 500px){
		flex-direction column
		margin-bottom 18px
	}

	&:nth-child(3)
		width 40%

		@media screen and (max-width: 920px){
			width 100%
		}



	&:before
		content ''
		display block
		width 63px
		height 58px
		margin-right 10px
		right 50%
		top -50%

		@media screen and (max-width: 500px){
			margin 0
		}
	
	&:nth-child(1):before
		background: url('../img/main/icon-date.png') no-repeat;

	&:nth-child(2):before
		background: url('../img/main/icon-time.png') no-repeat;

	&:nth-child(3):before
		background: url('../img/main/icon-gps.png') no-repeat;


.timeplace__text-wrap
	position relative
	max-width 200px
	font-family 'HelveticaNeue-Light'

	@media screen and (max-width: 920px) {
		max-width none
	}

	@media screen and (max-width: 500px){
		max-width: none
		width 100%
		text-align center
		display flex
		flex-direction column
		align-items center
	}

	.forum-text
		@media screen and (max-width: 500px){
			width 40%
		}

// 
// 
///////// end forum__timeplace-list
//
//

// 
// 
//////// start forum__main-list
//
//

.forum__main-list
	margin 0 0 60px 60px

	@media screen and (max-width: 920px) {
		margin 0 60px 60px 60px
	}

	@media screen and (max-width: 500px) {
		margin: 0 0 60px 0
	}

.forum__main-list-item
	position relative
	padding-left 10px

	@media screen and (max-width: 500px) {
		display flex
		flex-direction column
		justify-content center
		align-items center
		padding 0
	}

	&:not(:last-child)
		margin-bottom 50px

		@media screen and (max-width: 500px) {
			margin-bottom 18px
		}
	
	&:before
		content ''
		position absolute
		display block
		right 100%
		width 62px
		height 58px
		transform translateY(-50%)

		@media screen and (max-width: 500px) {
			position static
			right initial 
			transform none
		}

	&:nth-child(1):before
		background url('../img/main/icon-format.png') no-repeat
		top 25%

		// @media screen and (max-width: 500px) {
		// 	top -40%
		// }
	
	&:nth-child(2):before
		background url('../img/main/icon-info.png') no-repeat
		top 16%

		// @media screen and (max-width: 500px) {
		// 	top -25%
		// }

	&:nth-child(3):before
		background url('../img/main/icon-speaker.png') no-repeat
		top 50%

		// @media screen and (max-width: 500px) {
		// 	top -70%
		// }

	&:nth-child(4):before
		background url('../img/main/icon-tel.png') no-repeat
		top 35%

		// @media screen and (max-width: 500px) {
		// 	top -50%
		// }

.forummain__item-text
	@media screen and (max-width: 500px) {
		text-align center
	}	

	.forum-subtitle
		margin-bottom 10px

.forummain__item-text--subtitle:not(&:last-child)
	margin-bottom 10px		

.forummain__item-sublist 
	margin-top 10px

	@media screen and (max-width: 500px) {
		text-align left
	}	

	.forummain__item-sublist--item
		margin 0 0 10px 25px
		padding-left 5px
		position relative

		&:before
			position absolute
			content '-'
			right 100%
			color #fff
			bottom 0%
			

// 
// 
//////// start btn-group
//
//
.forum__info--wrap
	.btn-group
		display flex

		@media screen and (max-width: 1280px) {
			justify-content center
		}

		@media screen and (max-width: 600px) {
			flex-direction column
		}

	.btn-xl
		line-height 70px
		height 70px

		&:hover
			background-color semiPurple

		@media screen and (max-width: 600px) {
			max-width none
			width 100%
		}
		
	.btn-s
		line-height 66px
		height 70px
		margin-left 40px

		@media screen and (max-width: 600px) {
			margin 10px 0 0 0
			max-width none
			width 100%
		}

// 
// 
//////// start btn-group
//
//

//-------------------------------------general-partners-------------------------------------



//----------------------------------------------------main-vote--------------------------------------------

.text
	color semiBlack
	
	p
		font-weight 300
		font-family 'HelveticaNeue-Roman'

// 		@media screen and (max-width: 1280px) {
// 			max-width none
// 		}
		
				
.main-vote
	display flex
	justify-content space-between
	margin-bottom 100px

	@media screen and (max-width: 1280px) {
		flex-direction column
		padding 0 35px
	}

	.voting
		max-width 440px
		width 100%
	
		@media screen and (max-width: 1280px) {
			max-width none
			margin-bottom 80px
		}

		.btn-xl
			border 2px solid themeColor
			line-height 76px
			
			@media screen and (max-width: 1280px) {
				max-width none
				width 100%
			}
	
	.appeal__wrap
		max-width 730px
		width 100%
		margin-left 50px
		
		@media screen and (max-width: 1280px) {
			max-width none
			margin-left 0
			}


//------------------------------------Event-block-----------------------------------------------

.blog
	@media screen and (max-width: 1360px) {
		flex-direction column
		align-items center
		margin 80px auto
		padding 0 40px
	}

	@media screen and (max-width: 510px) {
		padding 0 20px
		margin 40px auto
	}

.event
	display flex
	flex-direction column
	max-width 550px
	width 100%
	margin-left 20px

	@media screen and (max-width: 1360px) {
		margin 80px 0 0 0
		max-width none
	}

.event-entry__btn-group
	max-width 550px
	width 100%

	@media screen and (max-width: 1360px) {
		justify-content flex-start
	}

//-------------------------------------News-block---------------------------------------
.news
	max-width 550px
	width 100%
	margin-right 20px
	position relative
	
	@media screen and (max-width: 1360px) {
		margin-right 0
		max-width none
	}

	&:before
		content ''
		display block
		width 1px
		height 100%
		position absolute
		margin-left 85px
		left 100%
		background-color #CCCCCC

		@media screen and (max-width: 1360px) {
			display none
		}

.news-entry__btn-group 
	@media screen and (max-width: 1360px) {
		justify-content flex-start
	}

//--------------------------------------------------------------sliders-----------------------------------------------
.tpc-slider
	background-color semiGray

.event-link
	width 100%
	padding 80px 30px
	display flex
	justify-content center
	max-width 1920px
	width 100%
	box-sizing border-box
	margin 0 auto
	display flex
	flex-direction column
	margin auto

.event-link__slider-js
	width 100%
	max-width 1880px
	display flex
	flex-direction column
	justify-content center
	overflow hidden
	margin: 0 auto
	

.event-link__slide
	width 215px
	width 100%
	height 310px
	height 100%
	padding 0 10px

.event-link__slide--link
	width 100%
	height 100%
	display block

	img
		width 100%
		height 100%
		object-fit cover

.overlay-main
	background-color rgba(40, 40, 40, 0.8)
	width 100%
	height 100%
	z-index 100
	position fixed
	left 0
	top 0
	display none
	

.reg-wrap
	box-sizing border-box
	max-width 620px
	width 100%
	max-height 600px
	height 100%
	position fixed
	z-index 102
	top 50%
	left 50%
	transform: translate(-50%, -50%)
	background-color whiteColor
	padding 70px 70px 50px 70px
	display none

.reg-close
	position absolute
	right 10px
	top 10px
	width 30px
	height 30px
	display block
	background url('../img/main/close.jpg') center center no-repeat
	background-size cover
	z-index 103

	&:hover
		cursor pointer

	.separator
		margin-top 10px
		margin-bottom 220px

.reg-title
	font-size 30px

.reg-subtitle
	font-size 20px
	font-family 'HelveticaNeue-Roman', sans-serif
	color semiPurple
	margin-bottom 30px


.reg-form
	display flex
	flex-direction column

.reg-checkbox__wrap
	display flex
	align-items flex-start
	position relative

.reg-checkbox__input
	appearance none
	margin 0
	width 23px
	height 20px
	box-sizing border-box
	position relative
	z-index 3

.reg-checkbox__input-wrap
	width 23px
	height 23px
	position relative

.reg-checkbox__input-checkmark
	position absolute
	display inline-block
	width 23px
	height 23px
	left 0
	top 0
	transform translateY(25%)
	
	&:after
		display block
		content ''
		width 23px
		height 20px
		background url('../img/all/dots.png') no-repeat
		position absolute
		top 50%
		transform translateY(-50%)
		z-index: 1

.reg-checkbox__input-wrap input:checked ~ .reg-checkbox__input-checkmark:after
	background url('../img/all/dots-active.png') no-repeat

.reg-checkbox__descr
	margin-left 15px
	margin-bottom 20px
	font-family 'Helvetica-Regular', sans-serif
	font-size 24px
	line-height 30px

.reg-submit
	margin-top 30px
	box-sizing border-box
	height 80px
	text-transform uppercase
	font-size 16px
	font-family 'HelveticaNeue-Bold', sans-serif
	color semiPurple
	background-color white
	border: 2px solid semiPurple
	transition: .2s all ease-in-out
	letter-spacing: .1em

	&:hover
		background-color #5073b6
		color #fff
		border 2px solid #5073b6

tr, td
	max-width 62px
// calendar style
.fc-toolbar.fc-header-toolbar
	background-color #2d3484
	color: #ffffff
	display flex
	flex-direction column-reverse
	position relative
	min-height: 130px
	height 100%
	justify-content space-between
	align-items center
	margin-bottom 1px

.fc-view-container
	.fc-head
		margin-bottom 1px
.fc-left
	.fc-button-group
		height 30px
		display flex
		justify-content space-between

		.fc-button.fc-state-default
			background-color: #94bee7
			height 30px
			font-family 'HelveticaNeue-Bold', sans-serif
			font-size 14px
			color #2d3484
			text-transform uppercase
			width calc(50% - 40px)
			position relative
		
			&:before
				content ''
				display block
				position absolute
				top 0%
				width 40px
				height 30px
				background-color: #5c77b3
				background-repeat: no-repeat
				background-position: center center 

		.fc-corner-left.fc-prev-button
			margin-left auto

			&:before
				left -40px
				background-image: url('../img/all/left.png')

		.fc-corner-right.fc-next-button
			margin-right auto

			&:before
				width 41px
				right -41px
				background-image url('../img/all/right.png')

// .fc-prev-button.fc-button.fc-state-default.fc-corner-left
// 	width 7px
// 	height 12px

.fc-day-grid.fc-unselectable
	font-family 'HelveticaNeue-Light', sans-serif

.fc-content-skeleton > table > thead
	height 100%

.fc-left > .fc-button-group,
.fc-left
	width 100%

// .fc-body
// 	.fc-widget-content
// 		.fc-content-skeleton
// 			table
// 				tr
// 					td
// 						&:last-of-type
// 							border-right 0

// hide another button
.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled,
.fc-right
	display none

// end hide another btn
.fc th,
.fc td,
.fc hr,
.fc thead,
.fc tbody,
.fc-row
	background-color whiteColor

.fc-center > h2
	font-family 'Helvetica-Bold', sans-serif
	font-size 30px
	line-height 30px
	color: #ffffff

.fc-day-header.fc-widget-header
	font-family 'HelveticaNeue-Light', sans-serif
	font-size 14px
	color #343537
	background-color #dbe0ea
	box-sizing border-box
	height 30px
	vertical-align: middle
	// border-right 1px solid whiteColor
	// border-bottom 1px solid whiteColor
	width 62px

.fc-day-header.fc-widget-header.fc-sat,
.fc-day-header.fc-widget-header.fc-sun
	background-color #a5aec1

.fc-day-top
	vertical-align: middle
	text-align center
	height 62px
	border 1px solid #dbe0ea
	max-width 62px
	box-sizing: content-box
	word-break break-all

	span
		margin 0 auto

.fc-day-number
	font-size 24px
	line-height 24px
	


// start style calendar - today
.fc-today
	border 2px solid #d64848 !important
	background-color: #ffffff
	font-family 'HelveticaNeue-Bold', sans-serif

.fc-today >	.fc-day-number
	color: #d64848

// end style for today
tr > .fc-other-month.fc-past,
.fc-day-top.fc-other-month.fc-future
	background-color:  #dbe0ea
	color: #ffffff
	border 1px solid #ffffff
	border-top-color #dbe0ea
	border-bottom-color #dbe0ea


.fc-day-top.fc-sat.fc-past,
.fc-day-top.fc-sun.fc-past
	background-color #f1f3f7

.fc-day-header.fc-widget-header.fc-sun
	border-right 0px !important
	margin-right 0px !important
