@import '../../common/common-stylus/vars'

//-------------------------------------------preview-------------------------------------------
.intro-slider
	.container 
		max-width 1880px
		width: 100%
		flex-direction column
		justify-content space-between
		align-items center



.intro__slide-item
	background: url('../img/main/introbg.jpg')
	background-size cover
	background-repeat no-repeat
	position relative
	display none
	overflow: hidden

	&:first-child
		display block

	&:before 
		content ''
		display block
		width 550px
		height 415px
		position absolute
		left 0 
		top 0
		background url('../img/main/sota-left.png')
		background-repeat no-repeat
		background-size: cover !important

		@media screen and (max-width 767px)
			display none

	&:after
		content ''
		display block
		width 601px
		height 426px
		position absolute
		bottom 0
		right 0
		background url('../img/main/sota-right.png')
		background-repeat no-repeat
		background-size cover !important
		opacity 0.6

		@media screen and (max-width 767px)
			width 200px
			height 200px
			opacity 0.3


// .slick-initialized
// 	.intro__slide-item
// 		display block
// 		overflow: hidden
// 		min-height: 550px
// 		height: 100%

// .intro.index
// 	overflow: hidden
// 	min-height: 550px
// 	height: 100%
//--------------------------------------------main-about---------------------------------------
.about__article-wrap
	max-width 730px
	width 100%
	margin-right 60px
	display flex
	flex-direction column

	@media screen and (max-width: 1280px) {
		max-width none
		margin 0
	}

	@media screen and (max-width: 510px) {
		text-align center
		align-items center
	}

	.separator
		@media screen and (max-width: 510px) {
			justify-content center
		}

		&:after
			@media screen and (max-width: 510px) {
				width 100%
			}

.about__article-subtitle
	margin-bottom 20px

.about__article-text-wrap
	@media screen and (max-width: 1280px) {
		padding-right 20px
	}

	@media screen and (max-width: 510px) {
		padding 0
	}

.about__article-btn-link
	margin-top auto
	

.calendar
	max-width 440px
	width 100%

	@media screen and (max-width: 1280px)
		max-width none
		
		.fc.fc-unthemed.fc-ltr
			max-width 440px !important
			margin 0 auto

	


.calendar__title-wrap 

	@media screen and (max-width: 1280px) {
		margin-top 80px
	}

	@media screen and (max-width 510px) {
		margin-top 60px
	}

//------------------------------------main-forum-------------------------------------

////*! start general style for this block
	
	// .heading__subtitle


.forum-subtitle
	width 100%
	color whiteColor
	text-transform uppercase
	font-family 'HelveticaNeue-Bold'
	font-size 14px


.forum-text
	font-size 14px
	color whiteColor 
	font-family 'HelveticaNeue-Light'
	text-transform none

////*! end general style for this block

.forum__wrap
	display flex
	padding-top 100px
	
	@media screen and (max-width: 1280px) {
		flex-direction column
		padding-top 80px
	}

	@media screen and (max-width 767px){
		padding-top: 40px
	}
		
		
.forum__media
	max-width 35%
	width 100%
	position relative
	background url('../img/main/main-forum.jpg')
	background-size cover
	background-position center

	@media screen and (max-width: 1280px) {
		max-width none
		width 100%
		height 450px
		background-size cover
		display flex
		align-items flex-end
		justify-content center
	}

	&:before
		content ''
		display block
		background url('../img/main/main-forum-bg-line.jpg') repeat round
		background-repeat round
		width 10px
		height 100%
		top 0
		right 10px
		position absolute

		@media screen and (max-width: 1280px) {
			display none
		}

.forum__media
	.video
		position absolute
		top 70px
		left 320px

		@media screen and (max-width: 1680px) {
			left 180px
		}

		@media screen and (max-width: 1500px) {
			left 120px
		}	

		@media screen and (max-width: 1400px) {
			left 80px
		}		

		@media screen and (max-width: 1400px) {
			left 50px
		}

		@media screen and (max-width: 1280px) {
			left initial 
			top 100px
			position relative
		}

		@media screen and (max-width: 500px) {
			max-width 275px
			max-height 153px
			border 5px solid whiteColor
			}
		

.forum__info--wrap
	background url('../img/main/main-forum-bg.jpg')
	background-size cover
	background-repeat round
	max-width 65%
	width 100%
	padding 80px 0 60px 165px

	@media screen and (max-width: 1680px) {
		padding 80px 0 60px 100px
		background-repeat round
	}

	@media screen and (max-width: 1500px) {
		padding 80px 0 60px 80px
	}		

	@media screen and (max-width: 1400px) {
		padding 80px 0 60px 60px
	}

	@media screen and (max-width: 1280px) {
		max-width none
		width 100%
		padding 160px 60px 80px 60px
		background-repeat round
	}

	@media screen and (max-width: 1150px) {
		padding 160px 40px 80px 0px
		display flex
		justify-content center
	}

	@media screen and (max-width: 600px) {
		background: url('../img/main/main-forum-bg-mob.jpg')
		background-repeat round
	}

.forum__info
	max-width 850px
	width 100%
	box-sizing border-box
	padding 0 15px

	@media screen and (max-width: 1280px) {
		max-width 1100px
	}

	@media screen and (max-width: 1150px) {
		max-width 900px
	}

	@media screen and (max-width: 850px) {
		padding 0 30px
	}

	@media screen and (max-width: 500px) {
		padding 0 20px
	}

.forum__heading
	h1
		margin-bottom 40px
		font-size 36px
		display flex
		flex-direction column
		width 100%
		letter-spacing 1.8px
		color whiteColor
		text-transform none
		font-family 'HelveticaNeue-Bold'

		@media screen and (max-width: 1280px) {
			text-align center
		}

		@media screen and (max-width: 500px) {
			margin: 0 0 80px 0
		}

// 
// 
///////// start .forum__timeplace-list
//
//

.forum__timeplace-list
	display flex
	align-items center

	@media screen and (max-width: 920px) {
		flex-direction column
		align-items flex-start
	}



.forum__timeplace-list--item
	display flex
	align-items center
	justify-content flex-start
	width 30%
	margin-bottom 25px
	position relative

	@media screen and (max-width: 920px){
		width 100%
	}

	@media screen and (max-width: 500px){
		flex-direction column
		margin-bottom 18px
	}

	&:nth-child(3)
		width 40%

		@media screen and (max-width: 920px){
			width 100%
		}



	&:before
		content ''
		display block
		width 63px
		height 58px
		margin-right 10px
		right 50%
		top -50%

		@media screen and (max-width: 500px){
			margin 0
		}
	
	&:nth-child(1):before
		background: url('../img/main/icon-date.png') no-repeat;

	&:nth-child(2):before
		background: url('../img/main/icon-time.png') no-repeat;

	&:nth-child(3):before
		background: url('../img/main/icon-gps.png') no-repeat;


.timeplace__text-wrap
	position relative
	max-width 200px
	font-family 'HelveticaNeue-Light'

	@media screen and (max-width: 920px) {
		max-width none
	}

	@media screen and (max-width: 500px){
		max-width: none
		width 100%
		text-align center
		display flex
		flex-direction column
		align-items center
	}

	.forum-text
		@media screen and (max-width: 500px){
			width 40%
		}

// 
// 
///////// end forum__timeplace-list
//
//

// 
// 
//////// start forum__main-list
//
//

.forum__main-list
	margin 0 0 60px 60px

	@media screen and (max-width: 920px) {
		margin 0 60px 60px 60px
	}

	@media screen and (max-width: 500px) {
		margin: 0 0 60px 0
	}

.forum__main-list-item
	position relative
	padding-left 10px

	@media screen and (max-width: 500px) {
		display flex
		flex-direction column
		justify-content center
		align-items center
		padding 0
	}

	&:not(:last-child)
		margin-bottom 50px

		@media screen and (max-width: 500px) {
			margin-bottom 18px
		}
	
	&:before
		content ''
		position absolute
		display block
		right 100%
		width 62px
		height 58px
		transform translateY(-50%)

		@media screen and (max-width: 500px) {
			position static
			right initial 
			transform none
		}

	&:nth-child(1):before
		background url('../img/main/icon-format.png') no-repeat
		top 25%

		// @media screen and (max-width: 500px) {
		// 	top -40%
		// }
	
	&:nth-child(2):before
		background url('../img/main/icon-info.png') no-repeat
		top 16%

		// @media screen and (max-width: 500px) {
		// 	top -25%
		// }

	&:nth-child(3):before
		background url('../img/main/icon-speaker.png') no-repeat
		top 50%

		// @media screen and (max-width: 500px) {
		// 	top -70%
		// }

	&:nth-child(4):before
		background url('../img/main/icon-tel.png') no-repeat
		top 35%

		// @media screen and (max-width: 500px) {
		// 	top -50%
		// }

.forummain__item-text
	@media screen and (max-width: 500px) {
		text-align center
	}	

	.forum-subtitle
		margin-bottom 10px

.forummain__item-text--subtitle:not(&:last-child)
	margin-bottom 10px		

.forummain__item-sublist 
	margin-top 10px

	@media screen and (max-width: 500px) {
		text-align left
	}	

	.forummain__item-sublist--item
		margin 0 0 10px 25px
		padding-left 5px
		position relative

		&:before
			position absolute
			content '-'
			right 100%
			color #fff
			bottom 0%
			

// 
// 
//////// start btn-group
//
//
.forum__info--wrap
	.btn-group
		display flex

		@media screen and (max-width: 1280px) {
			justify-content center
		}

		@media screen and (max-width: 600px) {
			flex-direction column
		}

	.btn-xl
		line-height 70px
		height 70px

		&:hover
			background-color semiPurple

		@media screen and (max-width: 600px) {
			max-width none
			width 100%
		}
		
	.btn-s
		line-height 66px
		height 70px
		margin-left 40px

		@media screen and (max-width: 600px) {
			margin 10px 0 0 0
			max-width none
			width 100%
		}

// 
// 
//////// start btn-group
//
//

//-------------------------------------general-partners-------------------------------------



//----------------------------------------------------main-vote--------------------------------------------

.text
	color semiBlack
	
	p
		font-weight 300
		font-family 'HelveticaNeue-Roman'

// 		@media screen and (max-width: 1280px) {
// 			max-width none
// 		}
		
				
.main-vote
	display flex
	justify-content space-between
	margin-bottom 100px

	@media screen and (max-width: 1280px) {
		flex-direction column
		padding 0 35px
	}

	.voting
		max-width 440px
		width 100%
	
		@media screen and (max-width: 1280px) {
			max-width none
			margin-bottom 80px
		}

		.btn-xl
			border 2px solid #5073b6
			line-height 76px
			margin-top 50px
			
			@media screen and (max-width: 1280px) {
				max-width none
				width 100%
			}
	
	.appeal__wrap
		max-width 730px
		width 100%
		margin-left 50px
		
		@media screen and (max-width: 1280px) {
			max-width none
			margin-left 0
			}


//------------------------------------Event-block-----------------------------------------------

.blog
	@media screen and (max-width: 1360px) {
		flex-direction column
		align-items center
		margin 80px auto
		padding 0 40px
	}

	@media screen and (max-width: 510px) {
		padding 0 20px
		margin 40px auto
	}

.event
	display flex
	flex-direction column
	max-width 550px
	width 100%
	margin-left 20px

	@media screen and (max-width: 1360px) {
		margin 80px 0 0 0
		max-width none
	}

.event-entry__btn-group
	max-width 550px
	width 100%

	@media screen and (max-width: 1360px) {
		justify-content flex-start
	}

//-------------------------------------News-block---------------------------------------
.news
	max-width 550px
	width 100%
	margin-right 20px
	position relative
	
	@media screen and (max-width: 1360px) {
		margin-right 0
		max-width none
	}

	&:before
		content ''
		display block
		width 1px
		height 100%
		position absolute
		margin-left 85px
		left 100%
		background-color #CCCCCC

		@media screen and (max-width: 1360px) {
			display none
		}

.news-entry__btn-group 
	@media screen and (max-width: 1360px) {
		justify-content flex-start
	}

//--------------------------------------------------------------sliders-----------------------------------------------
// .tpc-slider
// 	background-color semiGray

.event-link
	width 100%
	padding 80px 30px
	display flex
	justify-content center
	max-width 1920px
	width 100%
	box-sizing border-box
	margin 0 auto
	display flex
	flex-direction column
	margin auto

.event-link__slider-js
	width 100%
	max-width 1880px
	display flex
	flex-direction column
	justify-content center
	overflow hidden
	margin: 0 auto
	

.event-link__slide
	width 215px
	width 100%
	height 310px
	height 100%
	padding 0 10px

.event-link__slide--link
	width 100%
	height 100%
	display block

	img
		width 100%
		height 100%
		object-fit cover

.overlay-main
	background-color rgba(40, 40, 40, 0.8)
	width 100%
	height 100%
	z-index 100
	position fixed
	left 0
	top 0
	display none
	

.reg-wrap
	box-sizing border-box
	max-width 620px
	width 100%
	max-height 600px
	height 100%
	position fixed
	z-index 102
	top 50%
	left 50%
	transform: translate(-50%, -50%)
	background-color whiteColor
	padding 70px 70px 50px 70px
	display none
	overflow scroll

	@media screen and (max-width: 767px)
		padding 10px

.reg-close
	position absolute
	right 10px
	top 10px
	width 30px
	height 30px
	display block
	background url('../img/main/close.jpg') center center no-repeat
	background-size cover
	z-index 103

	&:hover
		cursor pointer

	.separator
		margin-top 10px
		margin-bottom 220px

.reg-title
	font-size 30px

.reg-subtitle
	font-size 20px
	font-family 'HelveticaNeue-Roman', sans-serif
	color semiPurple
	margin-bottom 30px


.reg-form
	display flex
	flex-direction column

.reg-checkbox__wrap
	display flex
	align-items flex-start
	position relative

.reg-checkbox__input
	appearance none
	margin 0
	width 23px
	height 20px
	box-sizing border-box
	position relative
	z-index 3

.reg-checkbox__input-wrap
	width 23px
	height 23px
	position relative

.reg-checkbox__input-checkmark
	position absolute
	display inline-block
	width 23px
	height 23px
	left 0
	top 0
	transform translateY(25%)
	
	&:after
		display block
		content ''
		width 23px
		height 20px
		background url('../img/all/dots.png') no-repeat
		position absolute
		top 50%
		transform translateY(-50%)
		z-index: 1

.reg-checkbox__input-wrap input:checked ~ .reg-checkbox__input-checkmark:after
	background url('../img/all/dots-active.png') no-repeat

.reg-checkbox__descr
	margin-left 15px
	margin-bottom 20px
	font-family 'Helvetica-Regular', sans-serif
	font-size 24px
	line-height 30px

.reg-submit
	margin-top 30px
	box-sizing border-box
	height 80px
	text-transform uppercase
	font-size 16px
	font-family 'HelveticaNeue-Bold', sans-serif
	color semiPurple
	background-color white
	border: 2px solid semiPurple
	transition: .2s all ease-in-out
	letter-spacing: .1em

	&:hover
		background-color #5073b6
		color #fff
		border 2px solid #5073b6

