@import '../../common/common-stylus/vars'

//-----------------------start geneeral styles ------------------------
.container
    flex-direction column

//-----------------------end general styles------------------------

.congress-aau__intro-article--title
    margin-bottom 54px
    font-size 24px
    color #5073b6

.congress-aau__competence-subtitle 
    font-size 16px
    line-height 30px
    color semiPurple
    font-family 'HelveticaNeue-Bold'

//---------------------end styles for title------------------------


.congress-aau__competence, .general-partners 
    background semiGray

.congress-aau__competence-list
    margin-bottom: 40px
    
    @media screen and (max-width: 1280px){
        margin-bottom: 40px
        }

.congress-aau__exclusive-heading
    margin-top 77px

    @media screen and (max-width: 1280px){
        margin-top 50px
        }

.congress-aau__competence-list, .congress-aau__exclusive-list
    @media screen and (max-width: 1280px){
        width 100%
        }
