@import '../../common/common-stylus/vars'

//-----------------------start geneeral styles ------------------------
.container
    flex-direction column

//-----------------------end general styles------------------------

.congress-aau__intro-article
    .stndrt__text.congress-aau__intro-article--text
        @media screen and (max-width: 768px){
            font-size 14px
            text-align: justify
            letter-spacing 0px
        }

.congress-aau__intro-article--title
    margin-bottom 54px
    font-size 24px
    color #5073b6

    @media screen and (max-width: 768px){
        font-size 16px
        letter-spacing 0px
    }

.congress-aau__competence-subtitle 
    font-size 16px
    line-height 30px
    color semiPurple
    font-family 'HelveticaNeue-Bold'

    @media screen and (max-width: 768px){
        text-align center
        font-size 14px
        line-height 20px
    }

.congress-aau__competence
    .congress-aau__competence--title
        @media screen and (max-width: 768px){
            font-size 18px
            line-height 18px
        }

    .congress-aau__competence-list--item.checklist-item
        .competence-list__text
            @media screen and (max-width: 768px){
                font-size 14px
                text-align left
            }

//---------------------end styles for title------------------------


.congress-aau__competence, .general-partners 
    background semiGray

.congress-aau__competence-list
    margin-bottom: 40px
    
    @media screen and (max-width: 1280px){
        margin-bottom: 40px
        }

.congress-aau__exclusive-heading
    margin-top 77px

    @media screen and (max-width: 1280px){
        margin-top 50px
        }

.congress-aau__competence-list, .congress-aau__exclusive-list
    @media screen and (max-width: 1280px){
        width 100%
        }


.congress-aau__exclusive
    .stndrt__text.congress-aau__exclusive-article--text
        @media screen and (max-width: 768px){
            text-align left
            font-size 14px
        }

.congress-aau__exclusive--title {
    @media screen and (max-width: 768px){
        font-size 18px
        line-height 20px
    }
}

.congress-aau__exclusive-list.checklist {
    .congress-aau__exclusive-list--item.checklist-item.stndrt__text {
        @media screen and (max-width: 768px){
            text-align left
            font-size 14px    
        }
    }
}
