@import '../base'
@import '../fonts'
@import '../reset'
@import '../vars'

.control-panel
	display flex
	justify-content space-between


.control-panel-btm
	background-color #f0f2f4
	border-top 1px solid #dbe0ea

	@media screen and (max-width: 1280px) {
		flex-wrap wrap
	}	

	.panel-left
		background-color #f0f2f4

	@media screen and (max-width: 1280px) {
		padding 0
	}	
	
	.youtube, .instagram, .linkedin, .facebook, .telegram
		background-color #f0f2f4
	
	.panel-email
		background white

		@media screen and (max-width: 1600px) {
			width 400px
		}

		@media screen and (max-width: 1280px) {
			transform skewX(0deg)
			max-width 1000px
			width 100%
		}

		.search
			@media screen and (max-width: 1280px) {
				transform skewX(0deg)
			}

	.panel-btm
		display flex

		@media screen and (max-width: 1280px) {
			width 100%
			justify-content space-between
		}

			
.control-panel-btm
	.panel-left--bottom
		justify-content center
		padding-right 20px

		@media screen and (max-width:1550px) {
			justify-content flex-start
		}

		@media screen and (max-width: 729px) {
			width 100%
			max-width none
			padding 0
			justify-content center
		}

		.youtube
			@media screen and (max-width: 720px) {
				border-left none
			}
		
		.telegram
			@media screen and (max-width: 720px) {
				border-right none
			}

	.panel-right-btm
		max-width 875px
		flex 1

		@media screen and (max-width: 1280px) {
			justify-content flex-start
		}

		@media screen and (max-width: 729px) {
			display none
		}



.panel-left, .panel-right
	display flex
	align-items flex-start
	max-width 810px
	width 100%

	@media screen and (max-width: 1800px) {
		max-width 750px
	}

	@media screen and (max-width: 1650px) {
		max-width 700px
	}

	@media screen and (max-width: 1500px) {
		max-width 600px
	}

	@media screen and (max-width: 1280px) {
		max-width none
		width 50%
	}

.panel-right
	justify-content flex-end

	@media screen and (max-width: 1280px) {
		flex-wrap wrap
	}

.panel-left-top
	justify-content flex-start

	@media screen and (max-width: 1280px) {
		flex-wrap wrap
		max-width 350px
	}

.youtube, .instagram, .linkedin, .facebook, .telegram
	height 70px
	width 100%
	display flex
	justify-content center
	align-items center
	transform skewX(-30deg)
	transition 0.2s all ease-in-out
	
.panel-left-top
	.youtube, .instagram, .linkedin, .facebook, .telegram
		@media screen and (max-width: 1280px) {
			transform skewX(0deg)
		}

.panel-left-top
	.yt, .insta, .linked, .fb, .teleg
		.transform
			@media screen and (max-width: 1280px) {
				transform skewX(0deg)
			}

.youtube, .instagram, .linkedin, .facebook, .telegram
	max-width 90px
	border-bottom 1px solid #dbe0ea
	border-right 1px solid #dbe0ea
	height 69px
	background-color #FFFFFF

	@media screen and (max-width: 1500px) {
		max-width 65px
	}

.yt, .insta, .linked, .fb, .teleg
	width 100%
	height 100%
	display flex
	align-items center
	justify-content center

	.transform
		transform skewX(30deg)
		display flex
		align-items center
		justify-content center

		.yt-hover, .insta-hover, .linked-hover, .fb-hover, .telegram-hover
			display none

.youtube
	&:hover
		border-color #d64848
		background-color #d64848

		.yt
			img
				display none

			.yt-hover
				display block
				width 100%
				height 100%

.instagram
	&:hover
		border-color #e39362
		background-color #e39362

		.insta
			img
				display none

			.insta-hover
				display block
				width 100%
				height 100%

.linkedin
	&:hover
		border-color #0080c6
		background-color #0080c6

		.linked
			img
				display none

			.linked-hover
				display block
				width 100%
				height 100%

.facebook
	&:hover
		border-color #366199
		background-color #366199

		.fb
			img
				display none

			.fb-hover
				display block
				width 100%
				height 100%

.telegram
	&:hover
		border-color #1a89c0
		background-color #1a89c0

		.teleg
			img
				display none

			.telegram-hover
				display block
				width 100%
				height 100%


.panel-calendar
	max-width 355px
	background-color semiViolet
	margin-left -20px
	height 70px
	width 100%
	display flex
	justify-content center
	align-items center
	transform skewX(-30deg)
	transition 0.2s all ease-in-out

	@media screen and (max-width: 1280px) {
		order 6
		transform skewX(0deg)
	}


.calend
	width 100%
	height 100%
	display flex
	align-items center
	justify-content center
	font-size 14px
	font-family 'Helvetica-Bold'
	color #FFFFFF
	letter-spacing 0.1em
	text-transform uppercase


	.transform
		transform skewX(30deg)
		display flex
		align-items center
		justify-content center

		@media screen and (max-width: 1280px) {
			transform skewX(0deg)
		}

	img
		padding-right 15px

	&:hover
		background-color semiBlue


.panel-login
	height 70px
	width 100%
	display flex
	justify-content center
	align-items center
	transform skewX(30deg)
	transition 0.2s all ease-in-out

	@media screen and (max-width: 1280px) {
		transform skewX(0deg)
	}

.login, .registration
	width 100%
	height 100%
	display flex
	align-items center
	justify-content center
	font-size 14px
	font-family 'Helvetica-Bold'
	color #FFFFFF
	letter-spacing 0.1em
	text-transform uppercase

	.transform
		transform skewX(-30deg)
		display flex
		align-items center
		justify-content center

		@media screen and (max-width: 1280px) {
			transform skewX(0deg)
		}


.login
	&:hover
		background-color semiBlue


.registration 
	z-index 3

.panel-registration
	max-width 280px
	background-color semiPurple
	position relative	
	height 70px
	width 100%
	display flex
	justify-content center
	align-items center
	transition 0.2s all ease-in-out	

	@media screen and (max-width: 1650px) {
		max-width 240px
	}

	@media screen and (max-width: 1500px) {
		max-width 210px
	}


	&:after	
		position relative
		display block
		width 50px
		height 100%
		top 0 
		right 81%
		background semiPurple
		transform-origin bottom left
		transform skew(30deg, 0deg)
		z-index: 2
		content ''
		transition 0.2s all ease-in-out	
		cursor pointer

		@media screen and (max-width: 1280px) {
			display none
		}

	&:hover
		background-color themeColor
		

.panel-registration:hover:after 
	background-color themeColor

.panel-login
	max-width 150px
	background-color semiViolet 
	z-index 1

	@media screen and (max-width: 1500px) {
		max-width 100px
	}

	&:hover 
		background-color semiBlue

.panel-subscribe 
	display flex
	flex-direction column
	color darkCerulean
	align-items center
	padding 10px 40px 10px 0

	@media screen and (max-width: 1280px) {
		align-items flex-start	
	}
	

.panel-subscribe-title, .panel-subscribe-subtitle
	width 305px


.panel-subscribe-title
	font-weight 700
	font-family 'OpenSans-Bold'
	font-size 18px


.panel-subscribe-subtitle 
	font-weight 300
	font-family 'OpenSans-Light'
	font-size 14px

.subscribe-text
	transform skewX(-30deg)
	display flex
	align-items center
	justify-content center

	&:hover
		background-color semiPurple


.panel-btn--subscribe
	max-width 280px
	background-color semiViolet
	height 70px
	width 100%
	display flex
	justify-content center
	align-items center
	transition 0.2s all ease-in-out

	@media screen and (max-width: 540px) {
		max-width 180px
		flex-direction row-reverse
	}

	@media screen and (max-width: 370px) {
		position relative
		max-width 45%
	}


	&:after		
		position relative
		display block
		width 50px
		height 100%
		top 0 
		right 85%
		background semiViolet
		transform-origin bottom left
		transform skew(30deg, 0deg)
		z-index: 99
		content ''
		transition 0.2s all ease-in-out	
		cursor pointer

		@media screen and (max-width: 540px) {
			right 0%
			width 100px
		}

		@media screen and (max-width: 370px) {
			position absolute
			width 50px
			right 70%
		}

		@media screen and (max-width: 320px) {
			width 45px
		}


	&:hover
		background-color semiPurple



.panel-btn--subscribe:hover:after 
	background-color semiPurple

.subscribe-link
	width 100%
	height 100%
	display flex
	align-items center
	justify-content center
	font-size 14px
	font-family 'Helvetica-Bold'
	color #FFFFFF
	letter-spacing 0.1em
	text-transform uppercase

	@media screen and (max-width: 540px) {
		width 100%
		margin-right 20px
	}

	@media screen and (max-width: 540px) {
		margin-right 5px
		z-index 100
	}


// input[type="search"]::-webkit-input-placeholder
// 	color semiBlack
// 	transform skewX(-30deg)
// 	font-family 'HelveticaNeue-Light'
// 	letter-spacing 0.1em
// 	font-size 14px
// 	padding-left 35px

// input[type="search"]:-ms-input-placeholder
// 	color semiBlack
// 	transform skewX(-30deg)
// 	font-family 'HelveticaNeue-Light'
// 	letter-spacing 0.1em
// 	font-size 14px

// input[type="search"]::-ms-input-placeholder
// 	color semiBlack
// 	transform skewX(-30deg)
// 	font-family 'HelveticaNeue-Light'
// 	letter-spacing 0.1em
// 	font-size 14px

// input[type="search"]::placeholder
// 	color semiBlack
// 	transform skewX(-30deg)
// 	font-family 'HelveticaNeue-Light'
// 	letter-spacing 0.1em
// 	font-size 14px


.panel-search
	transform skewX(30deg)
	width 580px
	height 70px
	border-left 1px solid #dbe0ea
	border-bottom: 1px solid #dbe0ea

	@media screen and (max-width: 1500px) {
		width 250px
	}

	@media screen and (max-width: 1280px) {
		transform skewX(0deg)
	}

.panel-email
	transform skewX(30deg)
	width 580px
	height 70px
	border-left 1px solid #dbe0ea

.search
	width 100%
	height 100%
	display flex
	justify-content flex-end
	align-items center
	transform skewX(-30deg)

.panel-right-top
	.search	
		@media screen and (max-width: 1280px) {
			transform skewX(0deg)
		}

.submit-search
	width 100%
	height 100%
	background-color transparent

.submit-search__wrap
	position relative
	transition 0.2s all ease-in-out
	transform skewX(30deg)
	height 70px
	width 90px
	z-index 1
	height 100%
	border-left 1px solid #dbe0ea

	@media screen and (max-width: 1280px) {
		transform skewX(0deg)
	}

	&:before
		content ''
		position absolute
		display block
		background url('../../img/main/menu-search.png')
		transform skewX(-30deg)
		top 26px
		right 20px
		width 24px
		height 24px
		z-index 99
		cursor pointer

		@media screen and (max-width: 1500px) {
			right 12px
		}

		@media screen and (max-width: 1280px) {
			transform skewX(0deg)
		}
	
	&:hover
		background-color #2b3384
		border-color #2b3384

.submit-search__wrap:hover::before
	background url('../../img/main/menu-search-hover.png')

.search-input__wrap
	width 100%
	height 100%
	position relative
	display flex
	flex-direction column
	align-items flex-start
	justify-content center
	padding-left 50px

	@media screen and (max-width: 1280px) {
		padding-left 10%
	}

.search-bar
	width 80%
	display block
	transition all 0.5ms ease-in-out
	cursor text
	position relative
	bottom 10px

.input-search:focus ~ .search-bar
	padding-top 2px
	border-bottom 3px solid semiViolet
	
.input-search
	cursor text
	width 100%
	height 100%

	&:focus ~ .search-input-label
		top 5px
		color semiViolet
		font-size 12px

.search-input-label 
	font-family 'HelveticaNeue-Light'
	font-size 14px
	color semiBlack
	letter-spacing 1.4px
	position absolute
	top 30px
	transition: all 0.2s ease 
	cursor text

.menu-burger 
	display none

	img
		margin-right 26px
	
	p
		font-family Helvetica-Bold, sans-serif
		text-transform uppercase
		font-size 14px
		letter-spacing 1.4px
		color semiPurple
	
	&:after		
		position relative
		display block
		width 50px
		height 100%
		top 0 
		right 85%
		background bgHeaderColor
		transform-origin bottom left
		transform skew(30deg, 0deg)
		z-index: 99
		content ''
		transition 0.2s all ease-in-out	
		cursor pointer

	@media screen and (max-width: 1280px) {
		background-color bgHeaderColor
		max-width 295px
		width 100%
		height 70px
		display flex
		align-items center
		justify-content flex-end
		order 5
	}  

	