footer
    display flex
    flex-direction column
    align-items center
    color lightColor
    
 

.upperfooter 
    background url("../../img/main/bottombg.png") 
    width 100%
    padding 60px 0 60px 0
    
    

.bottomnav__list 
    display flex
    flex-direction column
    flex-wrap wrap
    height 360px

.bottomnav__list-item 
    margin 0
    width 270px

    &:nth-child(1)
        margin-left 321px
    
.bottomnav__list-item-img
    width 220px
    height 160px
    margin-bottom 47px


.bottomnav__list-item--title
    text-transform uppercase 
    font-weight 700
    margin-bottom 18px
    letter-spacing 0.7px
    line-height 24px
    font-family 'HelveticaNeue-Roman'
    text-align left

.bottomnav__list-item--subtitle 
    font-size 14px
    font-weight 100
    letter-spacing 0.7px
    line-height 24px
    display flex
    flex-direction column
    width 230px
    font-family 'HelveticaNeue-Roman'

    &:hover
        font-family 'Helvetica-Bold'

.bottomnav__list-item--link 
    color lightColor
    font-family 'Helvetica-Regular'
    font-size 14px
    font-weight 400px
    letter-spacing 0.4px
    line-height 30px

    &:hover 
        font-family 'Helvetica-Bold'

.bottomnav__sublist
    list-style-type disc
    margin-left 40px

.bottomnav__sublist-item--link
    color lightColor
    font-family 'Helvetica-Regular'
    font-size 14px
    font-weight 400px
    letter-spacing 0.4px
    line-height 30px
    text-transform: none

    &:hover 
        font-family 'Helvetica-Bold'    

.bottom-footer
    background-color #496bab
    box-sizing border-box
    width 100%
    margin 0
    padding 0 15px
    height 80px
    display flex
    align-items center
    justify-content space-around
    font-size 14px
    font-family 'Helvetica-Regular'
    color #fff
    line-height 1.2em
    letter-spacing 0.075em

    .copyright
        max-width 70%

    .author
        display flex
        align-items center
        max-width 30%
        line-height 1.5em

        a
            padding-left 15px
            transition all .2s ease-in-out

            &:hover
                opacity 0.6

