@import '../vars'
@import '../base'

header 
    overflow hidden

.controlpanel
    display flex
    justify-content space-between
    align-items center
    position fixed
    top 0%

.controlpanel__left 
    display flex
    flex-direction column
    margin-left 130px
    position relative
    padding-left 24px
    
    &:before 
        content ''
        display block
        width 46px
        height 40px
        position absolute
        top 0%
        right 100%
        background-image url('../../img/account/user.png')

.controlpanel__left-name 
    font-size 18px
    font-family 'HelveticaNeue-Bold'
    color semiBlack

.controlpanel__left-mail 
    font-size 14px
    font-family 'HelveticaNeue-Medium'
    color semiPurple

.controlpanel__right 
    display flex
    width 600px
    margin-right -20px

.btn__violet
    background semiViolet
    width  310px
    height 70px
    transform skewX(30deg)

.btn__violet-link 
    
    p
        font-family 'HelveticaNeue-Bold'
        font-size 14px
        color lightColor
        letter-spacing 1.4px
        margin 30px 63px
        padding 0
        transform skewX(-30deg)
    
.btn__semiViolet
    background semiPurple 
    width  310px
    height 70px
    transform skewX(30deg)

    p
        font-family 'HelveticaNeue-Bold'
        font-size 14px
        color lightColor
        letter-spacing 1.4px
        margin 30px 43px
        padding 0
        transform skewX(-30deg)


.info__descr 
    text-align justify

.menu
    position fixed
    top 0%
    left 0%
    width 15%
    height 100vh
    background url('../../img/account/menubg.jpg')
    display flex
    flex-direction column
    align-items center
    padding-top 70px

main 
    padding-left 430px
    padding-right 110px

header 
    padding-left 320px

.btn-account 
    font-size 14px
    letter-spacing 1.4px
    padding 17px 20px

.menu__logo-link--img 
    width 170px
    height 125px

.menu__logo-link 
    margin-bottom 30px

.nav__wrap 
    margin-top 60px

.nav__list-item 
    margin-bottom 35px

.nav__list-item--link
    color lightColor
    font-size 14px
    text-transform none
    font-family 'HelveticaNeue-Bold'
    letter-spacing 0.8px

.bottom-footer
    position fixed
    bottom 0%
    left 0%
    width 15%
    height 200px
    flex-direction column
    align-items center
    justify-content center