@import '../vars'
@import '../base'

header 
    overflow hidden
    padding-left 290px

.controlpanel
    display flex
    justify-content space-between
    align-items center
    background-color #f0f2f4
    position fixed
    width 100%

    @media screen and (max-width: xl) {
        padding-left 30px
        flex-direction column
    }
    
.controlpanel__left 
    display flex
    flex-direction column
    margin-left 130px
    position relative
    padding-left 24px

    &:before 
        content ''
        display block
        width 46px
        height 40px
        position absolute
        top 0%
        right 100%
        background-image url('../../img/account/user.png')
    
    @media screen and (max-width: xl) {
        order 2
        margin 10px 0 10px 225px
        width 100%
    }

.controlpanel__left-name 
    font-size 18px
    font-family 'HelveticaNeue-Bold'
    color semiBlack
    justify-content flex-end

.controlpanel__left-mail 
    font-size 14px
    font-family 'HelveticaNeue-Medium'
    color semiPurple

.controlpanel__right 
    display flex
    width 600px
    position relative
    right 250px

    @media screen and (max-width: xl) {
        order 1
        width 100%
        right 0
        height 70px
    }

.btn__violet
    background semiViolet
    width  310px
    height 70px
    transform skewX(30deg)
    transition all 0.4s ease-in-out
    display flex
    justify-content center

    &:hover
        background semiPurple

        .btn__semiViolet
            background semiViolet
    
    @media screen and (max-width: xl) {
        transform skewX(0deg)
        width  37%
        height 100%
    }

.btn__violet-link 
    display block
    margin 30px 63px    

    @media screen and (max-width: xl) {
        margin 0 23px
        display flex
        align-items center
    }

    p
        font-family 'HelveticaNeue-Bold'
        font-size 14px
        color lightColor
        letter-spacing 1.4px   
        padding 0
        transform skewX(-30deg)

        @media screen and (max-width: xl) {
        transform skewX(0deg)
       
        }
    
.btn__semiViolet
    background semiPurple 
    width  310px
    height 70px
    transition all 0.4s ease-in-out
    display flex
    justify-content center

    @media screen and (max-width: xl) {
        transform skewX(0deg)
        width  37%
        height 100%
    }

    &:hover
        background semiViolet 
    
    .btn__semiViolet-link
        display block
    
        @media screen and (max-width: xl) {
            display flex
            align-items center
            justify-content center
            width 100%
        }

    p
        font-family 'HelveticaNeue-Bold'
        font-size 14px
        color lightColor
        letter-spacing 1.4px
        margin 30px 43px
        padding 0
        width 100%

        @media screen and (max-width: xl) {
            transform skewX(0deg)
            margin 0 15px
            text-align center
        }

main 
    padding-left 375px
    padding-right 110px

    @media screen and (max-width: xl) {
        margin-top 75px
        padding 0 35px 0 375px
    }

    @media screen and (max-width: lg) {
        padding 0 35px
    }


.btn-account 
    font-size 14px
    letter-spacing 1.4px
    padding 17px 20px

.nav__wrap 
    margin-top 60px
    height 700px

.nav__list-item 
    margin-bottom 5px

.nav__list
    max-width 240px
    margin-right 25px

.nav__list-item--link
    color lightColor
    font-size 14px
    text-transform none
    font-family 'HelveticaNeue-Bold'
    letter-spacing 0.8px
    display flex
    align-items center

    .link-img 
        display block

    .link-img--hover 
        display none  

    &:hover 
        .link-img 
            display none
        
        .link-img--hover
            display block
    

    &:active 
        .link-img 
            display none
        
        .link-img--hover
            display block  

.nav__list-item--link---txt 
    margin-left 20px

.bottom-footer
    position fixed
    margin 0
    padding 0
    bottom 0%
    left 0%
    width 320px
    height 195px
    display flex
    flex-direction column
    font-size 12px
    align-items center
    justify-content flex-start

    
    
    @media screen and (max-width: lg)  {
        margin-top 220px
        width 100%
        height 100%
        position relative
        bottom 0
    }

    .copyright 
        max-width  80%
        text-align center
        width 100%
        margin-top 20px 
        height 35%
    
        @media screen and (max-width: lg) {
        width 100%
        height 50px
        margin-top 10px
        font-size 14px
        }



.responsibility 
    margin-top 10px
    margin-bottom 20px
    width 100%

    @media screen and (max-width: lg) {
        margin 0
        font-size 12.5px
    }

.developer 
    margin-top 30px
    display flex
    align-items center
    justify-content center

    @media screen and (max-width: lg) {
        margin-bottom 26px
        font-size 14px
    }
    
    img 
        margin-left 10px
        width 119px
        height 40px
        transition all 0.4s ease-in-out
        
        &:hover
            opacity 0.6

footer 
    display flex
    width 100%

// info

.info__title
    @media screen and (max-width: lg) {
        width 75%
    }

.info__descr 
    text-align justify

.menu
    position fixed
    top 0%
    left 0%
    width 320px
    background url('../../img/account/menubg.jpg')
    display flex
    flex-direction column
    align-items center
    justify-content center
    height 100vh
    
    @media screen and (max-height: 700px) {
        height 100%
        overflow scroll 
    }

    @media screen and (max-width: lg) {
        padding 0
        display none
    }

    @media screen and (max-height: 700px) {
        justify-content stretch     
    }

.menu__close
    display none

    @media screen and (max-width: lg) {
        padding 25px 67px
        display flex
        align-items center
        background semiViolet
        font-size 14px
        font-family 'Helvetica-Bold'
        letter-spacing 1.4px
        color lightColor
        text-transform uppercase
        justify-content center  
        position fixed
        top 0%
        clear both
    }

    .menu__close-img 
        width 19px
        height 19px
        margin-right 33px
     
.menu__logo-link--img 
    width 170px
    height 125px
    margin-top 70px

    @media screen and (max-height: 1000px) {
        margin-top 140px
    }

.menu__logo-link 
    margin-bottom 30px

.menu-burger
    &:hover
        cursor pointer

.separator 
    z-index -1

.menu-burger 
    display none

    p
        text-transform uppercase
        color semiPurple
        font-family 'Helvetica-Bold'
        letter-spacing 1.4px   
        font-size 14px
        width 150px
        margin 0 50px 0 25px

    img 
        width 26px
        height 18px
        

    @media screen and (max-width: lg) {
        display flex
        align-items center
        background lightColor
        padding-left 57px
    }

.overlay 
    display none
    top 0
    left 0
    background-color #fff
    opacity 0.8
    z-index 3
    position fixed
    width 100vw
    height 100vh
    overflow hidden