@import '../../common/common-stylus/vars'
@import '../../common/common-stylus/components/controlpanel'
@import '../../common/common-stylus/components/footer'

//-----------------------start geneeral styles ------------------------
.container
    flex-direction column

//-----------------------end general styles------------------------

.about-stndrt
    .intro
        .intro__subtitle
            font-size 24px
            width 80%

.worker-card__article--text---bold
    color semiViolet
    font-size 18px
    font-family 'HelveticaNeue-Bold'
    
    @media screen and (max-width: 1280px){
        margin-bottom 50px
        }
