@import '../../common/common-stylus/vars'

.worker-card__article--text---bold
    color semiViolet
    font-size 18px
    font-family 'HelveticaNeue-Bold'
    
    @media screen and (max-width: 1280px){
        margin-bottom 50px
        }

.worker__text-wrap.position
    .worker__text
        margin 20px 50px 10px
        text-transform uppercase

.worker__position 
    color #ffffff
    font-size 12px
    font-family 'HelveticaNeue-Medium', sans-serif
    text-align center