@import '../../common/common-stylus/vars'

//-----------------------start geneeral styles ------------------------
.container
    flex-direction column

//-----------------------end general styles------------------------
.gallery-main
    .tpc-slider.general-partners
        background-color: #f0f2f4

    .container
        @media screen and (max-width 1280px)
            padding 60px 35px

        @media screen and (max-width 767px)
            padding 40px 25px
    
    .defaultTitle.partners-template, h1
        @media screen and (max-width 767px)
            font-size 22px


.gallery-list, .photo__list
    display flex
    flex-wrap: wrap
    justify-content: flex-start

.gallery-list__item
    width: 30%
    display flex
    flex-direction column
    margin-bottom 60px
    margin-right 60px

    &:last-of-type
        margin-bottom 0

    &:nth-last-child(2),
    &:nth-last-child(3)
        margin-bottom 0

    &:nth-child(3n)
        margin-right 0

    @media screen and (max-width 1280px)
        width 46%
        margin-right 40px
        margin-bottom 40px

        &:nth-child(3n)
            margin-right 40px

        &:nth-child(2n)
            margin-right 0
        
        &:nth-last-child(2),
        &:nth-last-child(3)
            margin-bottom 40px
    
    @media screen and (max-width 767px)
        width 100%
        margin-right 0

        &:nth-child(3n)
            margin-right 0

.gallery-list__item-title
    font-family 'HelveticaNeue-Bold', sans-serif
    font-size 18px
    color semiViolet
    margin-bottom 20px

    @media screen and (max-width 767px)
        font-size 16px

.gallery-list__item-time
    font-family: 'HelveticaNeue-Bold', sans-serif
    font-size: 14px
    color: #fff
    line-height: 24px
    letter-spacing: .001em
    background: url('../img/all/date-blog.png') no-repeat
    position: relative
    margin-bottom: 20px
    padding-left: 22px

    &:after
        content: ''
        display: block
        height: 1px
        width: calc(100% - 110px)
        position: absolute
        top: 11px
        left: 110px
        background-color: #5073b6

.gallery-list__item-video
    border: 5px solid rgb(255, 255, 255)
    box-sizing: border-box
    max-width 380px
    width: 100%
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25)
    display: flex
    align-items: center
    justify-content: center

    @media screen and (max-width 1280px)
        max-width inherit


#pagingControls
    margin-top: 50px

    ul
        display flex
        align-items

        li, a
            font-family: 'HelveticaNeue-Bold', sans-serif
            font-size 18px
            line-height 24px
            color: semiPurple
            display flex
            align-items center
            justify-content center
        
        li
            position relative
            width 48px
            text-align center
            margin-right 15px

            &:hover
                cursor pointer

            &:before
                position absolute
                content: ''
                display block
                top: -9px
                left: 0%
                background url('../img/account/table-btn.png') center center no-repeat
                background-size: cover
                width 48px
                height 40px
                z-index -1

        .active
            color: whiteColor

            &:before
                background url('../img/account/table-btn-active.png') center center no-repeat
                z-index: -1

// photo gallery

.photo__list
    li, .gallery-list__item
        display flex
        flex-direction column
        margin-bottom 60px
        max-width 290px
        margin-right 40px
        position relative

        &:last-of-type
            margin-bottom 0

        &:nth-last-child(2),
        &:nth-last-child(3)
            margin-bottom 0
        
        &:nth-child(4n)
            margin-right 0px

    p, .photo__list-item--title
        font-family 'HelveticaNeue-Bold', sans-serif
        font-size 18px
        color semiViolet
        margin-bottom 20px

    span, .photo__list-item--time
        display block
        font-family: 'HelveticaNeue-Bold', sans-serif
        font-size: 14px
        color: #fff
        line-height: 24px
        letter-spacing: .001em
        background: url('../img/all/date-blog.png') no-repeat
        position: relative
        margin-bottom: 20px
        padding-left: 22px

        &:after
            content: ''
            display: block
            height: 1px
            width: calc(100% - 110px)
            position: absolute
            top: 11px
            left: 110px
            background-color: #5073b6

    .photo__slider-preview
        display flex
        height 290px
        width 290px
        background-repeat no-repeat
        background-size cover
        background-position center
        background-image url('../img/all/slider-img.jpg') // delete when gallery will be complete

        &:hover
            cursor pointer

    .photo__slider-content
        display none
    
    .photo__slider-wrap
        height 290px
        width 290px
        position absolute
        bottom 0px

        &:hover
            cursor pointer

.photo__slider-wrap.active
    background-image: none
    top 0%
    right 50%
    transform: translateX(50%)
    position fixed
    max-width 1060px
    width 100%
    height calc(100% - 80px)
    margin-top 40px
    margin-bottom 40px
    z-index 110
    display block
    background-color whiteColor

    .photo__slider-content
        display flex
        flex-direction column
        padding 70px
        position relative
        
        .photo__slider-close
            width 30px
            height 30px
            background-repeat no-repat
            background-position center
            background-size cover
            background-image url('../img/main/close.jpg')
            position absolute
            right 20px
            top 20px

            &:hover
                cursor pointer

        h6, .slider__header-title
            font-family: 'HelveticaNeue-Bold', sans-serif
            font-size 30px
            line-height 24px
            color #2b3384
            margin-bottom 15px

        

    .slider__preview
        height 500px
        width 100%
        margin: 30px auto 1px;
        display block
        box-sizing border-box
        position relative
        
        .slick-list.draggable
            height inherit
            width 100%

            .slick-track
                height inherit
                min-width 100%

                .slider__preview-slide,
                .slider__nav-slide.slick-slide.slick-current.slick-active
                    position relative
                    box-sizing: border-box
                    overflow hidden
                    text-align center
                    display flex
                    

                    img, .slider-img,
                    .slick-slide img
                        object-fit cover
                        vertical-align: middle
                        margin auto
                        max-width 100%
                        width 100%
                        max-height 100%
                        height auto

                        &:hover
                            cursor grab
                
        .slick-arrow
            position absolute
            top 50%
            transform translateY(-50%)
            width 15px
            height 25px
            z-index 10
        
        .prev.slick-arrow
            left -40px
            background-image: url('../img/all/prev-arrow.png')
            background-repeat: no-repeat
            background-size cover
            transition all 0.2s ease

            &:hover
                opacity 0.4
        
        .next.slick-arrow
            right -40px
            background-image: url('../img/all/next-arrow.png')
            background-repeat: no-repeat
            background-size cover
            transition all 0.2s ease

            &:hover
                opacity 0.4

    .slider__nav
        display flex
        margin-top 20px
        height 100px
        width 100%
        box-sizing border-box

        .slick-list.draggable
            width 100%
            min-height 100px    

        .slick-track
            min-height 100px
            max-height 100px
            width 100%
            transform: translate3d(0,0,0) !important
    
        .slider__nav-slide
            min-width 100px
            max-width: 100px
            min-height 100px
            max-height 100px
            margin-right 10px

            
            &:last-child
                margin-right 0

            img
                width 100%
                min-height 100px
                height 100%
                object-fit cover

.slider__preview .slick-next.slick-arrow.prev
    left -30px
    background-image: url('../img/all/prev-arrow.png')

.slider__preview .slick-prev.slick-arrow
    right -30px

.overlay-main.active
    display block