@import 'vars'

//-----------------------start geneeral styles ------------------------
.about-stndrt
    .container
        flex-direction column

        @media screen and (max-width:768px){
            padding-bottom 0
        }

//-----------------------end general styles------------------------
.about-stndrt
    h1
        @media screen and (max-width: 1280px){
            font-size 30px
            letter-spacing 1.5px
            }

.about-stndrt
    .intro
        .intro__subtitle
            font-size 24px
            width 80%

            @media screen and (max-width: 1280px){
                width 100%
                }
    
    h2
        text-transform none
        font-size 24px
        letter-spacing 1.2px
        font-weight 600

    .general-partners__title
        text-transform uppercase
        font-size 36px
        letter-spacing 1.8px

        @media screen and (max-width: 1280px){
            font-size 30px
            letter-spacing 1.5px
        }
        
        @media screen and (max-width: 768px){
            font-size 20px
            letter-spacing 0
        }
    
    .about-aau--subsliders 
        .partners-committee__title, .media-partners__title
            text-transform uppercase
            font-size 30px
            letter-spacing 1.5px

            @media screen and (max-width: 768px){
                font-size 20px
                line-height 20px
                letter-spacing 0
            }


.about-stndrt
    .stndrt__text:not(:last-of-type) 
        margin-bottom 20px

//---card worker
.worker-card-group
    display flex
    

.worker
    display flex
    flex-direction column
    width 290px
    height 500px

.worker__img-wrap
    height 400px

    img
        width 290px
        height 400px
        object-fit cover

.worker__text-wrap
    height 100px
    background url('../img/staff/bottom__bg.png')
    background-repeat round
    background-size cover

    .worker__text
        font-family 'HelveticaNeue-Black'
        font-size 18px
        letter-spacing 0.9px
        color whiteColor 
        margin 30px
        text-align: center

.board__members-list 
    .worker__text-wrap 
        .worker__company
            margin 10px 100px 0 100px
            font-size 12px
            font-family 'HelveticaNeue-Medium'
            font-weight 500
            letter-spacing 1.2px
    

.worker__wishes
    margin-top auto
    align-self flex-end
    position relative

    &:before
        content ''
        width 5px
        background-color semiPurple
        display block
        height 100%
        left 0
        position absolute

.worker__wishes-text
    margin-left 20px
    font-style italic
    letter-spacing 0.8px
    font-size 16px
    color semiPurple
    font-family 'HelveticaNeue-Bold'
    font-weight 400
    line-height 24px

.worker-card
    margin-top 45px
    display flex

    @media screen and (max-width:768px){
        flex-direction column
        align-items center
    }

.worker-card__article
    margin-left 40px
    display flex
    flex-direction column

    @media screen and (max-width: 768px){
        margin-left 0
        margin-top 40px
    }

    .worker-card__article--text.stndrt__text{
        @media screen and (max-width: 510px) {
            text-align justify
            font-size 14px
            } 
        }

.stndrt__competence-list
    list-style-type disc
    padding-left 15px

    .stndrt__competence-list--item
        color semiBlue


//////////////////////////////////////////////////////////
//
// START STYLE FOR DEPARTMENTS
// 
//////////////////////////////////////////////////////////
.departments-subtitle {
    font-family 'HelveticaNeue-Roman', sans-serif
    font-size 24px
    line-height 30px
    color semiPurple
    }
        
.intro__descr.departments-intro
    margin-top 55px
    
.departments-contancts
    color semiBlack
    font-family 'HelveticaNeue-Black', sans-serif
    font-size 16px

.departments-list
    display flex
    flex-wrap wrap
    justify-content flex-start

.departments-list__item
    max-width 290px
    max-height 520px
    height 100%
    width 100%
    display flex
    flex-direction column
    margin-right 40px
    margin-bottom 40px

    &:nth-child(4n){
        margin-right 0
    }



.departments-list__item-region
    height 60px
    width 100%
    background-color semiViolet
    display flex
    justify-content center
    align-items center

.departments-list__item:nth-child(1)
    .departments-list__item-region
        align-items flex-start

//for ARK

.departments-list__item-region--title
    font-family 'HelveticaNeue-Bold', sans-serif
    color #ffffff
    font-size 16px
    text-align center
    white-space pre-line
    width 100%
    text-transform uppercase
    height auto

.departments-list__item-img
    width 290px
    height 350px
    object-fit cover

.departments-list__item-descr
    width 100%
    height 105px
    background: url('../img/staff/bottom__bg.png') 
    background-size cover
    display flex
    flex-direction column
    align-items center
    justify-content center

.departments-list__item-descr--name
    font-size 18px
    color whiteColor
    text-transform uppercase
    font-family 'HelveticaNeue-Black', sans-serif
    white-space pre-line
    text-align center

.departments-list__item-descr--contacts
    color whiteColor 
    font-size 14px
    font-family 'HelveticaNeue-Medium'
    text-transform: none 
    margin-top 20px
    position relative
    transition all 0.5s ease
    letter-spacing: -0.5px;
    display flex
    align-items center
    width 100%

    &:hover
        color rgba(255, 255, 255, .5)

        &:before
            opacity 0.5 

    &:before
        display inline-block
        margin-right 20px
        content: ''
        width 20px
        height 14px
        background url('../img/staff/mail.png') center center no-repeat
        transition all 0.5s ease
        margin-left 20px

    
    
//////////////////////////////////////////////////////////
//
// END STYLE FOR DEPARTMENTS
// 
//////////////////////////////////////////////////////////

