h1
  font-size 72px
  line-height 1.2em
  font-family 'Helvetica-Bold'
  text-transform uppercase
  color whiteColor


h2
  font-size 60px
  line-height 1.2em
  letter-spacing 0.05em
  font-family 'Helvetica-Bold'
  color whiteColor

h3
  font-size 36px
  line-height 1.2em
  letter-spacing 0.05em
  font-family 'Helvetica-Bold'
  color #2b3384
  text-transform uppercase

h4
  font-size 24px
  line-height 30px
  letter-spacing 0.05em
  font-family 'HelveticaNeue-Roman'
  color themeColor
  margin-bottom 30px

h5
  font-size 18px
  font-family 'HelveticaNeue-Bold'
  line-height 24px
  letter-spacing 0.001em
  color #2b3384

p
  font-size 16px
  letter-spacing 0.05em

a
  font-family 'Helvetica-Bold'
  font-size 16px
  text-transform uppercase
  letter-spacing 0.1em
  color semiPurple
  transition .2s all ease-in-out


//------------------------------button------------------------------
.btn
  width 100%
  display flex
  justify-content center
  height 80px
  line-height 80px
  box-sizing border-box

.btn-xl
  max-width 440px
  background-color whiteColor
  border 2px solid semiPurple
  
  &:hover
    background-color semiPurple
    color whiteColor
    border none 

.btn-l
  max-width 330px
  background-color semiPurple
  color whiteColor
  border 2px solid semiPurple
  font-size 16px
  letter-spacing 1.6px
  font-family 'Helvetica-Bold'
  
  &:hover
    background-color transparent
    color semiPurple  
    border 2px solid semiPurple

.btn-m
  max-width 310px
  background-color transparent
  border 2px solid semiPurple
  line-height 76px

  &:hover
    background-color semiPurple
    color whiteColor
    border 2px solid semiPurple

.btn-s
  max-width 290px
  background-color transparent
  border 2px solid whiteColor
  color whiteColor
  line-height 76px

  &:hover
    background-color whiteColor
    color themeColor
    border 2px solid whiteColor


.btn-asidemenu
  max-width 240px
  background-color transparent
  border 2px solid whiteColor
  color whiteColor
  text-transform uppercase
  font-family 'Helvetica-Bold'


  &:hover
    background-color whiteColor
    color themeColor
    border 2px solid whiteColor


.btn-xs
  max-width 220px
  background-color semiPurple 
  color whiteColor
  border 2px solid semiPurple
  line-height 76px

  &:hover
    color semiPurple
    border 2px solid semiPurple
    background-color whiteColor


//-------------------------container-width----------------------------





//-----------------------------heading-blue--------------------------------

//-------------------------------------blog-entry------------------------------





