@import 'components/general-footer'
@import 'components/controlpanel'
@import 'components/footer'
@import 'components/sliders'
@import 'vars'
@import '../../pages/registration/registration'
@import '../../pages/news/news'

h2 
    color semiViolet
    font-family 'Helvetica-Bold'
    font-size 36px
    line-height 36px
    letter-spacing 1.8px
    text-transform uppercase
    
    @media screen and (max-width: 500px){
        font-size 30px
        text-align center
        }

h3
    color lightViolet
    font-size 30px
    line-height 30px
    font-family 'HelveticaNeue-Roman'
    font-weight 400
    
    @media screen and (max-width: 510px) {
        text-align center
        font-size 18px
    }

//---------------------------------about
.checklist-item
    position relative
    font-family 'HelveticaNeue-Light'
    line-height 30px
    padding-left 60px
    color: #4a4b4d
    box-sizing: border-box
    padding-bottom: 5px

    @media screen and (max-width: 768px){
        text-align left
        font-size 14px
    }

    &:before
        content ''
        display block
        background url('../img/all/icon-check.png')
        width 43px
        height 50px
        left 0
        top 0
        position absolute
        transform translateY(-25%)

.about-stndrt
    .media-partners__title, .partners-committee__title
        font-size 30px

    .subsliders
        display flex
        justify-content center
        width 100%

        @media screen and (max-width: 1280px){
            flex-direction column
            }
        
        .media-partners, .partners-committee
            max-width 600px
            width 100%
            
            @media screen and (max-width: 1280px){
                max-width none
                }

        .media-partners
            padding 0 20px

            @media screen and (max-width: 1500px){
                padding 0
                }

            .media-partners__heading
                width 625px
            
            .media-partners__wrap
                margin-left 15px
                
                @media screen and (max-width: 1280px){
                margin 0
                }

        .partners-committee
            margin-right 40px

            @media screen and (max-width: 1280px){
                margin 0
                }

 .about-stndrt
    .container
        @media screen and (max-width: 1280px) {
            padding 60px 35px
        }

.structure__text-link
    color semiViolet
    text-decoration underline
    text-transform none
    font-family 'HelveticaNeue-Bold'
    font-weight 700
    
    &:hover
        color: semiPurple


.breacrumbs__nav
    position relative
    height 40px
    text-align: center

    @media screen and (max-width: 768px){
        display none
    }

.breadcrumbs
    background-color semiGray

.breadcrumbs__list
    padding 10px 0
    display flex
    margin: 0 auto
    display inline-block

    .breadcrumbs__list-item
        padding-right 15px
        position relative
        padding-left 15px
        top 0%
        float: left

        &:after
            display block
            content ''
            width 5px
            height 5px
            background-color themeColor
            border-radius 50%
            position absolute
            right 0%
            top 50%
            transform: translateY(-50%)
        
        &:last-of-type
            &:after
                display none

    .breadcrumbs__list-item--link
        font-size 14px
        line-height 24px
        letter-spacing 1.4px
        color #2e3686
        font-family 'HelveticaNeue-Roman'
        text-transform none
        font-weight 600

    .active
        color #79797a

.subsliders
    display flex
    justify-content center
    width 100%

    .partners-committee, 
    .media-partners
        max-width: 600px
        width: 100%

        .partners-committee__title,
        .media-partners__title
            font-size: 30px

