@import 'vars'
@import 'components/general-footer'

h2 
    color semiPurple
    font-family 'HelveticaNeue-Roman'
    font-size 24px
    line-height 30px
    letter-spacing 1.8px
    font-weight: 400
    margin-bottom: 50px

.header
    overflow hidden
    width calc(100% - 320px)
    width 100%

    @media screen and (max-width: lg) {
        padding-left 0px
    }

main 
    display flex

    @media screen and (max-width: xl) {
        margin-top 145px
    }

    @media screen and (max-width: lg) {
        padding 0 35px
    }

    @media screen and (max-width: sm) {
        padding 0 20px   
    }

.controlpanel__left 
    display flex
    flex-direction column
    
    @media screen and (max-width: xl) {
        order 2
        margin 10px 0 10px 225px
        width 100%
    }

    @media screen and (max-width: sm) {
        margin 0
        flex-direction row
    }

.bottom-footer
    position fixed
    margin 0
    padding 0
    bottom 0%
    left 0%
    width 320px
    height 195px
    display flex
    flex-direction column
    font-size 12px
    align-items center
    justify-content flex-start
    z-index: 100

    @media screen and (max-width: 1280px)  {
        width 100%
        height 100%
        bottom 0
    }

    @media screen and (max-height: 850px){
        width 100%
        height 100%
        position relative
        bottom 0
    }

    @media screen and (max-height: 992px) {
        margin-left 0
        }

    .copyright 
        max-width  80%
        text-align center
        width 100%
        margin-top 20px 
        height 35%
    
        @media screen and (max-width: lg) {
            width 100%
            max-height 30px
            height 100%
            margin-top 20px
            font-size 14px
        }

        @media screen and (max-width: sm) {
            font-size 12px
        }


.menu
    max-width 320px
    width 100%
    background-image url('../../img/account/menubg.jpg')
    background-size cover
    display flex
    flex-direction column
    align-items center
    z-index 99

    @media screen and (max-width: 992px) {
        padding 0
        display none
    }

    @media screen and (max-height: 600px) {
        overflow scroll
    }

.intro
    display flex
    flex-direction column
    max-width 1580px
    width 100%

.info-wrap
    max-width 1380px
    width 100%
    margin 0 auto
    padding-top 130px

.info__title
    @media screen and (max-width: lg) {
        width 75%
    }

    @media screen and (max-width: sm) {
        width 100%
        text-align center
        font-size 30px
    }

.info__subtitle 
    @media screen and (max-width: sm) {
        text-align center
    }

.info__descr 
    text-align justify
    line-height 30px
    font-size 16px
    color semiBlack
    font-family HelveticaNeue-Light
    margin-bottom 40px

    &:nth-of-type(1)
        margin-top 40px
