@import 'vars'
@import 'components/general-footer'


//////////////////////////////////////////////////////////
//
// START GENERAL INFO FOR ACCOUNT TYPE PAGE
// 
//////////////////////////////////////////////////////////

//1280px - switch to tablet
//760px - switch to mobile

//////////////////////////////////////////////////////////
//
// END GENERAL INFO FOR ACCOUNT TYPE PAGE
// 
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
//
// START GENERAL STYLE FOR ACCOUNT TYPE PAGE
// 
//////////////////////////////////////////////////////////
body
    position relative

.subscribe-body 
    position inherit

main
    overflow hidden

    @media screen and (max-width: 1280px){
        padding-bottom: 120px
    }

h2 
    color semiPurple
    font-family 'HelveticaNeue-Roman'
    font-size 24px
    line-height 30px
    letter-spacing 1.8px
    font-weight: 400
    margin-bottom: 50px

//////////////////////////////////////////////////////////
//
// END GENERAL STYLE FOR ACCOUNT TYPE PAGE
// 
//////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////
//
// START STYLE FOR HEADER
// 
//////////////////////////////////////////////////////////

.header
    overflow hidden
    width 100%
    position relative
    left -50px //size of padding info block;

    @media screen and (max-width: 1280px) {
        left -35px
    }

.controlpanel
    display flex
    justify-content space-between
    align-items center
    background-color #f0f2f4
    position fixed
    width 100%
    max-width 1380px
    max-height 70px
    height 100%
    z-index 9

    @media screen and (max-width: 1280px) {
        flex-direction column
        max-height 100px
        background-color whiteColor
    }


.controlpanel__left 
    display flex
    flex-direction column
    
    @media screen and (max-width: 1280px) {
        order 2
        width 100%
        max-height 50px
        height 100%
    }

    @media screen and (max-width: 760px) {
        margin 0
        flex-direction row
    }

.controlpanel__left-textwrap
    position relative
    padding-left 24px
    margin-left 150px

    &:before 
        content ''
        display block
        width 46px
        height 40px
        position absolute
        top 0%
        right 100%
        background url('../img/account/user.png') center center no-repeat


        @media screen and (max-width: 1280px) {
            right inherit
            height 32px
            width 31px
            background-size 32px 28px
            top 50%
            transform translateY(-50%)
        }

    @media screen and (max-width: 1680px) {
        margin-left 90px //fixing margin for cntrlpanel-textwrap
    }

    @media screen and (max-width: 1280px) {
        background semiWhite
        width 100%
        display flex
        flex-direction column
        justify-content center
        margin-left 0
        height 50px
        padding-left 34px
    }

    @media screen and (max-width 760px) {
        background-color whiteColor
        padding-left 5px
        }

.controlpanel__left-name
    font-size 18px
    line-height 18px
    font-family 'HelveticaNeue-Bold'
    color semiBlack
    justify-content flex-end

    @media screen and (max-width: 1280px){
        padding-left 50px
        }

    @media screen and (max-width: 760px) {
        font-size 14px    
    }

.controlpanel__left-mail 
    font-size 14px
    line-height 14px
    font-family 'HelveticaNeue-Medium'
    color semiPurple


    @media screen and (max-width: 1280px){
        padding-left 50px
        }

    @media screen and (max-width: 760px) {
        font-size 13px    
    }

.controlpanel__right 
    display flex
    position fixed
    max-width 620px
    width 100%
    right 0%
    top 0%

    @media screen and (max-width: 1280px) {
        order 1
        max-width inherit
        position relative
        max-height 50px
        height 100%
    }

.btn__violet
    background semiViolet
    max-width  320px
    width 100%
    height 70px
    transform skewX(30deg)
    transition all 0.4s ease-in-out
    display flex
    justify-content center
    z-index 2

    &:hover
        background semiPurple

    
    @media screen and (max-width: 1280px) {
        transform skewX(0deg)
        max-width 33%
        height 100%
    }
    
    @media screen and (max-width 760px) {
        max-width 50%
        }

.btn__violet-link 
    display flex
    width 100%
    align-items center
    justify-content center
    text-align center

    @media screen and (max-width: 760px) {
        margin 0 14px
    }

    p
        font-family 'HelveticaNeue-Bold'
        font-size 14px
        color whiteColor
        letter-spacing 1.4px   
        padding 0
        transform skewX(-30deg)

        @media screen and (max-width: 1280px) {
        transform skewX(0deg)
        }
    
.btn__semiViolet
    background-color semiPurple 
    max-width  310px
    width 100%
    transition all 0.4s ease-in-out
    display flex
    justify-content center
    position relative

    @media screen and (max-width: 1280px) {
        height 100%
        max-width 33%
    }

    @media screen and (max-width 760px){
        max-width 50%
    }

    &:hover
        background-color semiViolet

        &:before
            background-color semiViolet

    &:before
        content ''
        width 40px
        height 100%
        display block
        position absolute
        background-color semiPurple
        left -20px
        top 0
        transform skewX(30deg)
        transition all 0.4s ease-in-out
    
    .btn__semiViolet-link
        display flex
        width 100%
        height 100%
        align-items center
    
        @media screen and (max-width: 1280px) {
            display flex
            align-items center
            justify-content center
            width 100%
        }

    p
        font-family 'HelveticaNeue-Bold'
        font-size 14px
        color whiteColor
        letter-spacing 1.4px
        padding 0
        width 100%
        text-align center
        z-index: 1

        @media screen and (max-width: 1280px) {
            text-align center
        }


.intro,.account-user
    .cntrlpnl-right-user
        max-width 700px

        @media screen and (max-width 1360px){
            justify-content flex-end
        }

        @media screen and (max-width 1280px) {
            max-width inherit
            justify-content space-between
        }

        .menu-burger
            @media screen and (max-width 1280px) {
                width 50%
            }

        .btn__semiViolet
            @media screen and (max-width 1280px) {
                width 50%
            }

            @media screen and (max-width 760px){
                width 100%
                max-width inherit
            }

        .info-user
            display flex
            flex-direction column
            align-items flex-start
            background-color inherit
            transform skewX(0deg)
            margin-left 40px
            margin-right 40px

            @media screen and (max-width 1360px){
                margin 0
            }
    
            @media screen and (max-width 1280px){
                position absolute
                align-items flex-end
                max-width 500px
                top 50px
                right 0
                padding-right 35px
            }

            @media screen and (max-width 760px){
                top 100px
                padding-right 0
                align-items center
                max-width inherit 
                width 100%
                background-color whiteColor
            }

            .user-date-entry
                font-size 14px
                text-transform underline
                text-align left
                transform skewX(0deg)
                font-family 'HelveticaNeue-Medium'

            .user-time
                font-size 18px
                text-transform none
                text-align left
                transform skewX(0deg)
                font-family 'HelveticaNeue-Bold'
                color semiPurple

                @media screen and (max-width 1280px){
                    font-size 14px
                }

                .time-number
                    font-weight 1000
                    font-size 24px

                    @media screen and (max-width 1280px){
                        font-size 18px
                    }
    

.account-user
    .info-wrap
        @media screen and (max-width 760px){
            padding-top 180px
        }



//////////////////////////////////////////////////////////
//
// END STYLE FOR HEADER
// 
//////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////
//
// START STYLE FOR MENU
//
//////////////////////////////////////////////////////////

.menu
    max-width 320px
    width 100%
    background-image url('../img/account/menubg.jpg')
    background-size cover
    display flex
    flex-direction column
    align-items center
    z-index 99

    @media screen and (max-width: 1280px) {
        padding 0
        display none
        position fixed
        top 0vw
        height 100%
    }

    @media screen and (max-height: 600px) {
        overflow scroll
    }

.btn-account 
    font-size 14px
    letter-spacing 1.4px
    padding 17px 20px


.nav__wrap 
    margin-top 60px
    height 700px

    @media screen and (max-width: 1280px) {
        display flex
        justify-content center
    }

.nav__list-item 
    margin-bottom 5px

.nav__list
    max-width 240px
    margin-right 25px

.nav__list-item--link
    color whiteColor
    font-size 14px
    text-transform none
    font-family 'HelveticaNeue-Bold'
    letter-spacing 0.8px
    display flex
    align-items center

    .link-img 
        display block
        max-width 62px
        max-height 58px
        width 100%
        height 100%

    .link-img--hover 
        display none
        max-width 62px
        max-height 58px
        width 100%
        height 100%

    &:hover 
        .link-img 
            display none
        
        .link-img--hover
            display block
    

    &:active 
        .link-img 
            display none
        
        .link-img--hover
            display block  

.nav__list-item--link---txt 
    margin-left 20px

.menu__close
    display none

    @media screen and (max-width: 1280px) {
        max-width 320px
        width 100%
        max-height 50px
        height 100%
        display flex
        align-items center
        background semiViolet
        justify-content center  
        position fixed
        top 0%
    }

    // @media screen and (max-width: 760px) {
    //     display none
    // }

    .menu__close-img 
        width 19px
        height 19px
        margin-right 33px
    
    .menu__close-txt 
        font-size 14px
        font-family 'Helvetica-Bold'
        letter-spacing 1.4px
        color whiteColor
        text-transform uppercase

        @media screen and (max-width: 319) {
            display none
        }

.menu__btn-wrap 
    @media screen and (max-width: 760px) {
        display flex
        justify-content center
        align-items center
        margin-top 10px
    }


.menu__logo-link--img 
    width 170px
    height 125px
    margin-top 70px

    @media screen and (max-width: 1280px) {
        margin-top 140px
    }


.menu__logo-link 
    margin-bottom 30px



.menu-burger-mobile 
    display none

    @media screen and (max-width: 760px) {
        display flex
        width 20%
        justify-content center
        align-items center
        background-color semiWhite
    }

    img 
        width 26px
        height 18px

.menu-burger 
    display none

    p
        text-transform uppercase
        color semiPurple
        font-family 'Helvetica-Bold'
        letter-spacing 1.4px   
        font-size 14px
        width 150px
        margin 0 50px 0 25px

    img 
        width 26px
        height 18px
        

    @media screen and (max-width: 1280px) {
        display flex
        align-items center
        background whiteColor
        max-width 34%
        width 100%
        padding-left 35px
    }

    @media screen and (max-width: 760px) {
        display none
    }
    
    &:hover
        cursor pointer



//////////////////////////////////////////////////////////
//
// END STYLE FOR MENU
// 
//////////////////////////////////////////////////////////





//////////////////////////////////////////////////////////
//
// START STYLE FOR MAIN
// 
//////////////////////////////////////////////////////////


main 
    display flex

.intro
    display flex
    flex-direction column
    max-width 1580px
    width 100%
    margin 0 auto
    align-items center
    padding-left 50px
    padding-right 50px

    @media screen and (max-width 1280px)
        padding-left 35px
        padding-right 35px

    @media screen and (max-width 760px)
        padding-left 20px
        padding-right 20px

    @media screen and (max-width 420px)
        max-width 280px

.header
    @media screen and (max-width 760px)
        left 0
        position absolute
        
.info-wrap
    max-width 1380px
    width 100%
    margin 0 10px
    padding-top 130px

    @media screen and (max-width 1280px){
        margin 0
    }

.info__title
    @media screen and (max-width: 1280px) {
        width 75%
    }

    @media screen and (max-width: 760px) {
        width 100%
        text-align center
        font-size 30px
    }

.info__subtitle 
    @media screen and (max-width: 760px) {
        text-align center
    }

.info__descr 
    text-align justify
    line-height 30px
    font-size 16px
    color semiBlack
    font-family 'HelveticaNeue-Light'
    margin-bottom 40px

    &:nth-of-type(1)
        margin-top 40px





//////////////////////////////////////////////////////////
//
// END STYLE FOR MAIN
// 
//////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////
//
// START STYLE FOR FOOTER
// 
//////////////////////////////////////////////////////////
footer 
    display flex
    width 100%

.bottom-footer
    position relative
    margin 0
    padding 0
    bottom 0%
    left 0%
    width 320px
    height 195px
    display flex
    flex-direction column
    font-size 12px
    align-items center
    justify-content flex-start
    z-index: 100
    padding-left 30px
    padding-right 30px

    @media screen and (max-width: 1280px)  {
        width 100%
        max-height 110px
        height 100%
        bottom 0
        position absolute
    }

    @media screen and (max-width: 760px) {
        max-height 155px
        padding-left 30px
        padding-right 30px
    }

    .copyright 
        max-width 100%
        text-align center
        width 100%
        margin-top 20px 
        font-size 12px
        line-height 1.2

        @media screen and (max-width: 1280px) {
            margin-top 10px
            font-size 14px
            line-height 14px
        }

        @media screen and (max-width: 760px) {
            font-size 12px
        }


.responsibility 
    margin-top 10px
    width 100%

    @media screen and (max-width: 1280px) {
        margin 0
        font-size 14px
        line-height 14px
    }

    @media screen and (max-width: 760px) {
        font-size 12px
    }

.developer 
    display flex
    align-items center
    justify-content center
    font-size 14px
    margin-top 30px
    margin-bottom 17px

    @media screen and (max-width 900px){
        margin-top 0 
        }
        
    img 
        width 119px
        height 40px
        transition all 0.4s ease-in-out
        
        &:hover
            opacity 0.6



//////////////////////////////////////////////////////////
//
// END STYLE FOR FOOTER
// 
//////////////////////////////////////////////////////////


.separator 
    z-index -1

.overlay 
    display none
    top 0
    left 0
    background-color whiteColor
    opacity 0.8
    z-index 3
    position fixed
    width 100vw
    height 100vh
    overflow hidden


//////////////////////////////////////////////////////////
//
// START STYLE INPUT
// 
//////////////////////////////////////////////////////////

.personal-info__input
    border 1px solid rgb(219, 224, 234)
    margin-top 16px
    height 60px
    max-width 620px
    width 100%
    box-sizing border-box
    padding-left 28px
    transition 0.2s all ease-in-out
    font-style normal

    &:focus
        border 2px solid semiPurple

    &:hover
        border 1px solid rgb(219, 224, 234)
    

.personal-info__form
    input[placeholder]
        font-style italic
        font-size 14px
        font-family 'HelveticaNeue-Light'
        color rgb(52, 53, 55)
        line-height: 2.571
        
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button
        -webkit-appearance none
        -moz-appearance none
        -ms-appearance none
        -o-appearance none 
        appearance none
        margin 0

    input[type=number]
        -moz-appearance:textfield
        
    select:-moz-focusring 
        color transparent
        text-shadow 0 0 0 #000

.personal-info__select-wrap
    position relative
    margin-top 10px

    &:hover
        cursor pointer

    &:after
        position absolute
        content ''
        width 0
        height 0
        border-left 4px solid transparent
        border-right 4px solid transparent
        border-top 4px solid #343537
        top 50%
        right 28px

    .personal-info__select
        background-color #f0f2f4
        height 60px
        width 100%
        padding-left 30px
        border 1px solid rgb(219, 224, 234)
        -webkit-appearance button
        -moz-appearance button
        -webkit-user-select none
        -moz-user-select none
        outline 0
        font-style italic
        font-size 14px
        font-family 'HelveticaNeue-Light'
        color rgb(52, 53, 55)
        line-height: 2.571
        position relative

        &:focus
            border 1px solid rgb(219, 224, 234)

    .personal-info__select-item
        font-style normal
        font-size 14px
        font-family 'HelveticaNeue-Light'
        color rgb(52, 53, 55)
        line-height: 2.571

.personal-info__form-submit
    height 70px
    width 100%
    text-transform uppercase
    font-size 16px
    font-family 'HelveticaNeue-Bold'
    transition all 0.4s ease-in-out
    background-color whiteColor
    border 2px solid rgb(0, 128, 198)
    color rgb(0, 128, 198)

    &:hover
        background-color #5073b6
        border 2px solid #5073b6
        color whiteColor

.personal-info__label
    display flex
    flex-direction column
    margin-bottom 30px

    .personal-info__input__date
        width 200px
    
        @media screen and (max-width:1280px){
            width 33%
        }

        &:not(:last-child)
            margin-right 10px

        &:first-child
            @media screen and (max-width 760px){
                width 29%
            }

.personal-info__title
    font-size 18px
    color semiPurple
    line-height 2
    font-family 'HelveticaNeue-Bold'

    @media screen and (max-width 760px){
        font-size 16px
    }

//////////////////////////////////////////////////////////
//
// END STYLE FOR INPUT
// 
//////////////////////////////////////////////////////////

.account-checkbox__wrap
    display flex
    flex-direction row
    align-items center
    position relative
    margin-bottom 20px

.account-checkbox__input
    appearance none
    margin 0
    width 23px
    height 20px
    box-sizing border-box
    position relative
    z-index 3

.account-checkbox__input-wrap
    width 23px
    height 23px

.account-checkbox__input-checkmark
    position absolute
    display inline-block
    width 23px
    height 23px
    left 0
    top 0
    transform translateY(25%)
    
    &:after
        display block
        content ''
        width 23px
        height 20px
        background url('../img/all/dots.png') no-repeat
        position absolute
        top 50%
        transform translateY(-50%)
        z-index: 1

.account-checkbox__input-wrap input:checked ~ .account-checkbox__input-checkmark:after
    background url('../img/all/dots-active.png') no-repeat

.account-checkbox__descr
    margin-left 5px
    font-family 'Helvetica-Regular'
    font-size 24px
    line-height 30px

    @media screen and (max-width 760px)
        font-size 16px


//////////////////////////////////////////////////////////
//
// START STYLE TABLE-PAYMOUNT
// 
//////////////////////////////////////////////////////////

.table__wrap
    max-height 710px
    height 100%

#table_id
    width 100%
    height 100%
    box-sizing border-box

#table_id_previous, #table_id_next
#table_id_info, #table_id_filter,
#table_id_length
    display none

.payment-date__title,
.payment-amount__title
    text-transform uppercase
    font-size 18px
    font-family 'HelveticaNeue-Bold', sans-serif
    color #ffffff
    letter-spacing 0.9px
    background url('../img/staff/bottom__bg.png') center top no-repeat
    background-size cover
    width 250px !important
    height 60px !important
    vertical-align middle
    text-align center
    border-right: 5px solid #ffffff
    border-bottom: 5px solid #ffffff
    box-sizing border-box

    @media screen and (max-width: 760px){
        font-size 10px
    }

.payment-date__title
    @media screen and (max-width: 1280px){
        width 220px !important 
    }

.payment-date 
    padding-right 15px
    position relative

    @media screen and (max-width: 760px){
        padding 0
    }

    &:after
        top 0
        right 0
        display block
        content ''
        position absolute
        height 100%
        width 1px
        border-right 1px solid #343537

        @media screen and (max-width: 760px){
            display none
        }

.payment-date__time 
    padding-left 15px

    @media screen and (max-width: 760px){
        padding 0
        display block
    }

.payment-amount__title
    @media screen and (max-width: 1280px){
        width 130px !important 
    }

.payment-purpose__title
    text-transform uppercase
    font-size 18px
    font-family 'HelveticaNeue-Bold', sans-serif
    color #ffffff
    letter-spacing 0.9px
    background url('../img/staff/bottom__bg.png') center top no-repeat
    background-size cover
    width 250px
    height 60px
    vertical-align middle
    text-align center
    border-bottom: 5px solid #ffffff

    @media screen and (max-width: 760px){
        font-size 10px
    }

.payment-date__wrap,
.payment-amount,
.payment-purpose
    vertical-align middle
    background-color #f0f2f4
    font-family 'HelveticaNeue-Roman', sans-serif
    font-size 16px
    color #343537
    box-sizing: border-box

    @media screen and (max-width: 760px){
        font-size 12px
    }

.payment-date__wrap,
.payment-amount 
    text-align center
    width 250px
    height 60px
    border-right: 5px solid #ffffff
    border-bottom: 5px solid #ffffff

.payment-date__wrap
    @media screen and (max-width: 1280px){
        width 220px
    }

.payment-amount
    @media screen and (max-width: 1280px){
        width 220px
    }

.payment-purpose
    text-align left
    padding-left 40px
    border-bottom: 5px solid #ffffff
    width 870px
    height 60px

    @media screen and (max-width: 760px){
        padding-left 5px
    }

#table_id_paginate
    margin-top 40px
    float left

    span
        display flex


.paginate_button.current
    color: #ffffff

    &:after
        background url('../img/account/table-btn-active.png') center center no-repeat

        @media screen and (max-width: 760px){
            background url('../img/account/table-btn-active-mob.png') center center no-repeat
        }
.paginate_button
    display flex
    justify-content center
    align-items center
    font-size 18px
    font-family 'HelveticaNeue-Bold', sans-serif
    position relative
    margin-right 12px
    width 48px
    height 40px
    z-index 2
    color #5073b6

    @media screen and (max-width: 760px){
        font-size 12px
        width 34px
        height 28px
    }

    &:after
        display block
        width 48px
        height 40px
        content ''
        top 0%
        left -1px
        position absolute
        z-index -1
        background url('../img/account/table-btn.png') center center no-repeat

        @media screen and (max-width: 760px){
            width 34px
            height 28px
            background url('../img/account/table-btn-mob.png') center center no-repeat
        }

.info-wrap.payment 
    margin-bottom 40px 

    .info__title
        @media screen and (max-width 760px){
            margin-top 40px
        }
    
    