@import 'components/general-footer'
@import 'components/controlpanel'
@import 'components/footer'
@import 'components/sliders'
@import 'vars'

h2 
    color semiViolet
    font-family 'Helvetica-Bold'
    font-size 36px
    line-height 36px
    letter-spacing 1.8px
    text-transform uppercase
    
    @media screen and (max-width: 500px){
        font-size 30px
        text-align center
        }

h3
    color lightViolet 
    letter-spacing 1.2px
    font-size 30px
    line-height 30px
    font-family 'HelveticaNeue-Roman'
    font-weight 400
    
    @media screen and (max-width: 510px) {
        text-align center
        font-size 18px
        letter-spacing 0.9px
    }
  
