
body, main
    overflow-x: hidden

button
    a
        width 100%
        height 100%

.btn__generalstyle
    display flex
    justify-content center
    box-sizing border-box
    width 100%

.btn__medium    
    max-width 330px
    height 80px
    background-color semiPurple 
    color whiteColor
    border 2px solid semiPurple
    line-height 76px

    &:hover
        color semiPurple
        border 2px solid semiPurple
        background-color whiteColor

////// Эта часть отвечает за стилизацию инпута в стиле Google Material Design

// .typical__input-wrap
//     position relative
//     display flex
//     flex-direction column
//     align-items flex-start
//     justify-content center

//     &:hover
//         cursor text

// .typical__input
//     width 100%
//     height 100%
  
// 	&:focus ~ .typical__input-bar
//         top 5px
//         color semiViolet
//         font-size 12px
    
//     &:hover
//         cursor text

// .typical__input-label
//     font-family 'HelveticaNeue-Light'
//     font-size 14px
//     color semiBlack
//     letter-spacing 1.4px
//     transition: all 0.2s ease
//     position absolute
//     top 20px

//     &:hover
//         cursor text

// .typical__input-bar
//     width 100%
//     display block
//     transition all 0.2ms ease-in-out
//     cursor text
//     bottom 10px

// .typical__input:focus ~ .typical__input-bar
//     padding-top 2px
//     border-bottom 3px solid semiViolet
	
//     &:focus ~ .typical__input-label
//         top 50px
//         color semiViolet
//         font-size 12px
//         position absolute

.heading
    @media screen and (max-width: 1280px) {
        align-self flex-start
        width 100%
    }

.separator
    margin 20px 0 40px 0
    position relative
    height 11px
    display flex
  
    &:after
        content ''
        display block
        height 1px
        width calc(100% - 20px)
        background-color themeColor
        position absolute
        top 5px
        right 0

        @media screen and (max-width: 510px) {
            width 100%
        }

    @media screen and (max-width: 510px) {
        justify-content center
    }


//////article
.stndrt__text
    font-family 'HelveticaNeue-Light'
    line-height 30px
    color semiBlack
    font-size 16px
    text-align justify
    margin-bottom 20px

    @media screen and (max-width: 510px) {
        text-align center
        line-height 22px
        font-size 16px
        margin-bottom 5px
    }

    &:not(:last-child)
        margin-bottom 40px

        @media screen and (max-width: 510px) {
            margin-bottom 20px
        }

//------------------------blog-------------------------

.blog-entry
    display flex
    margin-bottom 50px

    @media screen and (max-width: 510px) {
        flex-direction column
        justify-content center
    }

.blog-entry__wrapimage
    max-width 180px
    max-height 180px
    height 100%
    width 100%

    @media screen and (max-width: 510px) {
        margin 0 auto
    }

    img
        width 180px
        height 180px
        object-fit cover


.blog-entry__wraptext
    margin-left 40px
    @media screen and (max-width: 1280px){
        width 100%
        }

.blog-entry__wraptext
        @media screen and (max-width: 510px) {
        margin 0
        }

.blog-entry__title
    font-weight 500
    font-family 'HelveticaNeue-Bold'
    font-size 18px
    color semiViolet
    margin-bottom 15px
    line-height 24px
    padding-right 15px

    @media screen and (max-width: 510px) {
        text-align center
        width 100%
        padding 0
        margin-top 20px
    }

.blog-entry__date
    font-family 'HelveticaNeue-Bold'
    font-size 14px
    color whiteColor
    line-height 24px
    letter-spacing 0.001em
    background url('../img/all/date-blog.png') no-repeat
    position relative
    margin-bottom 20px
    padding-left 22px

    @media screen and (max-width: 510px) {
        text-align center
        background-position center
        padding 0
    }

    &:after
        content ''
        display block
        height 1px
        width calc(100% - 110px)
        position absolute
        top 11px
        left 110px
        background-color semiPurple

        @media screen and (max-width: 510px) {
            width 100%
            left 0
            z-index -1
        }

.blog-entry__preview
    font-weight 300
    font-family 'HelveticaNeue-Light'
    font-size 14px
    color semiBlack
    line-height 20px
    letter-spacing 0.025em
    margin-bottom 15px
    letter-spacing 0.35px
    padding-right 25px

    @media screen and (max-width: 510px) {
        text-align center
        padding 0
    }

.blog-entry__more
    font-family 'HelveticaNeue-Black'
    font-size 12px
    font-weight 400
    line-height 24px
    letter-spacing 0.01em
    display flex
    align-items center
    justify-content flex-end
    color semiPurple

    @media screen and (max-width: 510px) {
        justify-content center
    }

    &:after 
        display block
        content ''
        right 50%
        top 0
        width 24px
        height 20px
        background url('../img/all/read-more.png')
        margin-left 10px

    &:hover
        opacity 0.7



.blog-entry__btn-group 
    display flex
    margin-top auto
    justify-content space-between
    align-items center
    
    .btn-m
        margin-left 20px

        @media screen and (max-width: 510px) {
            margin 10px 0 0 0
        }

    @media screen and (max-width: 510px) {
        flex-direction column
    }

    a
        @media screen and (max-width: 510px) {
            max-width none
        }
    

.container
    max-width 1280px
    width 100%
    padding 60px 0 90px
    box-sizing border-box
    margin 0 auto
    display flex
    justify-content space-between

    @media screen and (max-width: 1280px) {
        flex-direction column
        align-items center
        padding 80px 35px
    }

    @media screen and (max-width: 510px) {
        padding 40px 22px
    }
 
//-------------------------------video-------------------------

.video
    max-width 420px
    width 100%
    max-height 248px
    height 100%
    border 10px solid whiteColor
    box-shadow -4.774px 5.119px 29px 0px rgba(0, 0, 0, 0.54)
    display flex
    align-items center
    justify-content center
    
    @media screen and (max-width: 500px){
        max-width: 280px;
        max-height: 160px;
        margin 0 auto
    }

    iframe 
        width 100%
        height 100%


.btn-template
    width 100%
    display flex
    justify-content center
    box-sizing border-box
    align-items center

.btn-withbg
  background-color semiPurple
  color whiteColor
  border 2px solid semiPurple
  font-family 'Helvetica-Bold'
  transition all 0.5s ease-in-out
  
  &:hover
    background-color transparent
    color semiPurple  
    border 2px solid semiPurple


.btn-withoutbg
  background-color whiteColor
  color semiPurple
  border 2px solid semiPurple
  font-family 'Helvetica-Bold'
  transition all 0.5s ease-in-out
  
  &:hover
    background-color semiPurple
    color whiteColor

.overlay-main
	background-color rgba(40, 40, 40, 0.8)
	width 100%
	height 100%
	z-index 100
	position fixed
	left 0
	top 0
	display none
	

.popup-wrap
	box-sizing border-box
    overflow-y: auto
	max-width 620px
	width 100%
	position fixed
	z-index 102
	top 50%
	left 50%
	transform: translate(-50%, -50%)
	background-color whiteColor
	padding 70px 70px 50px 70px
	display none

.popup-close
    position absolute
    right 10px
    top 10px
    width 30px
    height 30px
    display block
    background url('../img/main/close.jpg') center center no-repeat
    background-size cover
    z-index 103

    &:hover
        cursor pointer

.popup-title__wrap
    .separator
        margin-top 10px
        margin-bottom 20px

        &:before
            content: ''
            display: block
            height: 1px
            width: calc(50% - 20px)
            background-color: #0080c6
            position: absolute
            top: 5px
            left: 0

        &:after
            content: ''
            display: block
            height: 1px
            width: calc(50% - 20px)
            background-color: #0080c6
            position: absolute
            top: 5px
            right: 0

.popup-title
	font-size 30px

.popup-form 
	display flex
	flex-direction column


.popup-submit
	margin-top 30px
	box-sizing border-box
	height 70px
	text-transform uppercase
	font-size 16px
	font-family 'HelveticaNeue-Bold', sans-serif
	color semiPurple
	background-color white
	border: 2px solid semiPurple
	transition: .2s all ease-in-out
	letter-spacing: .1em

	&:hover
		background-color #5073b6
		color #fff
		border 2px solid #5073b6

.popup-lable
    display flex
    flex-direction: column
    box-sizing: border-box
    font-family 'HelveticaNeue-Bold', sans-serif
    font-size 18px
    color semiPurple
    margin: 15px 0

    &:nth-child(1)
        margin-top: 0

.popul-input
    margin-top 5px
    border: 1px solid #dbe0ea
    height: 50px
    width: 100%
    box-sizing: border-box
    padding-left: 28px
    transition: .2s all ease-in-out

    &:hover
        border: 2px solid #5073b6


.popul-input[placeholder]
    font-style: italic
    font-size: 14px
    font-family: 'HelveticaNeue-Light'
    color: #343537
    line-height: 2.571

.partners--popup-title__wrap
    text-align: center

    svg
        margin 0 auto

.partners-popup__wrap
    height: 840px
    overflow-y: auto

.popup-wrap
    height auto
    overflow: auto
