:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input {
    border-radius: 0
    -webkit-appearance none
    -webkit-border-radius 0px
}

input[type=radio]
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

body, main, html
    overflow-x: hidden

button
    a
        width 100%
        height 100%

a
    outline: none

h1
    font-size 36px
    font-family 'Helvetica-Bold', sans-serif
    text-transform: uppercase
    color semiViolet

    @media screen and (max-width 1280px)
        font-size 30px
        letter-spacing 1.5px
        text-align: center
    
    @media screen and (max-width 767px)
        font-size 22px
        letter-spacing: normal

.btn__generalstyle
    display flex
    justify-content center
    box-sizing border-box
    width 100%

.btn__medium    
    max-width 330px
    height 80px
    background-color semiPurple 
    color whiteColor
    border 2px solid semiPurple
    line-height 76px

    &:hover
        color semiPurple
        border 2px solid semiPurple
        background-color whiteColor

.heading
    width 100%

    @media screen and (max-width: 1280px) {
        align-self flex-start
    }

.separator
    margin 20px 0 40px 0
    position relative
    height 11px
    display flex
  
    &:after
        content ''
        display block
        height 1px
        width calc(100% - 20px)
        background-color themeColor
        position absolute
        top 5px
        right 0

        @media screen and (max-width: 767px) {
            width 100%
        }

    @media screen and (max-width: 767px) {
        justify-content center
        margin-top 10px
        margin-bottom 30px
    }


//////article
.stndrt__text
    font-family 'HelveticaNeue-Light'
    line-height 30px
    color semiBlack
    font-size 16px
    text-align justify
    margin-bottom 20px

    @media screen and (max-width: 767px) {
        text-align center
        line-height 22px
        font-size 16px
        margin-bottom 5px
    }

    &:not(:last-child)
        margin-bottom 40px

        @media screen and (max-width: 767px) {
            margin-bottom 20px
        }

//------------------------blog-------------------------

.blog-entry
    display flex
    margin-bottom 50px
    max-height: 230px
    justify-content: space-between

    @media screen and (max-width: 767px) {
        flex-direction column
        max-height: inherit
        justify-content center
    }

.blog-entry__wrapimage
    max-width 180px
    max-height 105px
    height 100%
    width 100%

    @media screen and (max-width: 767px){
        margin 0 auto 10px
    }

    img
        max-width 180px
        min-width 180px
        max-height inherit
        object-fit fill


.blog-entry__wraptext
    margin-left 40px
    display flex
    flex 1 1 auto
    flex-direction: column

    @media screen and (max-width: 1280px){
        width 100%
    }

.blog-entry__wraptext
        @media screen and (max-width: 510px) {
        margin 0
        }

.blog-entry__title
    font-weight 500
    font-family 'HelveticaNeue-Bold'
    font-size 18px
    color semiViolet
    margin-bottom 15px
    line-height 24px
    padding-right 15px
    overflow: hidden
    -o-text-overflow: ellipsis
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical


    @media screen and (max-width: 510px) {
        text-align center
        width 100%
        padding 0
        margin-top 20px
    }

.blog-entry__date
    font-family 'HelveticaNeue-Bold'
    font-size 14px
    color whiteColor
    line-height 24px
    letter-spacing 0.001em
    background url('../img/all/date-blog.png') no-repeat
    position relative
    margin-bottom 20px
    padding-left 22px

    @media screen and (max-width: 510px) {
        text-align center
        background-position center
        padding 0
    }

    &:after
        content ''
        display block
        height 1px
        width calc(100% - 110px)
        position absolute
        top 11px
        left 110px
        background-color semiPurple

        @media screen and (max-width: 510px) {
            width 100%
            left 0
            z-index -1
        }

.blog-entry__preview
    font-weight 300
    font-family 'HelveticaNeue-Light'
    font-size 14px
    color semiBlack
    line-height 20px
    letter-spacing 0.025em
    margin-bottom 15px
    letter-spacing 0.35px
    padding-right 25px
    max-height 60px
    text-overflow: ellipsis
    width: 100%
    overflow: hidden
    min-height: 60px
    max-height: 60px
    

    @media screen and (max-width: 510px) {
        text-align center
        padding 0
    }

.blog-entry__more
    font-family 'HelveticaNeue-Black'
    font-size 12px
    font-weight 400
    line-height 24px
    letter-spacing 0.01em
    display flex
    align-items center
    justify-content flex-end
    color semiPurple
    text-transform: uppercase
    
    @media screen and (max-width: 510px) {
        justify-content center
    }

    &:after 
        display block
        content ''
        right 50%
        top 0
        width 24px
        height 20px
        background url('../img/all/read-more.png')
        margin-left 10px

    &:hover
        opacity 0.7



.blog-entry__btn-group 
    display flex
    margin-top auto
    justify-content space-between
    align-items center
    
    .btn-m
        margin-left 20px

        @media screen and (max-width: 510px) {
            margin 10px 0 0 0
        }

    @media screen and (max-width: 510px) {
        flex-direction column
    }

    a
        @media screen and (max-width: 767px) {
            max-width none
            max-height: 60px
            height 60px
        }
    

.container
    max-width 1280px
    width 100%
    padding 60px 0 90px
    box-sizing border-box
    margin 0 auto
    display flex
    justify-content space-between

    @media screen and (max-width: 1280px) {
        flex-direction column
        align-items center
        padding 80px 35px
    }

    @media screen and (max-width: 767px) {
        padding 40px 20px
    }
 
//-------------------------------video-------------------------

.video
    max-width 420px
    width 100%
    max-height 248px
    height 100%
    border 10px solid whiteColor
    box-shadow -4.774px 5.119px 29px 0px rgba(0, 0, 0, 0.54)
    display flex
    align-items center
    justify-content center
    
    @media screen and (max-width: 500px){
        max-width: 280px;
        max-height: 160px;
        margin 0 auto
    }

    iframe 
        width 100%
        height 100%


.btn-template
    width 100%
    display flex
    justify-content center
    box-sizing border-box
    align-items center
    text-transform uppercase

    @media screen and (max-width 767px)
        height 40px
        max-width inherit
        font-size 12px

.btn-withbg
  background-color semiPurple
  color whiteColor
  border 2px solid semiPurple
  font-family 'Helvetica-Bold'
  transition all 0.5s ease-in-out
  
  &:hover
    background-color transparent
    color semiPurple  
    border 2px solid semiPurple


.btn-withoutbg
  background-color whiteColor
  color semiPurple
  border 2px solid semiPurple
  font-family 'Helvetica-Bold'
  transition all 0.5s ease-in-out
  
  &:hover
    background-color semiPurple
    color whiteColor

.overlay-main
	background-color rgba(40, 40, 40, 0.8)
	width 100%
	height 100%
	z-index 101
	position fixed
	left 0
	top 0
	display none
	

.popup-wrap
	box-sizing border-box
    overflow-y: auto
	max-width 620px
	width 100%
	position fixed
	z-index 102
	top 50%
	left 50%
	transform: translate(-50%, -50%)
	background-color whiteColor
	padding 70px 70px 50px 70px
	display none

@media screen and (max-width 1280px)
    .popup-wrap
        position: fixed

@media screen and (max-width 767px)
    .popup-wrap
        // top 10px
        // left 10px
        // transform translate(0%, 0%)
        padding: 35px 20px
        max-width inherit
        width calc(100% - 20px)
        box-sizing border-box
    
        .popup-submit,
        .popup-submit.submit-tel
            height 40px
            font-size 12px

.popup-close
    position absolute
    right 10px
    top 10px
    width 30px
    height 30px
    display block
    background url('../img/main/close.jpg') center center no-repeat
    background-size cover
    background-repeat: no-repeat
    background-position: center
    z-index 103

    @media screen and (max-width 767px)
        width 20px
        height 20px

    &:hover
        cursor pointer

.popup-title__wrap
    .separator
        margin-top 10px
        margin-bottom 20px

        &:before
            content: ''
            display: block
            height: 1px
            width: calc(50% - 20px)
            background-color: #0080c6
            position: absolute
            top: 5px
            left: 0

        &:after
            content: ''
            display: block
            height: 1px
            width: calc(50% - 20px)
            background-color: #0080c6
            position: absolute
            top: 5px
            right: 0
        
        svg
            margin 0 auto

.popup-title
	font-size 30px

.defaultTitle.popup-title
    font-size 30px
    line-height 36px
    font-size 22px
    font-family 'HelveticaNeue-Bold', sans-serif
    color semiViolet
    text-transform uppercase
    text-align center

    @media screen and (max-width 767px)
        line-height 24px
        letter-spacing normal

.popup-form 
	display flex
	flex-direction column

    .personal-info__input
        appearance none


.popup-submit
	margin-top 30px
	box-sizing border-box
	height 70px
	text-transform uppercase
	font-size 16px
	font-family 'HelveticaNeue-Bold', sans-serif
	color semiPurple
	background-color white
	border: 2px solid semiPurple
	transition: .2s all ease-in-out
	letter-spacing: .1em

	&:hover
		background-color #5073b6
		color #fff
		border 2px solid #5073b6

.popup-submit.submit-tel
    width 100%

.submit-tel__first-step, .submit-tel__second-step
    .popul-input
        margin-top 20px
        height 70px

        @media screen and (max-width 767px)
            height 40px
    
    .popup-close
        width 20px
        height 20px

.popup-lable
    display flex
    flex-direction: column
    box-sizing: border-box
    font-family 'HelveticaNeue-Bold', sans-serif
    font-size 18px
    color semiPurple
    margin: 15px 0

    &:nth-child(1)
        margin-top: 0
    
    @media screen and (max-width 767px)
        font-size 14px

.popul-input
    margin-top 5px
    border: 1px solid #dbe0ea
    height: 50px
    width: 100%
    box-sizing: border-box
    padding-left: 28px
    transition: .2s all ease-in-out

    &:hover
        border: 2px solid #5073b6
    
    @media screen and (max-width 767px)
        height 40px
        padding-left 20px


.popul-input[placeholder]
    font-style: italic
    font-size: 14px
    font-family: 'HelveticaNeue-Light'
    color: #343537
    line-height: 2.571

    @media screen and (max-width 767px)
        font-size 12px

.partners--popup-title__wrap
    text-align: center

    svg
        margin 0 auto

.partners-popup__wrap
    height: 840px
    overflow-y: auto

.popup-wrap
    height auto
    overflow-y: auto


.popup-btn__group
    display flex

.news__main
    .tpc-slider.general-partners
        background-color: #f0f2f4

.typical-label
    display: flex
    flex-direction: column
    margin-bottom: 30px
    font-size: 18px
    color: #5073b6
    line-height: 2
    font-family: 'HelveticaNeue-Bold',sans-serif
    box-sizing: border-box

    @media screen and (max-width 720px)
        font-size 14px
        margin-bottom 20px

.typical-input[placeholder]
    font-style: italic
    font-size: 14px
    font-family: 'HelveticaNeue-Light',sans-serif
    color: #343537
    line-height: 2.571

    @media screen and (max-width 720px)
        font-size 12px

.typical-input    
    border: 1px solid #dbe0ea
    margin-top: 16px
    height: 60px
    max-width: 620px
    width: 100%
    box-sizing: border-box
    padding-left: 28px
    transition: .2s all ease-in-out
    font-style: normal

    &:focus,
    &:active
        border: 2px solid #5073b6

    @media screen and (max-width 720px)
        margin-top 5px
        height 40px
        padding-left 24px

.typical-submit
    height: 70px
    max-width: 330px
    width: 100%
    text-transform: uppercase
    font-size: 16px
    font-family: 'Helvetica-Bold', sans-serif
    transition: all .4s ease-in-out
    background-color: semiPurple
    border: 2px solid semiPurple
    color: whiteColor
    box-sizing: border-box
    z-index 10

    &:hover
        background-color: whiteColor
        color: semiPurple
        border 2px solid semiPurple

    @media screen and (max-width 720px)
        height 40px
        font-size 12px
        max-width: inherit

.checkmark-label
    display flex
    flex-direction: row-reverse
    justify-content: flex-end
    align-items flex-start
    font-family 'Helvetica-Regular', sans-serif
    font-size 18px
    color: #343537
    position relative
    line-height 18px
    max-width: 620px
    width 100%
    margin-top 20px

    &:last-of-type
        margin-bottom 20px

    &:hover
        cursor pointer

    @media screen and (max-width 720px)
        font-size 14px

.typical-checkbox
    appearance none
    width: 23px
    height: 20px
    box-sizing: border-box
    z-index: 10
    margin 2px 10px 0 0

.typical-checkmark
    position: absolute
    top: 50%
    left 0%
    transform: translateY(-50%)
    content: ''
    display inline-block
    background: url(../img/all/dots.png) no-repeat
    width 23px
    height 20px

.typical-checkbox:checked + .typical-checkmark
    background url(../img/all/dots-active.png) no-repeat

.typical-checkbox:focus + .typical-checkmark
    background url(../img/all/dots-active.png) no-repeat


.white__heading
    z-index: 10
    .separator
        svg
            margin 0 auto

        &:after
            background-color: #ffffff
            width: calc(50% - 20px);
            right: 0%

        &:before
            background-color: #ffffff
            width: calc(50% - 20px);
            left: 0%
            content: ''
            display: block
            height: 1px
            top 5px
            position: absolute

    &-title
        color whiteColor
        font-size 36px
        text-align center
        white-space: pre-line

        @media screen and (max-width 1280px)
            font-size 24px
        
        @media screen and (max-width 767px)
            font-size 20px
    

#pagingControls
    ul
        display flex
        align-items

        li, a
            font-family: 'HelveticaNeue-Bold', sans-serif
            font-size 18px
            line-height 24px
            color: semiPurple
            display flex
            align-items center
            justify-content center
        
        a
            width 100%
            height 100%
        
        li
            position relative
            width 48px
            height 40px
            text-align center
            margin-right 15px

            &:hover
                cursor pointer

            &:before
                position absolute
                content: ''
                display block
                top: 0px
                left: 0%
                background url('../img/account/table-btn.png') center center no-repeat
                background-size: cover
                width 48px
                height 40px
                z-index -1

        .active
            color: whiteColor

            &:before
                background url('../img/account/table-btn-active.png') center center no-repeat
                z-index: -1


.fc-row.fc-week.fc-widget-content
    &:last-of-type
        .fc-content-skeleton
            padding-bottom: 0
            
    
.news-entry__wraptext.blog-entry__wraptext
    flex 1 1 auto
    flex-direction: column
    display flex

.develop
    background: linear-gradient(to bottom, rgb(68, 101, 168) 0%, rgb(118, 164, 216) 60%, rgb(175, 201, 236) 100%)
    display flex
    justify-content center
    align-items center
    position relative
    flex-direction: column

    p
        margin 10px 20px 0px
        font-size 16px
        line-height 18px
        color: #ffffff
        white-space: pre-line
        text-align center
        font-family: 'HelveticaNeue-Roman',sans-serif

        @media screen and (max-width 1280px)
            white-space: inherit
            margin-bottom 10px
    
    a
        display block
        font-family: 'HelveticaNeue-Bold',sans-serif
        color: #ffffff
        text-decoration: underline

    .dev-close
        max-width: 120px
        margin 0 auto 10px
        min-height: 40px
    
footer
    .develop
        position fixed
        bottom: 0
        left 0
        width 100%
        z-index 100
    
        .dev-close
            position: absolute
            top 20px
            right 20px
            background-image: url('../img/account/close.png')
            background-position: center
            background-size: cover
            background-repeat: no-repeat
            min-height: 15px
            max-height 15px
            max-width: 15px
            min-width 15px
            transition: all 0.3ms ease

            &:hover
                cursor pointer
            
            @media screen and (max-width 1280px)
                top 10px
                right 10px

 

@media screen and (max-width 1280px)
    header
        .develop
            margin-top 50px