fontSize = 16px

semiViolet = #2b3384
whiteColor = #FFF
themeColor = #0080c6
darkCerulean = #00598A
semiBlue = #379eda
semiPurple = #5073b6
semiBlack = #343537
bgHeaderColor = #f1f3f7
semiWhite = #f0f2f4
submenuItemText = #3e3f40
semiGray = #f0f2f4

// Height & width
siteMinWidth = 320px
$siteMaxWidth = 1920px

// Breakpoints
xs = 481px
sm = 550px
md = 768px
lg = 992px  
xl = 1200px
xxl = 1600px

// Overlays
addOverlay = rgba(232, 234, 77, 0.35)
darkOverlay = rgba(0, 0, 0, 0.35)
lightOverlay = rgba(255, 255, 255, 0.8)
themeOverlay = rgba(86, 142, 204, 0.45)