@import '../../common/common-stylus/vars'

//-----------------------start geneeral styles ------------------------
.project-main
    .container
        flex-direction column

.tpc-slider.general-partners
    background-color: #f0f2f4
//-----------------------end general styles------------------------

.project-main
    font-family: 'HelveticaNeue-Light',sans-serif
    font-size: 16px
    line-height: 24px
    color: #343537
    text-transform: none

    

    @media screen and (max-width 767px)
        font-size 14px
        letter-spacing: normal
        line-height 20px
        
    .project-title
        white-space: pre-line
        line-height: 40px

    .container
        flex-direction column
    
        img
            @media screen and (max-width 1280px)
                margin-left: 40px !important
                margin-right: 40px !important
                margin-bottom: 40px

            @media screen and (max-width 767px)
                max-width inherit 
                width 100% !important
                height auto !important
                margin-left: auto !important
                margin-right: auto !important
                margin-bottom: 20px

.section-projects__info
    display flex
    justify-content: space-between
    
    @media screen and (max-width 1280px)
        flex-direction: column

    &-column
        max-width: 67%

        @media screen and (max-width 1280px)
            max-width 100%
            min-width 100%
    
.projects__info-column--title
    color: lightViolet
    font-size 22px
    line-height 26px
    letter-spacing 0.1em
    font-family 'HelveticaNeue-Roman', sans-serif
    text-transform: none

.section-projects__info-column.partners
    max-width: 320px
    width 100%

    @media screen and (max-width 1280px)
        max-width inherit
        display flex
        flex-wrap: wrap

        .section-projects__partners
            min-width: 330px
            max-width 330px
            width 100%
            margin-bottom: 30px

            &:not(:last-of-type)
                margin-right 20px   

.projects__info-column--video
    margin-bottom: 60px
    margin-top: 60px
    border: 5px solid #fff
    box-sizing: border-box
    width: 100%
    box-shadow: 0 0 20px 0 rgb(0,0,0)
    height 490px

    img
        max-width 100%
        max-height 100%
        width auto
        object-fit: cover
        height auto

// start style block project-partners
.section-projects__partners
    &:first-of-type
        margin-bottom: 80px

    &--img_wrap
        align-items: center
        border: 1px dotted #ccc
        background-color: #fff
        display flex
        justify-content center
        width 100%
        height 190px
        
    &--img
        max-width 80%
        max-height 80%
        object-fit: cover

.section-projects__partners-subtitle
    font-size 22px
    font-family 'HelveticaNeue-Bold', sans-serif
    color semiViolet

    .separator
        margin 5px 0 30px 0

.section-projects__partners-btn
    margin-top 30px
    height 70px
    width 100%
    color whiteColor

.section-projects__info-column
    .projects-list__wrap
        margin-bottom: 40px
        padding-left 55px
        position relative

        &:before
            content: ''
            display: block
            top: 0%
            left: 0px
            position: absolute
            background-repeat: no-repeat
            background-size: cover
            width 46px
            height 40px

        &:nth-of-type(2):before
            background-image: url('../img/projects/step-1.png')
        
        &:nth-of-type(3):before
            background-image: url('../img/projects/step-2.png')

        &:nth-of-type(4):before
            background-image: url('../img/projects/step-3.png')


.projects-list__title
    position relative

.projects-list__title
    font-size 16px
    line-height 18px
    color semiPurple
    font-family 'HelveticaNeue-Bold', sans-serif
    text-transform uppercase

.projects-list__subtitle, .projects-mainlist__item-text
    font-size 16px
    line-height 30px
    color semiBlack

.projects-list__subtitle
    font-family 'HelveticaNeue-Medium', sans-serif

.projects-mainlist__item-text
    font-family 'HelveticaNeue-Light', sans-serif

.projects-mainlist
    margin-bottom: 20px
    list-style-type: disc
    padding-left: 10px
    margin-left 20px

.projects-mainlist__item
    color: #0080c6

.projects-contactslist__item-text
    font-family 'HelveticaNeue-Light', sans-serif
    font-size 16px
    line-height 24px
    color semiBlack
    text-transform none

.projects-contactslist__item:nth-child(1)
    .projects-contactslist__item-text:nth-child(1)
        margin-right: 20px

.projects-contactslist__item:nth-child(2)
    .projects-contactslist__item-text:nth-child(1)
        margin-right: 32px
    

.project__btn-info
    color semiPurple
    font-size 18px
    line-height 36px
    font-family 'HelveticaNeue-Bold', sans-serif

    @media screen and (max-width 1280px)
        margin-top: 20px

.project__btn-price
    margin-left 30px
    color semiBlack
    font-family 'HelveticaNeue-Black', sans-serif

.project__btn-group
    display flex
    justify-content space-between
    margin-top: 45px

    @media screen and (max-width 1280px)
        flex-direction: column

.project__btn-link
    text-transform uppercase
    height 60px
    max-width 400px
    width 100%

    &:hover
        cursor pointer
    
    @media screen and (max-width 1280px)
        &:not(:last-child)
            margin-bottom 20px

.popup-wrap
    .separator
        svg
            margin 0 auto


.defaultTitle.popup-title.projects--popup-title
    line-height 36px
    font-size 22px
    font-family 'HelveticaNeue-Bold', sans-serif
    color semiViolet
    text-transform uppercase
    text-align center

    span
        display block
        font-size 30px


.popup__attorney
    .projects--popup-title__wrap
        svg
            margin:  0 auto
    
    .projects-popup-subtitle
        font-family 'HelveticaNeue-Roman', sans-serif
        font-size 18px
        line-height 30px
        color semiPurple
        text-align center
        padding-right: 5px
        padding-left: 5px
        margin-bottom 30px
    
    .projects-popup-descr
        font-family 'Helvetica-Regular', sans-serif
        padding-right: 5px;
        padding-left: 5px;
        color: #010101
        text-align center
        margin-bottom 30px

    .popup-btn__group
        display flex
        justify-content: center
        
        .btn-template
            height 55px
            max-width: 230px
            width 100%
            font-size 14px

            &:first-of-type
                margin-right: 40px

.nomanation__label
    display flex
    flex-direction: row-reverse
    justify-content: flex-end
    align-items flex-start
    font-family 'Helvetica-Regular', sans-serif
    font-size 18px
    color: #343537
    position relative
    line-height 18px
    max-width: 620px
    width 100%
    margin-top 20px

    &:last-of-type
        margin-bottom 20px

    &:hover
        cursor pointer

.nomination__checkmark
    position: absolute
    top: 50%
    left 0%
    transform: translateY(-50%)
    content: ''
    display inline-block
    background: url(../img/all/dots.png) no-repeat
    width 23px
    height 20px

.nomination__input:checked + .nomination__checkmark
    background url(../img/all/dots-active.png) no-repeat

.nomination__input:focused + .nomination__checkmark
    background url(../img/all/dots-active.png) no-repeat


.nomination__input
    appearance none
    width: 23px
    height: 20px
    box-sizing: border-box
    z-index: 3
    margin 2px 10px 0 0

.nomination__input::-ms-expand
    display none //this style disable input radio button for IE

.projects__btn-pay
    margin-top 30px
    max-width: 620px
    width 100%
    height 70px
    text-transform uppercase

.section-projects__info.reg
    display flex
    flex-direction: column

.projects__info-column--title.reg
    font-size 30px

.projects-infotext
    color: semiBlack
    font-size 16px
    line-height 30px
    font-family 'HelveticaNeue-Light', sans-serif
    max-width: 870px
    width 100%
    margin 60px 0

.projects-list__wrap
    padding-left: 60px

.projects-list__title.reg
    &:before
        content: ''
        display: block
        top: 0%
        left: -60px
        position: absolute
        background-repeat: no-repeat
        background-size: cover
        width 46px
        height 40px
        background-image: url('../img/projects/step-3.png')

.user-info__list-item
    width 100%
    display flex

    @media screen and (max-width 760px)
        flex-direction column

    .personal-info__title
        max-width 400px
        max-height 20px
        line-height 18px
        width 100%
        margin-bottom: 20px

        &:last-of-type
            max-width inherit
    
    .user-info__text
        max-width 600px
        width 100%

.title
    font-size 18px
    font-family 'HelveticaNeue-Bold', sans-serif
    color semiPurple
    line-height 18px

    @media screen and (max-width 760px)
        font-size 16px
        line-height 16px

.text
    font-size 18px
    font-family 'HelveticaNeue-Light'
    color semiBlack
    line-height 18px
    
    @media screen and (max-width 760px)
        font-size 16px
        line-height 16px

.user-info__list
    margin-top 60px

.license-title.title
    margin-bottom 10px

.license-link.title
    color: #2d3484
    margin-right 0px
    max-width: 400px
    width 100%
    display: inline-block

// form

.committee-membership__title
    margin-bottom: 20px

.personal-info__form
    margin-top: 30px

.personal-info__title
    font-size: 18px
    color: #5073b6
    line-height: 2
    font-family: 'HelveticaNeue-Bold', sans-serif
    display: flex
    flex-direction: column
    margin-bottom: 30px

.personal-info__form input[placeholder]
    font-style: italic
    font-size: 14px
    font-family: 'HelveticaNeue-Light', sans-serif
    color: #343537
    line-height: 2.571


.personal-info__label
    display flex
    flex-direction column
    margin-bottom 30px

    .personal-info__input__date
        width 200px
    
        @media screen and (max-width:1280px){
            width 33%
        }

        &:not(:last-child)
            margin-right 10px

        &:first-child
            @media screen and (max-width 760px){
                width 29%
            }

.personal-info__input
    border 1px solid rgb(219, 224, 234)
    margin-top 16px
    height 60px
    max-width 620px
    width 100%
    box-sizing border-box
    padding-left 28px
    transition 0.2s all ease-in-out
    font-style normal

    &:focus
        border 2px solid semiPurple

    &:hover
        border 1px solid rgb(219, 224, 234)
    

.personal-info__form
    input[placeholder]
        font-style italic
        font-size 14px
        font-family 'HelveticaNeue-Light', sans-serif
        color rgb(52, 53, 55)
        line-height: 2.571
        
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button
        -webkit-appearance none
        -moz-appearance none
        -ms-appearance none
        -o-appearance none 
        appearance none
        margin 0

    input[type=number]
        -moz-appearance:textfield
        
    select:-moz-focusring 
        color transparent
        text-shadow 0 0 0 #000

.personal-info__label-subtitle
    font-size 14px
    line-height 24px
    color: semiBlack
    font-family: 'HelveticaNeue-Light', sans-serif
    font-style: italic

.account-checkbox__wrap
    display flex
    flex-direction row
    align-items center
    position relative
    margin-bottom 20px

.account-checkbox__input
    appearance none
    margin 0
    width 23px
    height 20px
    box-sizing border-box
    position relative
    z-index 3

.account-checkbox__input-wrap
    width 23px
    height 23px

.account-checkbox__input-checkmark
    position absolute
    display inline-block
    width 23px
    height 23px
    left 0
    top 0
    transform translateY(25%)
    
    &:after
        display block
        content ''
        width 23px
        height 20px
        background url('../img/all/dots.png') no-repeat
        position absolute
        top 50%
        transform translateY(-50%)
        z-index: 1

.account-checkbox__input-wrap input:checked ~ .account-checkbox__input-checkmark:after
    background url('../img/all/dots-active.png') no-repeat

.account-checkbox__descr
    margin-left 5px
    font-family 'Helvetica-Regular'
    font-size 18px
    line-height 30px

    @media screen and (max-width 760px)
        font-size 16px

.form-typical-subtitle
    font-family: 'HelveticaNeue-Roman', sans-serif
    color: #5073b6
    font-size 30px
    line-height 36px
    margin-top 60px
    margin-bottom 30px

.personal-info__label-points
    font-size 14px
    line-height 24px
    color: #3877bb
    font-family: 'HelveticaNeue-Light', sans-serif
    font-style: italic 

.account-submit__wrap
    display flex

.account-payment-amount__wrap
    display flex
    align-items center

.account-payment-amount__user
    margin-left 50px
    font-size 18px
    line-height 36px
    color: #343537
    font-family 'HelveticaNeue-Black', sans-serif

.personal-info__form-submit
    max-width: 330px
    width 100%
    height 70px
    text-transform uppercase
    margin-top 40px

    &:first-of-type
        margin-right: 20px

.vote__wrap
    display flex
    flex-wrap wrap
    justify-content space-between

    @media screen and (max-width 1280px)
        flex-direction column
        flex-wrap nowrap

.vote__list-btn,
.vote__submit
    height 60px
    text-transform uppercase
    margin-top 30px
    font-size 16px
    font-family 'Helvetica-Bold', sans-serif

    &:hover
        cursor pointer
    
    @media screen and (max-width 767px)
        font-size 12px
        height 40px

// active progress bar, delete this part when functionality voiting will be complete
// this only for visual css styles

.vote__list
    .vote__list-item:nth-child(1)
        .vote__progressbar-active
            width 50%
    
    .vote__list-item:nth-child(2)
        .vote__progressbar-active
            width 5%

    .vote__list-item:nth-child(3)
        .vote__progressbar-active
            width 67%

    .vote__list-item:nth-child(4)
        .vote__progressbar-active
            width 10%

    .vote__list-item:nth-child(5)
        .vote__progressbar-active
            width 15%

// end stle for active progress bar


.popup__vote
    .vote__popup-wrap
        svg
            margin 0 auto
    
        h4, .vote__popup-title
            font-size 30px
            line-height 36px
            color semiViolet
            text-align center
            font-family 'Helvetica-Bold', sans-serif
            text-transform uppercase

    .h5, .vote__popup-subtitle
        font-size 18px
        line-height 30px
        color #5073b6
        font-family 'HelveticaNeue-Roman', sans-serif
        text-align center
        max-width 350px
        width 100%
        margin 0 auto
        margin-bottom 40px
    
    .vote__popup-descr
        font-size 16px
        line-height 24px
        font-family 'Helvetica-Regular', sans-serif
        color #010101

    .popup-btn__group
        display flex
        height 60px
        margin-top 50px

        .btn-template
            &:first-of-type
                margin-right 20px

// vote-form
.vote__form
    display flex
    flex-direction column

    h3, .vote__list-title, .vote__form-title
        margin-bottom 20px

.vote__label
    display flex
    flex-direction row-reverse
    align-items center
    justify-content flex-end
    font-family 'Helvetica-Regular', sans-serif
    font-size 20px
    color #343537
    
    &:not(:last-child)
        margin-bottom 20px

    &:hover
        cursor pointer
    
    @media screen and (max-width 767px)
        font-size 16px

        &:not(:last-child)
            margin-bottom 10px


.vote__textarea
    margin-left: 43px
    margin-top 25px
    max-height 92px
    max-width inherit
    padding-left 30px
    box-sizing border-box
    resize: none
    padding-top 20px
    font-style normal
    outline none
    overflow auto
    border 1px solid #dbe0ea

    @media screen and (max-width 767px)
        padding-top 10px
        padding-left 20px
    
.vote__textarea[placeholder]
    font-size 14px
    line-height 14px
    font-family 'HelveticaNeue-Light', sans-serif
    font-style italic


.vote__radio-wrap
    height 20px
    width 22px
    position relative
    margin-right 20px

.vote__radio-checkmark
    width 22px
    height 20px
    position absolute
    top 0%
    left 0%

    &:before
        background-image: url('../img/all/dots.png')
        background-repeat no-repeat
        background-size cover
        background-position center
        content ''
        display block
        position absolute
        width inherit
        height inherit
        left 0%
        top 0%


.vote__radio
    appearance none

.vote__radio:checked ~ .vote__radio-checkmark:before
    z-index 10
    background-image url('../img/all/dots-active.png')