@import '../../common/common-stylus/vars'


.account-join
    .account-checkbox__descr
        font-size 18px
        margin-left 13px

    .account-checkbox__input-checkmark
        top -5px


.user-info__list
    margin-bottom 35px

.user-info__list-item
    margin-bottom 20px
    width 100%
    display flex

    .personal-info__title
        line-height 18px
        max-width 320px
        max-height 20px
    
    .user-info__text
        font-size 18px
        line-height 36px
        max-width 320px