@import '../../common/common-stylus/vars'
.account-join-aau
    .controlpanel__right
        justify-content flex-end


.title
    font-size 18px
    font-family 'HelveticaNeue-Bold', sans-serif
    color semiPurple
    line-height 18px

    @media screen and (max-width 760px)
        font-size 16px
        line-height 16px

.text
    font-size 18px
    font-family 'HelveticaNeue-Light'
    color semiBlack
    line-height 18px
    
    @media screen and (max-width 760px)
        font-size 16px
        line-height 16px

.account-join
    .account-checkbox__descr
        font-size 18px
        margin-left 13px

    .account-checkbox__input-checkmark
        top -2px


.user-info__list
    margin-bottom 35px

.user-info__list-item
    margin-bottom 20px
    width 100%
    display flex

    @media screen and (max-width 760px)
        flex-direction column

    .personal-info__title
        max-width 400px
        max-height 20px
        line-height 18px
        width 100%
    
    .user-info__text
        max-width 600px
        width 100%

#license-user 
    @media screen and (max-width 760px)
        margin-top 20px
    
    @media screen and (max-width 420px)
        margin-top 40px

.account-submit__wrap
    display flex
    margin-bottom 60px

    @media screen and (max-width 1280px)
        flex-direction column
        justify-content center

    .personal-info__form-submit
        box-sizing border-box
        max-width 620px
        width 100%

        @media screen and (max-width 1280px)
            max-width inherit
        
        @media screen and (max-width 420px)
            white-space normal
            padding 0 20px

        &:first-child
            margin-right 40px

            @media screen and (max-width 1280px)
                margin-bottom 30px

.account-payment-amount__wrap
    display flex
    align-items center
    margin-bottom 40px

.account-payment-amount__user
    font-size 24px
    font-family 'HelveticaNeue-Black', sans-serif
    color semiBlack
    text-align left
    margin-left 30px

    @media screen and (max-width 760px)
        font-size 16px
        margin-left 0
        text-align right
        flex 1 0

.certificate-title, .committee-membership__title
    line-height 36px

    @media screen and (max-width 760px)
        line-height 20px

.certificate-text, .committee-membership__text 
    margin-bottom 30px

.more-info
    @media screen and (max-width 760px)
        display none

.agreement-text
    margin-bottom 20px

.agreement-wrap 
    margin-bottom 40px
    margin-top 60px

.committee
    @media screen and (max-width 1280px)
        font-size 16px

.committee-membership__wrap
    .account-checkbox__descr
        @media screen and (max-width 760px)
            font-size 14px